{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% macro checkboxesInput(layout, value, errors) %}
    {{ govukRadios({
		idPrefix: layout.metaDataName,
		name: layout.metaDataName,
		errorMessage: errors[layout.metaDataName] | errorMessage,
		items: layout.items | selectItems({valueKey: 'value', labelKey: 'text', selectedValue: value})
	}) }}
{% endmacro %}
