{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% macro checkboxesInput(layout, value) %}
	{{ govukRadios({
		idPrefix: layout.metaDataName,
		name: layout.metaDataName,
		items: layout.items
	}) }}
{% endmacro %}
