{% from "govuk/components/input/macro.njk" import govukInput %}
{% macro dateInput(layout, value) %}

    <div class="govuk-form-group {{ 'govuk-form-group--error' if (errors['keyDates.submissionDateInternal'] !== undefined and
            errors['keyDates.submissionDateInternal'] !== false) else '' }}">
        <label class="govuk-label font-weight--700" for="submissionDateInternal">
            {{ layout.label }}
        </label>
        <div id="submissionDateInternal-hint" class="govuk-hint">
            {{ layout.hint }}
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="govuk-grid-row pins-date-form-group">
                {{ govukInput({
				label: {
					text: "Day",
					classes: "govuk-hint"
				},
				id: [layout.metaDataName, '.day']|join,
				name: [layout.metaDataName, '.day']|join,
				value: values['keyDates.submissionDateInternal'] |datestamp({format: 'dd'})
			}) }}
                {{ govukInput({
				label: {
					text: "Month",
					classes: "govuk-hint"
				},
				id: [layout.metaDataName, '.month']|join,
				name: [layout.metaDataName, '.month']|join,
				value: values['keyDates.submissionDateInternal'] |datestamp({format: 'MM'})
			}) }}
                {{ govukInput({
				label: {
					text: "Year",
					classes: "govuk-hint"
				},
				id: [layout.metaDataName, '.year']|join,
				name: [layout.metaDataName, '.year']|join,
				value: values['keyDates.submissionDateInternal'] |datestamp({format: 'yyyy'})
			}) }}
            </div>
        </div>
    </div>
{% endmacro %}
