{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% macro radiosInput(layout, value, errors, fieldset) %}
    {{ govukRadios({
		idPrefix: layout.metaDataName,
		name: layout.metaDataName,
		fieldset: fieldset,
		errorMessage: errors[layout.metaDataName] | errorMessage,
		items: layout.items | selectItems({valueKey: 'value', labelKey: 'text', selectedValue: value if value else ''})
	}) }}
{% endmacro %}
