{% macro textInput(layout, value, errors) %}
    <div class="govuk-form-group">

		<label class="govuk-label font-weight--700" for="{{layout.metaDataName}}">
           {{layout.label}}
        </label>

		<div id="{{layout.metaDataName}}-hint" class="govuk-hint">
            {{layout.hint}}
        </div>

		<input
            class="govuk-input govuk-!-width-two-thirds"
            id="{{layout.metaDataName}}"
            name="{{layout.metaDataName}}"
            type="text"
            value="{{value}}"
            aria-describedby="{{layout.metaDataName}}-hint"
            maxlength="{{layout.maxLength}}">

	</div>
{% endmacro %}
