{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro textInput(layout, value, errors) %}
	{{ govukInput({
  		name: layout.metaDataName,
  		id: layout.metaDataName,
  		label: {
  			text: layout.label,
			classes: 'font-weight--700'
		},
		classes: "govuk-!-width-two-thirds",
		errorMessage: errors[layout.metaDataName] | errorMessage,
		value: value,
		hint: {
			text: layout.hint
		}
	}) }}
{% endmacro %}
