@import "../govuk-frontend/govuk/settings/_spacing";
@import "../govuk-frontend/govuk/helpers/_spacing";

.pins-button-group {
  margin-top: govuk-spacing(9);
  display: flex;
  justify-content: space-between;
}
