@use "../govuk-frontend/govuk/helpers/_colour" as color;
@use "../../1-settings/_settings.global.scss" as pins-colours;

.pins-masthead {
	border-bottom: 1px solid color.govuk-colour("blue");
	color: color.govuk-colour("white");
	background-color: color.govuk-colour("blue");
	margin-top: -16px;

	h1 {
		color: color.govuk-colour("white");
	}
}

.pins-masthead-summary {
	background-color:  pins-colours.$pins-colours-grey-100;

	.govuk-heading-xl {
		margin-bottom: 10px;
	}
}
