.pins-summary-list--inline {
  .govuk-summary-list__row {
    display: flex;
    justify-content: space-between;
  }
  .govuk-summary-list__key {
    display: block;
    width: auto;
  }
  .govuk-summary-list__value {
    display: block;
    padding-right: 0;
    text-align: right;
    width: auto;
  }
}

.pins-summary-list--fullwidth-value {
	.govuk-summary-list__key,
	.govuk-summary-list__actions {
    display: none;
  }

	.govuk-summary-list__value {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.govuk-list {
			display: block;
			width: 100%;

			li {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
			}
		}
	}
}
