{%- extends "app/layouts/app-two-column.layout.njk" -%}

{%- from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner -%}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "govuk/components/accordion/macro.njk" import govukAccordion -%}
{%- from "govuk/components/inset-text/macro.njk" import govukInsetText -%}
{%- from "../components/status-tag.njk" import statusTag -%}

{%- set containerSize = "xl" -%}
{%- set pageTitle = "Appeal details - GOV.UK" -%}

{% set backLinkUrl = '/appeals-service/appeals-list' %}
{% set backLinkText = 'Back to National list' %}

{%- set notificationBannerHtml -%}
	<p class="govuk-notification-banner__heading">
		LPA questionnaire is ready for review
		<br />
		<a class="govuk-notification-banner__link" href="#">Review project documentation</a>
	</p>
{%- endset -%}

{% macro linkedAppealsList(linkedAppeals) %}
  {% if linkedAppeals | length > 1 %}
    <ul class="govuk-list">
      {% for linkedAppeal in linkedAppeals %}
        <li><a href="/appeals-service/appeal-details/{{ linkedAppeal.appealId }}" class="govuk-link">{{ linkedAppeal.appealReference }}</a></li>
      {% endfor %}
    </ul>
  {% elseif linkedAppeals | length === 1 %}
    	<a href="/appeals-service/appeal-details/{{ linkedAppeals[0].appealId }}" class="govuk-link">{{ linkedAppeals[0].appealReference }}</a>
  {% else %}
		No linked appeals
  {% endif %}
{% endmacro %}

{%- set caseTimetableHtml -%}
	{%- if appeal.startedAt -%}
		{{ govukSummaryList({
			rows: [{
				key: {
					text: "Start date"
				},
				value: {
					text: appeal.startedAt | displayDate({ condensed: true }) if appeal.startedAt else ''
				},
				actions: {
					items: [{
						href: "#",
						text: "Change",
						visuallyHiddenText: "Start date"
					}]
				}
			}, {
				key: {
					text: "LPA Questionnaire due"
				},
				value: {
					text: appeal.timetable.lpaQuestionnaireDueDate | displayDate({ condensed: true }) if appeal.timetable.lpaQuestionnaireDueDate else ''
				},
				actions: {
					items: [{
						href: "#",
						text: "Change",
						visuallyHiddenText: "LPA Questionnaire due"
					}]
				}
			}, {
				key: {
					text: "Statement review due"
				},
				value: {
					text: appeal.timetable.statementReviewDate | displayDate({ condensed: true }) if appeal.timetable.statementReviewDate else ''
				},
				actions: {
					items: [{
						href: "#",
						text: "Change",
						visuallyHiddenText: "Statement review due"
					}]
				}
			}, {
				key: {
					text: "Final comment review due"
				},
				value: {
					text: appeal.timetable.finalCommentReviewDate | displayDate({ condensed: true }) if appeal.timetable.finalCommentReviewDate else ''
				},
				actions: {
					items: [{
						href: "#",
						text: "Change",
						visuallyHiddenText: "Final comment review due"
					}]
				}
			}, {
				key: {
					text: "Site visit"
				},
				value: {
					text: appeal.timetable.siteVisitDueDate | displayDate({ condensed: true }) if appeal.timetable.siteVisitDueDate else ''
				},
				actions: {
					items: [{
						href: "#",
						text: "Change",
						visuallyHiddenText: "Site visit"
					}]
				}
			}]
		}) }}
	{%- else -%}
		{%- set caseTimetableInsetHtml -%}
			<p>Case not started</p>
			<a href="#" class="govuk-link">Review appellant case</a>
		{%- endset -%}
		{{ govukInsetText({
			html: caseTimetableInsetHtml,
			classes: "govuk-!-margin-top-0"
		}) }}
	{%- endif -%}
{%- endset -%}

{%- macro teamMemberHtml(teamMember) -%}
	{%- if teamMember -%}
		{%- if teamMember.name -%}
			<p class="govuk-!-margin-0">{{ teamMember.name }}</p>
		{%- endif -%}
		{%- if teamMember.email -%}
			<p class="govuk-!-margin-0">{{ teamMember.email }}</p>
		{%- endif -%}
		{%- if teamMember.phone -%}
			<p class="govuk-!-margin-0">{{ teamMember.phone }}</p>
		{%- endif -%}
	{%- else -%}
		<p class="govuk-!-margin-0">No project members have been added yet</p>
	{%- endif -%}
{%- endmacro -%}

{%- block pageHeading -%}
	{{
		govukNotificationBanner({
			titleText: "Important",
			titleHeadingLevel: 3,
			html: notificationBannerHtml
		})
	}}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-l govuk-!-margin-bottom-3">Appeal {{appeal.shortReference}}</span>
			<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Case details</h1>
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	{{ statusTag(appeal.status) }}
	{{ govukSummaryList({
		classes: "govuk-summary-list--no-border",
		rows: [{
				key: {
					text: "Site address"
				},
				value: {
					text: appeal.siteAddress
				}
			}, {
				key: {
					text: "Local planning authority"
				},
				value: {
					text: appeal.localPlanningAuthority
				}
			}]
		})
	}}
	{{
		govukAccordion({
			id: "accordion-default-" + appeal.id,
			items: [{
				heading: {
					text: "Case overview"
				},
				content: {
					html: govukSummaryList({
						rows: [{
							key: {
								text: "Appeal type"
							},
							value: {
								text: appeal.type
							},
							actions: {
								items: [{
									href: "#",
									text: "Change",
									visuallyHiddenText: "Appeal type"
								}]
							}
						}, {
							key: {
								text: "Case procedure"
							},
							value: {
								text: appeal.procedureType
							},
							actions: {
								items: [{
									href: "#",
									text: "Change",
									visuallyHiddenText: "Case procedure"
								}]
							}
						}, {
							key: {
								text: "Appellant name"
							},
							value: {
								text: appeal.appellant.name
							},
							actions: {
								items: [{
									href: "#",
									text: "Change",
									visuallyHiddenText: "Appellant name"
								}]
							}
						}, {
							key: {
								text: "Agent name"
							},
							value: {
								text: appeal.agent.name
							},
							actions: {
								items: [{
									href: "#",
									text: "Change",
									visuallyHiddenText: "Agent name"
								}]
							}
						}, {
							key: {
								text: "Linked appeals"
							},
							value: {
								html: linkedAppealsList(appeal.linkedAppeals)
							},
							actions: {
								items: [{
									href: "#",
									text: "Change",
									visuallyHiddenText: "Linked appeals"
								}]
							}
						}, {
							key: {
								text: "Other appeals"
							},
							value: {
								html: linkedAppealsList(appeal.otherAppeals)
							},
							actions: {
								items: [{
									href: "#",
									text: "Change",
									visuallyHiddenText: "Other appeals"
								}]
							}
						}, {
							key: {
								text: "Allocation details"
							},
							value: {
								text: appeal.allocationDetails
							},
							actions: {
								items: [{
									href: "#",
									text: "Change",
									visuallyHiddenText: "Allocation details"
								}]
							}
						}, {
							key: {
								text: "LPA reference"
							},
							value: {
								text: appeal.lpaReference
							},
							actions: {
								items: [{
									href: "#",
									text: "Change",
									visuallyHiddenText: "LPA reference"
								}]
							}
						}, {
							key: {
								text: "Decision"
							},
							value: {
								text: appeal.decision
							},
							actions: {
								items: [{
									href: "#",
									text: "Change",
									visuallyHiddenText: "Decision"
								}]
							}
						}]
					})
				}
			}, {
				heading: {
					text: "Case timetable"
				},
				content: {
					html: caseTimetableHtml
				}
			}, {
				heading: {
					text: "Case documentation"
				},
				content: {
					html: govukTable({
						firstCellIsHeader: true,
						head: [
							{
								text: "Documentation"
							},
							{
								text: "Status"
							},
							{
								text: "Due date"
							},
							{
								text: "Action"
							}
						],
						rows: [
							[
								{
									text: "Appellant case"
								},
								{
									text: appeal.documentationSummary.appellantCase.status | replace("_", " ") | capitalize
								},
								{
									text: appeal.documentationSummary.appellantCase.dueDate | displayDate({ condensed: true }) if appeal.documentationSummary.appellantCase.dueDate else ''
								},
								{
									html: "<a href=\"#\" class=\"govuk-link\">Review</a>"
								}
							],
							[
								{
									text: "LPA Questionnaire"
								},
								{
									text: appeal.documentationSummary.lpaQuestionnaire.status | replace("_", " ") | capitalize
								},
								{
									text: appeal.documentationSummary.lpaQuestionnaire.dueDate | displayDate({ condensed: true }) if appeal.documentationSummary.lpaQuestionnaire.dueDate else ''
								},
								{
									html: '<a href="/appeals-service/appeal-details/'+  appeal.id + '/lpa-questionnaire-review/' + appeal.lpaQuestionnaireId + '" class="govuk-link">Review</a>'
								}
							]
						]
					})
				}
			}, {
				heading: {
					text: "Case team"
				},
				content: {
					html: govukSummaryList({
						rows: [{
							key: {
								text: "Case officer"
							},
							value: {
								html: teamMemberHtml(appeal.caseOfficer)
							},
							actions: {
								items: [{
									href: "#",
									text: "Change" if appeal.caseOfficer else "Add",
									visuallyHiddenText: "Case officer"
								}]
							}
						}, {
							key: {
								text: "Inspector"
							},
							value: {
								html: teamMemberHtml(appeal.inspector)
							},
							actions: {
								items: [{
									href: "#",
									text: "Change" if appeal.inspector else "Add",
									visuallyHiddenText: "Interested parties"
								}]
							}
						}]
					})
				}
			}]
		})
	}}
{%- endblock -%}
