{%- extends "app/layouts/app-two-column.layout.njk" -%}

{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}

{%- set containerSize = "xl" -%}
{%- set pageTitle = "LPA questionnaire - {{appeal.id}} - GOV.UK" -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-l govuk-!-margin-bottom-3">Appeal {{appeal.shortReference}}</span>
			<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">LPA questionnaire</h1>
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	{%- for section in summaryList.formattedSections -%}
		{{ govukSummaryList(section)}}
	{%- endfor -%}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<form action="" method="POST" novalidate>
				{{ govukRadios({
					name: "review-outcome",
					id: "review-outcome",
					fieldset: {
						legend: {
							text: "What is the outcome of your review?",
							isPageHeading: true,
							classes: "govuk-fieldset__legend--l"
						}
					},
					items: [
						{
							value: "complete",
							text: "Complete"
						},
						{
							value: "incomplete",
							text: "Incomplete"
						}
					]
					})
				}}
				{{ govukButton({
					text: "Continue"
				}) }}
			</form>
		</div>
	</div>
{%- endblock -%}
