{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "app/components/document-list.component.njk" import documentList %}
{% from "app/components/file-uploader_legacy.njk" import fileUploader %}

{% set documentsForType = documents | filter({ Type: documentType }) %}

{% if documentType === 'planning officers report' %}
  {% set pageTitle = 'Update ' + documentType | lpaLabel %}
{% else %}
  {% set pageTitle = 'Update ' + documentType | lpaLabel | lower %}
{% endif %}

{% block beforeContent %}
  {{
		govukBreadcrumbs({
			classes: 'govuk-!-margin-top-3',
			items: [
				{ href: '/appeals-service/case-officer', text: 'Questionnaires for review' },
				{ href: '/appeals-service/case-officer/appeals/' + appeal.AppealId, text: appeal.AppealReference },
        { text: pageTitle }
			]
		})
	}}
{% endblock %}

{% block pageHeading %}
	<h1 class="govuk-heading-l">{{ pageTitle }}</h1>
{% endblock %}

{% block pageContent %}
  <form method="post" enctype="multipart/form-data" novalidate="novalidate">
    {% include 'app/includes/csrf.njk' %}
    {{
      fileUploader({
        text: 'Save and continue',
        name: 'files',
        errorMessage: errors.files | errorMessage,
        hintText: 'The uploaded files will be added to the questionnaire.',
        multiple: true
      })
    }}
    <div class="govuk-button-group">
      {{ govukButton({ text: "Save and continue" }) }}
      <a class="govuk-link" href="/appeals-service/case-officer/appeals/{{ appeal.AppealId }}">Cancel</a>
    </div>
  </form>
{% endblock %}
