{% extends "app/layouts/app.layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "app/components/info-box.njk" import infoBox %}
{%- from "../components/status-tag.njk" import statusTag -%}

{% set pageTitle = 'Questionnaires for review' %}

{% set incompleteAppeals = appeals | filter({ QuestionnaireStatus: 'incomplete_lpa_questionnaire' }) %}
{% set statementsAppeals = appeals | filter({ StatementsAndFinalCommentsStatus: 'available_for_statements' }) %}
{% set finalCommentsAppeals = appeals | filter({ StatementsAndFinalCommentsStatus: 'available_for_final_comments' }) %}
{% set newAppeals = appeals | difference(incompleteAppeals | concat(statementsAppeals) | concat(finalCommentsAppeals)) %}

{% block pageContent %}
	{% if newAppeals.length > 0 %}
		{{
			questionnairesTable({
				caption: 'Incoming questionnaires',
				appeals: newAppeals,
				statusKey: 'QuestionnaireStatus'
			})
		}}
	{% else %}
		<h2 class="govuk-heading-l govuk-!-margin-bottom-3">
			Incoming questionnaires
		</h2>
		{{ infoBox({ text: "No incoming questionnaires", classes: "govuk-!-margin-bottom-8" }) }}
	{% endif %}

	{% if incompleteAppeals.length > 0 %}
		{{
			questionnairesTable({
				caption: 'Incomplete questionnaires',
				appeals: incompleteAppeals,
				statusKey: 'QuestionnaireStatus'
			})
		}}
	{% else %}
		<h2 class="govuk-heading-l govuk-!-margin-bottom-3">
			Incomplete questionnaires
		</h2>
		{{ infoBox({ text: "No incomplete questionnaires" }) }}
	{% endif %}

	{% if statementsAppeals.length > 0 %}
		{{
			questionnairesTable({
				caption: 'Appeals awaiting statements',
				appeals: statementsAppeals,
				hrefPath: '/statements',
				statusKey: 'StatementsAndFinalCommentsStatus'
			})
		}}
	{% else %}
		<h2 class="govuk-heading-l govuk-!-margin-bottom-3">
			Appeals awaiting statements
		</h2>
		{{ infoBox({ text: "No appeals awaiting statements", classes: "govuk-!-margin-bottom-8" }) }}
	{% endif %}

	{% if finalCommentsAppeals.length > 0 %}
		{{
			questionnairesTable({
				caption: 'Appeals awaiting final comments',
				appeals: finalCommentsAppeals,
				hrefPath: '/final-comments',
				statusKey: 'StatementsAndFinalCommentsStatus'
			})
		}}
	{% else %}
		<h2 class="govuk-heading-l govuk-!-margin-bottom-3">
			Appeals awaiting final comments
		</h2>
		{{ infoBox({ text: "No appeals awaiting final comments", classes: "govuk-!-margin-bottom-8" }) }}
	{% endif %}
{% endblock %}

{% macro questionnairesTable(params) %}
	{% set rows = [] %}
	{% for appeal in params.appeals %}
		{% set row = [] %}
		{%
			if params.statusKey === 'StatementsAndFinalCommentsStatus'
			or (params.statusKey === 'QuestionnaireStatus' and ['received', 'incomplete_lpa_questionnaire'] | includes(appeal.QuestionnaireStatus))
		%}
			{% set row = row | concat({
					html: '<a class="govuk-link" href="/appeals-service/case-officer/appeals/' + appeal.AppealId + (params.hrefPath or '')  + '">' + appeal.AppealReference + '</a>'
				})
			%}
		{% else %}
			{% set row = row | concat({ text: appeal.AppealReference }) %}
		{% endif %}

		{% set row = row | concat({ text: appeal.QuestionnaireDueDate }) %}
		{% set row = row | concat({ text: appeal.AppealSite | collapse(', ') }) %}
		{% set row = row | concat({ html: statusTag(appeal[params.statusKey]) }) %}
		{% set rows = rows | concat([row]) %}
	{% endfor %}
	{{
		govukTable({
			caption: params.caption,
			captionClasses: "govuk-table__caption--l",
			head: [
				{ text: "Appeal reference", classes: 'pins-table__cell--l' },
				{ text: "Date due", classes: 'pins-table__cell--m' },
				{ text: "Appeal site" },
				{ text: "Status", classes: 'pins-table__cell--s' }
			],
			rows: rows
		})
	}}
{% endmacro %}