{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% set pageTitle = 'Update listed building description' %}
{% set appealUrl = '/case-officer/appeals/' + appeal.AppealId %}

{% block beforeContent %}
  {{
		govukBreadcrumbs({
			classes: 'govuk-!-margin-top-3',
			items: [
				{ href: '/appeals-service/case-officer', text: 'Questionnaires for review' },
				{ href: appealUrl, text: appeal.AppealReference },
        { text: pageTitle }
			]
		})	
	}}
{% endblock %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
  <form method="post" novalidate="novalidate">
    {% include 'app/includes/csrf.njk' %}
    {{
      govukCharacterCount({
        name: "listedBuildingDescription",
        id: "listedBuildingDescription",
        maxlength: 500,
        value: listedBuildingDescription,
        errorMessage: errors.listedBuildingDescription | errorMessage,
        label: {
          text: pageTitle,
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "This will be appended to the existing description in the questionnaire."
        }
      })
    }}
    <div class="govuk-button-group">
      {{ govukButton({ text: 'Save and continue' }) }}
      <a class="govuk-link" href="{{ appealUrl }}">Cancel</a>
    </div>
  </form>
{% endblock %}