{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = (documentType | lpaLabel | capitalize | pluralize) + ' uploaded' %}
{% set panelText = '' %}

{% if documentType === 'fpa final comment' %}
  {% set panelText = 'Appeal is open for final comments until ' + appeal.canUploadFinalCommentsUntil %}
{% else %}
  {% set panelText = 'Appeal is open for statements until ' + appeal.canUploadStatementsUntil %}
{% endif %}

{% block pageHeading %}{% endblock %}
{% block pageContent %}
	{{
    govukPanel({
		  titleText: pageTitle,
		  html: [
        panelText,
        '<strong>' + appeal.AppealReference + '</strong>'
      ] | join('<br>')
	  })
  }}
	<h2 class="govuk-heading-m">What next?</h2>
	<ul class="govuk-list">
		<li><a href="/appeals-service/case-team" class="govuk-link">Return to task list</a></li>
	</ul>
{% endblock %}
