{% extends "appeals/case-officer/layouts/appeal.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "app/components/document-list.component.njk" import documentList %}
{% from "app/components/file-uploader_legacy.njk" import fileUploader %}

{% set documents = appeal.Documents | filter({ Type: documentType })  %}
{% set pageTitle = 'Upload received ' + (documentType | lpaLabel | lower | pluralize) %}

{% block appealContent %}
  {% if documents.length > 0 %}
    {{
      govukSummaryList({
        rows: [
          {
            key: { text: 'Current files' },
            value: { html: documentList(documents) }
          }
        ]
      })
    }}
  {% endif %}

  <form method="post" enctype="multipart/form-data" novalidate="novalidate">
    {% include 'app/includes/csrf.njk' %}
    {{
      fileUploader({
        text: 'Save and continue',
        name: 'files',
        errorMessage: errors.files | errorMessage,
        hintText: 'The uploaded files will be added to the questionnaire.',
        multiple: true
      })
    }}
    <div class="govuk-button-group">
      {{ govukButton({ text: "Save and continue" }) }}
      <a class="govuk-link" href="/appeals-service/case-officer">Cancel</a>
    </div>
  </form>
{% endblock %}
