{% extends "_layouts/layout-two-thirds.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Appeal a planning decision",
    serviceUrl: "/validation",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block pageContent %}
	{% if errorSummary %}
		{{ govukErrorSummary({
			titleText: "There is a problem",
			errorList: errorSummary
		}) }}
	{% endif %}

	{# ℹ️ All pages extending this one should call {{ super() }} inside `pageContent` block #}
	{# in order to get the `govukErrorSummary` block on top of the entire content. #}
{% endblock %}
