{% extends "app/layouts/app-two-column.layout.njk" %}

{% set pageTitle = errorMessage %}

{% block pageContent %}
  <a href="/validation" class="govuk-link govuk-body">Return to appeal submissions for review</a>
{% endblock %}
