{% extends "_layouts/layout-two-thirds.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{# Macro use to generate a list of documents #}
{% macro documentsList(data)  %}
<ul class="govuk-list">
	<li><a href="#" class="govuk-link" target="_blank">other-documents-1.pdf</a></li>
	<li><a href="#" class="govuk-link" target="_blank">other-documents-2.pdf</a></li>
</ul>
{% endmacro %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "https://www.gov.uk/",
	serviceName: "Appeal a planning decision",
	serviceUrl: "/validation",
	containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
	text: "Back",
	href: ("/validation/outcome-incomplete/" + appealId if appealId else "/validation")
  }) }}
{% endblock %}

{% block pageContent %}
	<h1 class="govuk-heading-xl">
		Check and confirm
	</h1>
{% endblock %}
