{% extends "_layouts/layout-page.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "_includes/components/InfoBox/InfoBox.njk" import InfoBox %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Appeal a planning decision",
    serviceUrl: "/validation",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}
	{% set tableHeadItems = [
		{ text: "Appeal reference" },
		{ text: "Received on" },
		{ text: "Appeal site" }
	]
	%}

	<h1 class="govuk-heading-xl">
		Appeal submissions for review
	</h1>

	<h2 class="govuk-heading-l govuk-!-margin-bottom-1">
		New appeals
	</h2>

	{% if appealsList.newAppeals.length > 0 %}
		{{ govukTable({
			head: tableHeadItems,
			rows: appealsList.newAppeals })
		}}
	{% else %}
		{{ InfoBox("No New Appeals", classes="govuk-!-margin-bottom-8") }}
	{% endif %}

	<h2 class="govuk-heading-l govuk-!-margin-bottom-1">
		Incomplete appeals
	</h2>

	{% if appealsList.incompleteAppeals.length > 0 %}
		{{ govukTable({
			head: tableHeadItems,
			rows: appealsList.incompleteAppeals })
		}}
	{% else %}
		{{ InfoBox("No Incomplete Appeals") }}
	{% endif %}
{% endblock %}
