{% extends "layouts/layout-page.njk" %}

<% set head = [
			{ text: "Appeal reference" },
			{ text: "Received on" },
			{ text: "Appeal site" }
			]
%>

	{% block content %}

		{% from "govuk/components/table/macro.njk" import govukTable %}

		<h1 class="govuk-heading-xl">
		Appeal submissions for review
	</h1>

		<h2 class="govuk-heading-l govuk-!-margin-bottom-1">
		New appeals
	</h2>

		{% if appealsList.newAppeals.length > 0 %}
			{{ govukTable({
			head: head,
			rows: appealsList.newAppeals })
	}}
		{% else %}
			{{ infoBox('No New Appeals') }}
		{% endif %}

		<h2 class="govuk-heading-l govuk-!-margin-bottom-1">
		Incomplete appeals
	</h2>

		{% if appealsList.incompleteAppeals.length > 0 %}
			{{ govukTable({
				head: head,
				rows: appealsList.incompleteAppeals })
		}}
		{% else %}
			{{ infoBox('No Incomplete Appeals') }}
		{% endif %}

	{% endblock %}
