{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = 'Change planning application reference' %}
{% set backLinkUrl = '/validation/appeals/' + appealId %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
	<form method="post" novalidate>
		{% include 'app/includes/csrf.njk' %}
		{{ 
			govukInput({
				id: "PlanningApplicationReference",
				type: 'text',
				name: "PlanningApplicationReference",
				label: { 
					text: pageTitle,
					classes: "govuk-label--l",
					isPageHeading: true
				},
				errorMessage: errors.PlanningApplicationReference | errorMessage,
				value: planningApplicationReference
			})
		}}
		<div class="govuk-button-group">
			{{ govukButton({ text: "Save changes" }) }}
			<a class="govuk-link" href="/validation/appeals/{{ appealId }}">Cancel</a>
		</div>
	</form>
{% endblock %}
