{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = 'Change appeal site' %}
{% set backLinkUrl = '/validation/appeals/' + appealId %}

{% block pageHeading %}
	<h1 class="govuk-heading-l">{{ pageTitle }}</h1>
{% endblock %}

{% block pageContent %}
	<form method="post" novalidate>
		<fieldset class="govuk-fieldset">
			<legend class="govuk-visually-hidden">{{ pageTitle }}</legend>
			{{ 
				govukInput({
					id: 'Address.AddressLine1',
					type: 'text',
					name: "AddressLine1",
					label: { text: 'Building and street' },
					errorMessage: errors['Address.AddressLine1'] and { text: errors['Address.AddressLine1'].msg },
					value: Address.AddressLine1
				})
			}}
			{{ 
				govukInput({
					id: 'Address.AddressLine2',
					type: 'text',
					name: "AddressLine2",
					label: { text: 'Address line 2', classes: "govuk-visually-hidden" },
					errorMessage: errors['Address.AddressLine2'] and { text: errors['Address.AddressLine2'].msg },
					value: Address.AddressLine2
				})
			}}
			{{ 
				govukInput({
					id: 'Address.Town',
					type: 'text',
					name: "Town",
					label: { text: 'Town or city' },
					classes: "govuk-input--width-20",
					errorMessage: errors['Address.Town'] and { text: errors['Address.Town'].msg },
					value: Address.Town
				})
			}}
			{{ 
				govukInput({
					id: 'Address.County',
					type: 'text',
					name: "County",
					label: { text: 'County' },
					classes: "govuk-input--width-20",
					errorMessage: errors['Address.County'] and { text: errors['Address.County'].msg },
					value: Address.County
				})
			}}
			{{ 
				govukInput({
					id: 'Address.PostCode',
					type: 'text',
					name: 'PostCode',
					label: { text: 'Postcode' },
					classes: "govuk-input--width-10",
					errorMessage: errors['Address.PostCode'] and { text: errors['Address.PostCode'].msg },
					value: Address.PostCode
				})
			}}
		</fieldset>

		<div class="govuk-button-group">
			{{ govukButton({ text: "Save changes" }) }}
			<a class="govuk-link" href="/validation/appeals/{{ appealId }}">Cancel</a>
		</div>
	</form>

{% endblock %}
