{% extends "validation/_layout-validation.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backURL }) }}
{% endblock %}

{% block pageContent %}
	{{ super() }}

	<h1 class="govuk-heading-xl">
		What is missing or wrong?
	</h1>

	<p class="govuk-body">
		Appeal reference: {{ appealData.AppealReference }}
	</p>

	<form action="" method="post" novalidate>
		{{ govukCheckboxes({
			idPrefix: "incompleteReasons",
			name: "incompleteReasons",
			errorMessage: errors['incompleteReasons'] and { text: errors['incompleteReasons'].msg },
			items: [
				{ value: 'NamesDoNotMatch', text: "Names do not match", checked: incompleteReasons['NamesDoNotMatch'] },
				{ value: 'Sensitiveinfo', text: "Sensitive information included", checked: incompleteReasons['Sensitiveinfo'] },
				{
					value: 'MissingOrWrongDocs',
					text: "Missing or wrong documents",
					checked: incompleteReasons['MissingOrWrongDocs'],
					conditional: {
						html: govukCheckboxes({
							idPrefix: "MissingOrWrongDocsReasons",
							name: "MissingOrWrongDocsReasons",
							errorMessage: errors['MissingOrWrongDocsReasons'] and { text: errors['MissingOrWrongDocsReasons'].msg },
							items: [
								{ value: 'applicationForm', text: "Application form", checked: MissingOrWrongDocsReasons['applicationForm'] },
								{ value: 'decisionNotice', text: "Decision notice", checked: MissingOrWrongDocsReasons['decisionNotice'] },
								{ value: 'groundsOfAppeal', text: "Grounds of appeal", checked: MissingOrWrongDocsReasons['groundsOfAppeal'] },
								{ value: 'supportingDocuments', text: "Supporting documents", checked: MissingOrWrongDocsReasons['supportingDocuments'] }
							]
						})
					}
				},
				{ value: 'InflamatoryComments', text: "Inflammatory comments made", checked: incompleteReasons['InflamatoryComments'] },
				{ value: 'OpenedInError', text: "Opened in error", checked: incompleteReasons['OpenedInError'] },
				{ value: 'WrongAppealType', text: "Wrong appeal type used", checked: incompleteReasons['WrongAppealType'] },
				{
					value: 'OtherReason',
					text: "Other",
					checked: incompleteReasons['OtherReason'],
					conditional: {
						html: govukInput({
							type: 'text',
							id: "OtherReasons",
							name: "OtherReasons",
							label: { text: 'List reasons' },
							errorMessage: errors['OtherReasons'] and { text: errors['OtherReasons'].msg },
							spellcheck: true,
							value: OtherReasons
						})
					}
				}
			]
		}) }}

		<div class="govuk-button-group">
			{{ govukButton({ text: text | default('Continue') }) }}
			<a class="govuk-link" href="{{ changeOutcomeURL }}">Change outcome</a>
		</div>
	</form>
{% endblock %}
