{% extends "validation/_layout-validation.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
	{{ govukBackLink({ text: "Back", href: backURL }) }}
{% endblock %}

{% block pageContent %}
	{{ super() }}

	<h1 class="govuk-heading-xl">
		Invalid appeal details
	</h1>

	<p class="govuk-body">
		Appeal reference: {{ appealData.AppealReference }}
	</p>

	<form action="" method="post" novalidate>
		{{
			govukCheckboxes({
				idPrefix: 'invalidReasons',
				name: 'invalidReasons',
				errorMessage: errors['invalidReasons'] and { text: errors['invalidReasons'].msg },
				items: [
					{ value: 'outOfTime', text: 'Out of time', checked: invalidReasons['outOfTime'] },
					{ value: 'noRightOfAppeal', text: 'No right of appeal', checked: invalidReasons['noRightOfAppeal'] },
					{ value: 'notAppealable', text: 'Not appealable', checked: invalidReasons['notAppealable'] },
					{ value: 'lPADeemedInvalid', text: 'LPA deemed application as invalid', checked: invalidReasons['lPADeemedInvalid'] },
					{
						value: 'otherReason',
						text: 'Other',
						checked: invalidReasons['otherReason'],
						conditional: {
							html: govukInput({
								type: 'text',
								id: 'otherReasons',
								name: 'otherReasons',
								label: { text: 'List reasons' },
								hint: { text: 'This will be sent to the appellant and LPA' },
								errorMessage: errors['otherReasons'] and { text: errors['otherReasons'].msg },
								spellcheck: true,
								value: otherReasons
							})
						}
					}
				]
			})
		}}

		<div class="govuk-button-group">
			{{ govukButton({ text: text | default('Continue') }) }}
			<a class="govuk-link" href="{{ changeOutcomeURL }}">Change outcome</a>
		</div>
	</form>
{% endblock %}
