{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = 'Check and confirm' %}
{% set appealUrl = '/validation/appeals/' + appeal.AppealId %}
{% set backLinkUrl = appealUrl + '/review-outcome' %}

{% block pageContent %}
	<form method="post" novalidate>
		{% include 'app/includes/csrf.njk' %}
		{{ 
			govukSummaryList({
				rows: [
					{ key: { text: 'Outcome of review' }, value: { text: 'Something is missing or wrong' } },
					{ key: { text: 'Appellant name' }, value: { text: appeal.AppellantName } },
					{ key: { text: 'Appeal reference' }, value: { text: appeal.AppealReference } },
					{ key: { text: 'Appeal site' }, value: { html: appeal.AppealSite | collapse('<br>') } },
					{ key: { text: 'Reasons' }, value: { html: reasonList(reviewOutcome.reasons) } }
				]
			})
		}}
		{{
			govukCheckboxes({
				idPrefix: 'confirmation',
				name: 'confirmation',
				errorMessage: errors.confirmation | errorMessage,
				items: [
					{
						value: 'true',
						text: 'I have completed all follow-up tasks and emails',
						checked: false
					}
				]
			})
		}}
		<div class="govuk-button-group">
			{{ govukButton({ text: 'Confirm and finish review' }) }}
			<a class="govuk-link" href="{{ appealUrl }}">Change outcome</a>
		</div>
	</form>
{% endblock %}

{% macro reasonList(reasons) %}
	<ul class="govuk-list">
		{{ reasonListItem(reasons, 'namesDoNotMatch') }}
		{{ reasonListItem(reasons, 'sensitiveInfo') }}
		{% if reasons | hasOneOf([
				'missingApplicationForm',
				'missingDecisionNotice',
				'missingGroundsForAppeal',
				'missingSupportingDocuments'
			])
		%}
			<li>Missing or wrong documents:
				<ul class="govuk-list govuk-list--bullet">
					{{ reasonListItem(reasons, 'missingApplicationForm') }}
					{{ reasonListItem(reasons, 'missingDecisionNotice') }}
					{{ reasonListItem(reasons, 'missingGroundsForAppeal') }}
					{{ reasonListItem(reasons, 'missingSupportingDocuments') }}
				</ul>
			</li>
		{% endif %}
		{{ reasonListItem(reasons, 'inflammatoryComments') }}
		{{ reasonListItem(reasons, 'openedInError') }}
		{{ reasonListItem(reasons, 'wrongAppealTypeUsed') }}
		{% if reasons | has('otherReasons') %}
			<li>{{ 'otherReasons' | validationLabel }} - {{ reasons.otherReasons }}</li>
		{% endif %}
	</ul>
{% endmacro %}

{% macro reasonListItem(reasons, reasonKey) %}
	{% if reasons | has(reasonKey) %}
		<li>{{ reasonKey | validationLabel(true) }}</li>
	{% endif %}
{% endmacro %}
