{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = 'Check and confirm' %}
{% set appealUrl = '/validation/appeals/' + appeal.AppealId + ('?edit=true' if appeal.AppealStatus === 'incomplete') %}
{% set backLinkUrl = '/validation/appeals/' + appeal.AppealId + '/review-outcome' %}

{% block pageContent %}
	<form method="post" novalidate="novalidate">
		{% include 'app/includes/csrf.njk' %}
		{{ 
			govukSummaryList({
				rows: [
					{ key: { text: 'Outcome of review' }, value: { text: 'Valid'  } },
					{ key: { text: 'Appellant name' }, value: { text: appeal.AppellantName } },
					{ key: { text: 'Appeal reference' }, value: { text: appeal.AppealReference } },
					{ key: { text: 'Appeal site' }, value: { html: appeal.AppealSite | collapse('<br>') } },
					{ key: { text: 'Description of development' }, value: { text: reviewOutcome.descriptionOfDevelopment } }
				]
			})
		}}
		{{ 
			govukWarningText({
				iconFallbackText: 'Warning',
				text: 'Confirming this appeal as valid starts the appeal and sends the LPA questionnaire email.'
			})
		}}
		<div class="govuk-button-group">
			{{ govukButton({ text: 'Confirm and start appeal' }) }}
			<a class="govuk-link" href="{{ appealUrl }}">Change outcome</a>
		</div>
	</form>
{% endblock %}
