{% extends "validation/_layout-validation.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{# Macro use to generate a list of documents #}
{% macro supportingDocumentsList(supportingDocuments)  %}
<ul class="govuk-list">
	{% for doc in supportingDocuments %}
	<li><a href="{{ doc.url }}" class="govuk-link" target="_blank">{{ doc.filename }}</a></li>
	{% endfor %}
</ul>
{% endmacro %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backURL }) }}
{% endblock %}

{% block pageContent %}
	{{ super() }}

	<h1 class="govuk-heading-xl">
		Review appeal submission
	</h1>

	{{ govukSummaryList({
		rows: [
			{
				key: { text: "Appellant name" },
				value: { text: appealData.AppellantName },
				actions: {
					items: [{
						href: "#",
						text: "Change"
					}]
				}
			},
			{ key: { text: "Appeal reference" },
				value: { text: appealData.AppealReference }
			},
			{
				key: { text: "Received on" },
				value: { text: appealData.Received }
			},
			{
				key: { text: "Appeal site" },
				value: { html: appealData.AppealSiteHtml },
				actions: {
					items: [{
						href: "#",
						text: "Change"
					}]
				}
			},
			{
				key: { text: "Local planning department" },
				value: { text: appealData.LocalPlanningDepartment },
				actions: {
					items: [{
						href: "#",
						text: "Change"
					}]
				}
			},
			{
				key: { text: "Planning application reference" },
				value: { text: appealData.PlanningApplicationReference },
				actions: {
					items: [{
						href: "#",
						text: "Change"
					}]
				}
			}
		]
	}) }}

	<h2 class="govuk-heading-l govuk-!-margin-top-9">
		Planning application documents
	</h2>

	{# TODO: The document links if they are using the same path we might want to build a component that returns the A tag for them #}
	{{ govukSummaryList({
		rows: [
			{ key: { text: "Planning application form" }, value: { html: '<a href="'+appealData.PlanningApplicationForm.url+'">'+appealData.PlanningApplicationForm.filename+'</a>' } },
			{ key: { text: "Decision letter" }, value: { html: '<a href="'+appealData.DecisionLetter.url+'">'+appealData.DecisionLetter.filename+'</a>' } }
		]
	}) }}

	<h2 class="govuk-heading-l govuk-!-margin-top-9">
		Appeal documents
	</h2>

	{{ govukSummaryList({
		rows: [
			{ key: { text: "Appeal statement" }, value: { html: '<a href="'+appealData.AppealStatement.url+'">'+appealData.AppealStatement.filename+'</a>' } },
			{ key: { text: "Supporting documents" }, value: { html: supportingDocumentsList(appealData.SupportingDocuments) } }
		]
	}) }}

	<form action="" method="post" novalidate>
		{{ govukRadios({
			idPrefix: "review-outcome",
			name: "review-outcome",
			errorMessage: errors['review-outcome'] and { text: errors['review-outcome'].msg },
			fieldset: {
				legend: {
					text: "Outcome of review",
					isPageHeading: false,
					classes: "govuk-fieldset__legend--l govuk-!-margin-top-6"
				}
			},
			items: [
				{ value: 'valid', text: "Valid", checked: reviewOutcome === 'valid' },
				{ value: 'invalid', text: "Invalid", checked: reviewOutcome === 'invalid' },
				{ divider: "or" },
				{ value: 'incomplete', text: "Something is missing or wrong", checked: reviewOutcome === 'incomplete' }
			]
		}) }}

		{{ govukButton({ text: text | default('Continue') }) }}
	</form>
{% endblock %}
