{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageContent %}
	{{ govukPanel({
		titleText: 'Review complete',
		html: '<p class="govuk-!-margin-0">' + validationAppealOutcomeLabels.reviewCompleteStatusLabel + '</p><strong>' + appealData.AppealReference + '</strong>'
	}) }}

	{% if appealWork.reviewOutcome === 'valid' %}
	<p class="govuk-body">
		The appeal has been started and the LPA questionnaire email has been sent.
	</p>
	{% elif appealWork.reviewOutcome === 'invalid' %}
	<p class="govuk-body">
		The appeal has been turned away, and emails have been sent to the appellant and LPA.
	</p>
	{% endif %}

	<h2 class="govuk-heading-m">What next?</h2>
	<ul class="govuk-list">
		<li><a href="/validation" class="govuk-link">Return to task list</a></li>
	</ul>
{% endblock %}
