{% extends "../layouts/applications.layout.njk" %}
{% from "../components/status-tag.component.njk" import statusTag %}
{% from "applications/components/pagination/results-per-page.component.njk" import uiPageSizeInformation, uiPaginationLinks %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = sectionHeading + " - " + projectName %}

{% block beforeContent %}
	<aside>
		{{ govukBackLink({
			text: "Back",
			href: 'examination-library'|url({caseId: caseId})
		}) }}
	</aside>
{% endblock %}

{% block pageHeading %}
	<span class="govuk-caption-l">Examination library</span>
	<h1 class="govuk-heading-l">{{ sectionHeading }} {{ statusTag(sectionStatus) }}</h1>
{% endblock %}

{% block pageContent %}
	<div>
		<p class="govuk-body">
			Once an examination library category has been published, the examination library references are final and cannot be changed.
		</p>
	</div>

	{{ uiPageSizeInformation(pagination) }}
	{{ uiPaginationLinks(pagination) }}

	{{ govukTable(sectionTable)}}
{% endblock %}
