{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro dateInput(params) %}

	{% set layout = params.layout %}
	{% set fieldName = layout.fieldName %}
	{% set values = params.values %}
	{% set errors = params.errors %}

	{% set isError = errors[fieldName] !== undefined and errors[fieldName] !== false %}

	<div class="govuk-form-group govuk-grid-column-full {{ 'govuk-form-group--error' if isError else '' }}">
		<label class="govuk-label font-weight--700 govuk-!-margin-bottom-4" for="{{fieldname}}">
			{{ layout.label }}
		</label>

		{% if layout.hint %}
			<div id="{{fieldname}}-hint" class="govuk-hint">
				{{ layout.hint }}
			</div>
		{% endif %}

		{% if isError %}
			<p id="{{fieldName}}-error" class="govuk-error-message">
				<span class="govuk-visually-hidden">Error:</span>
				{{ errors[fieldName].msg }}
			</p>
		{% endif %}

		<div class="{{layout.classes}}">
			<div class="govuk-grid-row pins-date-form-group">

				{% set fieldNameDay = [fieldName, '.day'] | join %}
				{% set valueDay = values[fieldName] | datestamp({format: 'dd'})if values[fieldName] else
					values[fieldNameDay] %}

				{% set fieldNameMonth = [fieldName, '.month'] | join %}
				{% set valueMonth = values[fieldName] | datestamp({format: 'MM'})if values[fieldName] else
					values[fieldNameMonth] %}

				{% set fieldNameYear = [fieldName, '.year'] | join %}
				{% set valueYear = values[fieldName] | datestamp({format: 'yyyy'})if values[fieldName] else
					values[fieldNameYear] %}

				{{ govukInput({
					label: {
						text: "Day",
						classes: "govuk-hint"
					},
					id: fieldNameDay,
					name: fieldNameDay,
					value: valueDay,
					errorMessage: isError

				}) }}

				{{ govukInput({
					label: {
						text: "Month",
						classes: "govuk-hint"
					},
					id: fieldNameMonth,
					name: fieldNameMonth,
					value: valueMonth,
					errorMessage: isError
				}) }}

				{{ govukInput({
					label: {
						text: "Year",
						classes: "govuk-hint"
					},
					id: fieldNameYear,
					name: fieldNameYear,
					value: valueYear,
					errorMessage: isError
				}) }}

			</div>
		</div>
	</div>
{% endmacro %}
