{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro organisationName(values, errors) %}
	{{ govukInput({
		id: "applicant.organisationName",
		name: "applicant.organisationName",
		classes: "govuk-!-width-one-third",
		value: values['applicant.organisationName']
	}) }}
{% endmacro %}
