{% extends "app/layouts/app.layout.njk" %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "./components/application-search.component.njk" import applicationSearch %}

{% set pageCaption = domainType | displayValue %}
{% set pageTitle = 'Applications' %}

{% set searchParameters = {query: "", searchApplicationsError: searchApplicationsError, csrfToken: csrfToken, label: "Enter keyword, case reference or case title"} %}
{% set userIsInspector = domainType === 'inspector' %}
{% block pageContent %}


	<div class="govuk-grid-row">
		<div class="{{ 'govuk-grid-column-full' if userIsInspector else 'govuk-grid-column-one-half' }}">
			<div class="pins-dashboard-box">
				<h3 class="govuk-heading-l pins-dashboard-box--title">Search applications</h3>
				{{ applicationSearch(searchParameters) }}
			</div>
		</div>
		{% if not userIsInspector %}
			<div class="govuk-grid-column-one-half">
				<div class="pins-dashboard-box">
					<h3 class="govuk-heading-l pins-dashboard-box--title">Create new case</h3>
					<a class="govuk-button govuk-button--secondary pins-dashboard-box--btn"
					   href="{{ 'create-application'|url }}">Create new case here</a>
				</div>
			</div>
		{% endif %}
	</div>


	<h2 class="govuk-heading-l">Open applications</h2>

	{% set items = [] %}

	{% for name, groupedApplications in applications | groupBy('sector.name') %}
		{% set items = items.concat({
			heading: {
				text: groupedApplications[0].sector.displayNameEn
			},
			content: {
				html: createSectorContent(groupedApplications)
			}
		}) %}
	{% endfor %}

	{{ govukAccordion({ items: items }) }}
{% endblock %}

{% macro createSectorContent(applicationsForSector) %}
	{% for name, groupedApplications in applicationsForSector | groupBy('subSector.name') %}
		{% set subSector = groupedApplications[0].subSector %}
		{% set rows = [] %}
		{% for application in groupedApplications %}
			{% set rows = rows | concat ([[
				{ html: applicationLink(application) },
				{ text: application.modifiedDate | datestamp }
			]]) %}
		{% endfor %}
		{{ govukDetails({
			summaryText: subSector.abbreviation + ' ' + subSector.displayNameEn,
			html: govukTable({
				classes: 'pins-table--fixed pins-table--bordered',
				head: [
					{ text: "Application reference" },
					{ text: "Modified", classes: 'pins-table__cell--s' }
				],
				rows: rows
			})
		}) }}
	{% endfor %}
{% endmacro %}

{% macro applicationLink(application) %}
	<a class="govuk-link" href="{{ 'view-application'|url({domainType: domainType, applicationId: application.id}) }}">
		{{ application.reference }}
	</a>
{% endmacro %}
