{% extends "./layouts/applications.layout.njk" %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "./search-results/application-search.component.njk" import applicationSearch %}
{% from "./components/status-tag.component.njk" import statusTag %}

{% set pageCaption = domainType | userTypeMap %}
{% set pageTitle = 'Applications' %}

{% set searchParameters = {query: "", searchApplicationsError: searchApplicationsError, csrfToken: csrfToken, label: "Enter keyword, case reference or case title"} %}
{% set userIsInspector = domainType === 'inspector' %}
{% block pageContent %}


	<div class="govuk-grid-row">
		<div class="{{ 'govuk-grid-column-full' if userIsInspector else 'govuk-grid-column-one-half' }}">
			<div class="pins-dashboard-box">
				<h2 class="govuk-heading-l pins-dashboard-box--title">Search cases</h2>
				{{ applicationSearch(searchParameters) }}
			</div>
		</div>
		{% if not userIsInspector %}
			<div class="govuk-grid-column-one-half">
				<div class="pins-dashboard-box">
					<h2 class="govuk-heading-l pins-dashboard-box--title">Create new case</h2>
					<a class="govuk-button govuk-button--secondary pins-dashboard-box--btn"
					   href="{{ 'base-url'|url }}/create-new-case">Create new case here</a>
				</div>
			</div>
		{% endif %}
	</div>
	{% if draftCases.length > 0 %}
		<div class="pins-dashboard-list--drafts">
			<h2 class="govuk-heading-l">Draft cases</h2>

			{% set draftRows = [] %}
			{% for case in draftCases %}
				{% set draftRows = draftRows | concat ([[
					{ html: casePageLink(case) },
					{ text: case.modifiedDate | datestamp }
				]]) %}
			{% endfor %}


			{{ govukAccordion({
				id: 'draft-cases-list',
				items: [{
					content: {
						html: govukTable({
							head: [
								{ text: "Name" },
								{ text: "Created", classes: 'pins-table__cell--s' }
							],
							rows: draftRows
						})
					}
				}]
			}) }}
		</div>
	{% endif %}
	<div class="pins-dashboard-list--open">

		<h2 class="govuk-heading-l">All cases</h2>

		{% set items = [] %}

		{% for name, groupedCases in cases | groupBy('sector.name') %}
			{% set items = items.concat({
				heading: {
					text: groupedCases[0].sector.displayNameEn
				},
				content: {
					html: createSectorContent(groupedCases)
				}
			}) %}
		{% endfor %}

		{{ govukAccordion({
			id: 'cases-list',
			items: items
		}) }}
	</div>

{% endblock %}

	{% macro createSectorContent(casesForSector) %}
		{% for name, groupedCases in casesForSector | groupBy('subSector.name') %}
			{% set subSector = groupedCases[0].subSector %}
			{% set rows = [] %}
			{% for case in groupedCases %}
				{% set rows = rows | concat ([[
					{ html: casePageLink(case) },
					{ html: statusTag(case.status), classes: 'govuk-!-width-one-quarter text-align--right' }
				]]) %}
			{% endfor %}
			{{ govukDetails({
				summaryText: subSector.abbreviation + ' ' + subSector.displayNameEn,
				html: govukTable({
					classes: 'pins-table--fixed pins-table--bordered',
					head: [
						{ text: "Name" },
						{ text: "Stage", classes: 'govuk-!-width-one-quarter text-align--right' }
					],
					rows: rows
				})
			}) }}
		{% endfor %}
	{% endmacro %}

{% macro casePageLink(case) %}
	{% set viewCaseLink = 'case-view'|url({domainType: domainType, caseId: case.id}) %}
	{% set checkYourAnswersLink = 'case-create'|url({domainType: domainType, caseId: case.id, step: 'check-your-answers'}) %}
	{% set rowHref = checkYourAnswersLink if case.status == 'Draft' else viewCaseLink %}
	{% set rowTitle = case.title if case.status == 'Draft' else [case.reference, " - ", case.title]|join %}

	<a class="govuk-body" href="{{ rowHref }}">
		{{ rowTitle }}
	</a>
{% endmacro %}

