{% extends "app/layouts/app.layout.njk" %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "./search-results/application-search.component.njk" import applicationSearch %}
{% from "./components/status-tag.component.njk" import statusTag %}

{% set pageCaption = domainType | displayValue %}
{% set pageTitle = 'Applications' %}

{% set searchParameters = {query: "", searchApplicationsError: searchApplicationsError, csrfToken: csrfToken, label: "Enter keyword, case reference or case title"} %}
{% set userIsInspector = domainType === 'inspector' %}
{% block pageContent %}


	<div class="govuk-grid-row">
		<div class="{{ 'govuk-grid-column-full' if userIsInspector else 'govuk-grid-column-one-half' }}">
			<div class="pins-dashboard-box">
				<h3 class="govuk-heading-l pins-dashboard-box--title">Search applications</h3>
				{{ applicationSearch(searchParameters) }}
			</div>
		</div>
		{% if not userIsInspector %}
			<div class="govuk-grid-column-one-half">
				<div class="pins-dashboard-box">
					<h3 class="govuk-heading-l pins-dashboard-box--title">Create new case</h3>
					<a class="govuk-button govuk-button--secondary pins-dashboard-box--btn"
					   href="{{ 'applications-create'|url }}">Create new case here</a>
				</div>
			</div>
		{% endif %}
	</div>
	{% if draftApplications.length > 0 %}
		<div class="pins-dashboard-list--drafts">
			<h2 class="govuk-heading-l">Draft cases</h2>

			{% set draftRows = [] %}
			{% for application in draftApplications %}
				{% set draftRows = draftRows | concat ([[
					{ html: applicationLink(application) },
					{ text: application.modifiedDate | datestamp }
				]]) %}
			{% endfor %}


			{{ govukAccordion({
				items: [{
					content: {
						html: govukTable({
							head: [
								{ text: "Name" },
								{ text: "Created", classes: 'pins-table__cell--s' }
							],
							rows: draftRows
						})
					}
				}]
			}) }}
		</div>
	{% endif %}
	<div class="pins-dashboard-list--open">

		<h2 class="govuk-heading-l">Open applications</h2>

		{% set items = [] %}

		{% for name, groupedApplications in applications | groupBy('sector.name') %}
			{% set items = items.concat({
				heading: {
					text: groupedApplications[0].sector.displayNameEn
				},
				content: {
					html: createSectorContent(groupedApplications)
				}
			}) %}
		{% endfor %}

		{{ govukAccordion({ items: items }) }}
	</div>

{% endblock %}

	{% macro createSectorContent(applicationsForSector) %}
		{% for name, groupedApplications in applicationsForSector | groupBy('subSector.name') %}
			{% set subSector = groupedApplications[0].subSector %}
			{% set rows = [] %}
			{% for application in groupedApplications %}
				{% set rows = rows | concat ([[
					{ html: applicationLink(application) },
					{ html: statusTag(application.status), classes: 'govuk-!-width-one-quarter text-align--right' }
				]]) %}
			{% endfor %}
			{{ govukDetails({
				summaryText: subSector.abbreviation + ' ' + subSector.displayNameEn,
				html: govukTable({
					classes: 'pins-table--fixed pins-table--bordered',
					head: [
						{ text: "Name" },
						{ text: "Stage", classes: 'govuk-!-width-one-quarter text-align--right' }
					],
					rows: rows
				})
			}) }}
		{% endfor %}
	{% endmacro %}

	{% macro applicationLink(application) %}
		<a class="govuk-link"
		   href="{{ 'view-application'|url({domainType: domainType, applicationId: application.id}) }}">
			{{ application.reference }}
		</a>
	{% endmacro %}

	{% macro applicationLink(application) %}
		{% set viewApplicationLink = 'view-application'|url({domainType: domainType, applicationId: application.id}) %}
		{% set checkYourAnswersLink = 'applications-create'|url({domainType: domainType, applicationId: application.id, step: 'check-your-answers'}) %}
		{% set rowHref = checkYourAnswersLink if application.status == 'Draft' else viewApplicationLink %}
		{% set rowTitle = application.title if application.status == 'Draft' else [application.reference, " - ", application.title]|join %}

		<a class="govuk-body" href="{{ rowHref }}">
			{{ rowTitle }}
		</a>
	{% endmacro %}

