@use "govuk-frontend/dist/govuk/settings/_colours-applied" as
	govuk-colours-applied;

.pins-info-box {
	background-color: govuk-colours-applied.$govuk-template-background-colour;
	border-top: 1px solid govuk-colours-applied.$govuk-border-colour;
	border-bottom: 1px solid govuk-colours-applied.$govuk-border-colour;
	color: govuk-colours-applied.$govuk-text-colour;
	text-align: center;
}
