@use "govuk/settings/_colours-applied" as colors;


.pi-info-box {
	background-color: colors.govuk-colour("light-grey");
	border-top: solid colors.$govuk-border-colour 1px;
	border-bottom: solid colors.$govuk-border-colour 1px;
	color: colors.$govuk-text-colour;
	display: block;
	margin-bottom: 30px;
	padding: 60px;
	text-align: center;
}
