{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% macro documentationDetailsTab(documentationFile, caseId, folderId) %}

	{% set needsTranscript =
		documentationFile.mime === 'audio/mpeg'
		or documentationFile.mime === 'video/mpeg'
		or documentationFile.mime === 'video/mp4'
		or documentationFile.mime === 'video/quicktime'
		or documentationFile.mime === 'text/html'
 	%}

	{% if needsTranscript %}
		{% set transcriptRow = {
			label: 'Transcript (optional)',
			value: documentationFile.transcript,
			link: 'transcript'
		} %}
	{% endif %}

	{% set publishedDate = (documentationFile.datePublished|datestamp({format: 'dd/MM/yyyy'})) if documentationFile.publishedStatus === 'published' else null %}
	{% set statusCanBeChanged = documentationFile.publishedStatus != 'published' and documentationFile.publishedStatus != 'awaiting_upload' and documentationFile.publishedStatus != 'awaiting_virus_check' and documentationFile.publishedStatus != 'failed_virus_check'  %}

	{% set properties = [
						{label: 'File name', value: documentationFile.fileName, link: 'name'},
						{label: 'Description', value: documentationFile.description, link: 'description'},
						{label: 'From', value: documentationFile.author, link: 'author'},
						{label: 'Agent (optional)', value: documentationFile.representative, link: 'agent'},
						{label: 'Case stage', value: documentationFile.stage},
						{label: 'Webfilter', value: documentationFile.filter1, link: 'webfilter'},
						{label: 'Document type (optional)', value: documentationFile.documentType, link: 'type'},
						transcriptRow,
						{label: 'Date received', value: (documentationFile.dateCreated|datestamp({format: 'dd/MM/yyyy'})), link: 'receipt-date'},
						{label: 'Published date', value: publishedDate, link: 'published-date' if publishedDate else null},
						{label: 'Redaction', value: ('Redacted' if documentationFile.redactedStatus === 'redacted' else 'Unredacted') , link: 'redaction'},
						{label: 'Status', value: documentationFile.publishedStatus|statusName, link: 'published-status' if statusCanBeChanged else null }
	] %}

	{% set propertiesRow = [] %}

	{% for property in properties %}
		{% set rowActions = {} %}

		{% if property.link %}
			{% set documentEditLink = ('document-edit'|url({caseId: caseId, folderId: folderId, documentGuid: documentationFile.documentGuid, step: property.link})) %}

			{% set rowActions = {
				href: documentEditLink,
				text: "Change",
				visuallyHiddenText: property.label
			} %}
		{% endif %}

		{% set row = {
			key: {
				text: property.label
			},
			value: {
				text: property.value
			},
			actions: {
				items: [rowActions]
			}
		} %}

		{% if property != null %}
			{% set propertiesRow = propertiesRow.concat([row]) %}
		{% endif %}
	{% endfor %}

	<h4 class="govuk-heading-m govuk-!-margin-bottom-4">Document properties</h4>
	{{ govukSummaryList({
        	rows: propertiesRow
        }) }}

{% endmacro %}
