{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% macro documentationDetailsTab(documentationFile, caseId, folderId, caseIsWelsh) %}

	{% set needsTranscript =
		documentationFile.mime === 'audio/mpeg'
		or documentationFile.mime === 'video/mpeg'
		or documentationFile.mime === 'video/mp4'
		or documentationFile.mime === 'video/quicktime'
		or documentationFile.mime === 'text/html'
 	%}

	{% if needsTranscript %}
		{% set transcriptRow = {
			label: 'Transcript (optional)',
			value: documentationFile.transcript,
			link: 'transcript'
		} %}
	{% endif %}

	{% if caseIsWelsh %}
		{% set welshDescriptionRow = {
			label: 'Description in Welsh',
			value: documentationFile.descriptionWelsh,
			link: 'descriptionWelsh'
		} %}

		{% set welshWebfilterRow = {
			label: 'Webfilter in Welsh',
			value: documentationFile.filter1Welsh,
			link: 'webfilterWelsh'
		} %}

		{% set welshFromRow = {
			label: 'Who the document is from in Welsh',
			value: documentationFile.authorWelsh,
			link: 'authorWelsh'
		} %}
	{% endif %}

	{% set publishedDate = (documentationFile.datePublished|datestamp({format: 'dd/MM/yyyy'}))
		if documentationFile.datePublished
		else null
	%}
	{% set statusCanBeChanged = not documentationFile.publishedStatus in ['published', 'awaiting_upload', 'awaiting_virus_check', 'failed_virus_check', 'invalid'] %}

{% if 'idas-607-examination-library' | isFeatureActive %}
    {% set typeOfPartyRow = {
        label: 'Type of party',
        value: documentationFile.typeOfParty,
        link: 'party-type'
    } %}
    {% set examinationLibraryCategoryRow = {
        label: 'Examination library category',
        value: documentationFile.examinationLibraryCategoryDisplayName,
		valueLink: documentationFile.examinationLibraryCategoryDisplayHref,
        link: 'examination-library-category'
    } %}
    {% set examinationLibraryReferenceRow = {
        label: 'Examination library reference',
        value: documentationFile.examinationRefNo,
        link: 'examination-library-reference'
    } %}
	{% else %}
	{% set typeOfPartyRow = null %}
    {% set examinationLibraryCategoryRow = null %}
    {% set examinationLibraryReferenceRow = null %}
{% endif %}


	{% set properties = [
						{label: 'File name', value: documentationFile.fileName, link: 'name'},
						{label: 'Description', value: documentationFile.description, link: 'description'},
						welshDescriptionRow,
            			{label: 'IP number (optional)', value: documentationFile.interestedPartyNumber, link: 'interestedPartyNumber'},
						{label: 'Who the document is from', value: documentationFile.author, link: 'author'},
						welshFromRow,
						typeOfPartyRow,
						{label: 'Agent (optional)', value: documentationFile.representative, link: 'agent'},
						{label: 'Document case stage', value: documentationFile.stage},
						{label: 'Webfilter', value: documentationFile.filter1, link: 'webfilter'},
						welshWebfilterRow,
						examinationLibraryCategoryRow,
						examinationLibraryReferenceRow,
						{label: 'Document type (optional)', value: documentationFile.documentType, link: 'type'},
						transcriptRow,
						{label: 'Date received', value: (documentationFile.dateCreated|datestamp({format: 'dd/MM/yyyy'})), link: 'receipt-date'},
						{label: 'Published date', value: publishedDate, link: 'published-date' if publishedDate else null},
						{label: 'Redaction', value: ('Unredacted' if not documentationFile.redactedStatus else documentationFile.redactionStatusForDisplay) , link: 'redaction'},
						{label: 'Status', value: documentationFile.publishedStatus|statusName, link: 'published-status' if statusCanBeChanged else null }
	] %}

	{% set propertiesRow = [] %}

	{% for property in properties %}
		{% set rowActions = {} %}

		{% if property.link %}
			{% set documentEditLink = ('document-edit'|url({caseId: caseId, folderId: folderId, documentGuid: documentationFile.documentGuid, step: property.link})) %}

			{% set rowActions = {
				href: documentEditLink,
				text: "Change",
				visuallyHiddenText: property.label
			} %}
		{% endif %}


		{% if property.valueLink %}
			{% set propertyValueHtml %}
				<a class="govuk-link" href="{{ property.valueLink }}">{{ property.value }}</a>
			{% endset %}

			{% set rowValue = {
				html: propertyValueHtml
			} %}
		{% else %}
			{% set rowValue = {
				text: property.value
			} %}
		{% endif %}

		{% set noChangeLinkRequired =
			(property.label === 'Redaction' and documentationFile.publishedStatus === 'published')
			or property.value === 'Redaction in progress'
			or property.value === 'Suggestions in progress'
			or property.value === 'Redactions suggested'
			or property.value === 'Suggestions reviewed'
		%}

		{% if noChangeLinkRequired %}
			{% set row = {
				key: {
					text: property.label,
					classes: property.classes
				},
				value: rowValue
			} %}
		{% else %}
			{% set row = {
				key: {
					text: property.label,
					classes: property.classes
				},
				value: rowValue,
				actions: {
					items: [rowActions]
				}
			} %}
		{% endif %}

		{% if property != null %}
			{% set propertiesRow = propertiesRow.concat([row]) %}
		{% endif %}
	{% endfor %}

	<h4 class="govuk-heading-m govuk-!-margin-bottom-4">Document properties</h4>
	{{ govukSummaryList({
        	rows: propertiesRow
        }) }}

{% endmacro %}
