@use "../govuk-frontend/govuk/settings/_colours-applied" as colors;

$colours-attrs: (
		primary: colors.govuk-colour("black"),
		secondary: colors.govuk-colour("dark-grey"),
		red: colors.govuk-colour("red")
);

@each $key, $val in $colours-attrs {
  .colour--#{"" + $key},.colour--#{"" + $key}:link {
	color: #{$val};
  }
}
