{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "./case-edit-link.component.njk" import caseEditLink %}

{% macro caseApplicantTable(case, domainType, isPublishPage) %}
	{% set applicantFirstOrganisationName = case.applicants[0].organisationName %}
	{% set applicantFirstEmail = case.applicants[0].email %}
	{% set applicantFirstPhoneNumber = case.applicants[0].phoneNumber %}
	{% set applicantFirstWebsite = case.applicants[0].website %}

	{% set rowsData = [
		{title: 'Organisation name', value: applicantFirstOrganisationName, url: 'applicant-organisation-name' },
		{title: 'Contact name (Internal use only)', value: writeFullName([case.applicants[0].firstName, case.applicants[0].middleName, case.applicants[0].lastName] ), url: 'applicant-full-name', isProjectInfoOnly: 1 },
		{title: 'Address (Internal use only)', value: writeFullAddress(case.applicants[0].address), url: 'applicant-address', isProjectInfoOnly: 1 },
		{title: 'Website', value: applicantFirstWebsite, url: 'applicant-website' },
		{title: 'Email address', value: applicantFirstEmail, url: 'applicant-email' },
		{title: 'Telephone number (Internal use only)', value: applicantFirstPhoneNumber, url: 'applicant-telephone-number', isProjectInfoOnly: 1 }
	] %}

	{% set tableRows = [] %}
	{% for rowData in rowsData %}
		{% if not rowData.isProjectInfoOnly or (rowData.isProjectInfoOnly and not isPublishPage) %}
			{% set cols = [{text: rowData.title}, {html: rowData.value}] %}
			{% set linkCol =  {
				html: caseEditLink({editStepUrl:rowData.url, caseId: case.id, domainType: domainType}),
				classes: 'text-align--right pins-table__cell--s'
			} %}
			{% if not isPublishPage %}
				{% set cols = (cols.push(linkCol), cols) %}
			{% endif %}

			{% set tableRows = (tableRows.push(cols), tableRows) %}
		{% endif %}
	{% endfor %}

	{{ govukTable({
		firstCellIsHeader: true,
		rows: tableRows
	}) }}

{% endmacro %}


{% macro writeFullName(params) %}
	{% set spacer = joiner(' ') %}
	{% for namePart in params -%}
		{{ spacer() }}{{ namePart }}
	{%- endfor %}
{% endmacro %}

{% macro writeFullAddress(params) %}
	{% set comma = joiner() %}
	{% for key, value in params -%}
		{{ comma() }} {{ value |trim }}
	{%- endfor %}
{% endmacro %}
