{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro caseDetailsTable(params, isPublishPage, isWelsh) %}
	{% set regionNames = [] %}
	{% for item in params.case.geographicalInformation.regions %}
		{% set regionNames = (regionNames.push(item.displayNameEn), regionNames) %}
	{% endfor %}

	{% set gridReferences = '' %}
	{% if params.case.geographicalInformation.gridReference.easting %}
		{% set gridReferences = params.case.geographicalInformation.gridReference.easting + ' (Easting)' %}
	{% endif %}
	{% set gridReferences = gridReferences + '<br>' %}
	{% if params.case.geographicalInformation.gridReference.northing %}
		{% set gridReferences = gridReferences + params.case.geographicalInformation.gridReference.northing + ' (Northing)' %}
	{% endif %}

	{% set publishedTag %}
	{% if params.case.publishedDate %}
		<strong class="govuk-tag govuk-tag--green">PUBLISHED</strong>
    &nbsp;
    <span class="govuk-body-s colour--secondary">Last updated
    {{ params.case.publishedDate | datestamp({format: 'h:mma dd MMM yyyy'}) }}</span>
	{% else %}
		<strong class="govuk-tag govuk-tag--grey">NOT PUBLISHED</strong>
		{% if params.case.unpublishedDate %}
      &nbsp;
      <span class="govuk-body-s colour--secondary">Last updated
      {{ params.case.unpublishedDate | datestamp({format: 'h:mma dd MMM yyyy'}) }}</span>
		{% endif %}
	{% endif %}
	{% endset %}

	{% set rowsData = buildCaseInformation({
		case: params.case,
		keyMembers: params.keyMembers,
		gridReferences: gridReferences,
		regionNames: regionNames,
		publishedTag: publishedTag
	}, isWelsh) %}

	{% set tableRows = [] %}
	{% for rowData in rowsData %}
		{% set hasAction = rowData.url and not isPublishPage %}
		{#  In the value column, rowData can be used because "title" and "url" are ignored	#}
		{% set row = {
			classes: '' if hasAction else 'govuk-summary-list__row--no-actions',
      key: {
        text: rowData.title
      },
      value: rowData,
      actions: {
        items: [
          {
            href: 'case-edit' | url({ caseId: params.case.id, step: rowData.url }),
            text: 'Change',
            id: rowData.id
          }
        ] if hasAction else []
      }
    } %}

		{% set tableRows = (tableRows.push(row), tableRows) %}
	{% endfor %}

	{{ govukSummaryList({
		caption: 'Project details',
		captionClasses: 'govuk-visually-hidden',
		firstCellIsHeader: true,
		classes: 'project-details',
		rows: tableRows
	}) }}
{% endmacro %}