{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro caseKeyDatesTable(case) %}
  {% set rowsData = [
    {title: 'Anticipated submission date published', value: case.keyDates.preApplication.submissionAtPublished},
    {title: 'Application submitted (Section 55)', value: case.keyDates.acceptance.dateOfDCOSubmission},
    {title: 'Deadline for Acceptance decision', value: case.keyDates.acceptance.deadlineForAcceptanceDecision},
    {title: 'Date of Acceptance (Section 55)', value: case.keyDates.acceptance.dateOfDCOAcceptance},
    {title: 'Date of Non-Acceptance', value: case.keyDates.acceptance.dateOfNonAcceptance},
    {title: 'Date Relevant Representations open', value: case.keyDates.preExamination.dateOfRepresentationPeriodOpen},
    {title: 'Date Relevant Representations close', value: case.keyDates.preExamination.dateOfRelevantRepresentationClose},
    {title: 'Date Relevant Representations to appear on website', value: case.keyDates.preExamination.dateRRepAppearOnWebsite},
    {title: 'Preliminary Meeting start date', value: case.keyDates.preExamination.preliminaryMeetingStartDate},
    {title: 'Examination start date', value: case.keyDates.examination.confirmedStartOfExamination},
    {title: 'Deadline for close of Examination', value: case.keyDates.examination.deadlineForCloseOfExamination},
    {title: 'Examination closing date', value: case.keyDates.examination.dateTimeExaminationEnds},
    {title: 'Extension to close of Examination', value: case.keyDates.examination.stage4ExtensionToExamCloseDate},
    {title: 'Date of Recommendation submitted to SoS', value: case.keyDates.recommendation.deadlineForSubmissionOfRecommendation},
    {title: 'Extension to Recommendation deadline', value: case.keyDates.recommendation.stage5ExtensionToRecommendationDeadline},
    {title: 'Date of Decision', value: case.keyDates.decision.confirmedDateOfDecision},
    {title: 'Extension to Decision deadline', value: case.keyDates.decision.stage5ExtensionToDecisionDeadline},
    {title: 'Date project withdrawn', value: case.keyDates.withdrawal.dateProjectWithdraw}
  ] %}

  {% set tableRows = [] %}
  {% for rowData in rowsData %}
    {% set cols = [{text: rowData.title}, {html: rowData.value}] %}

    {% set tableRows = (tableRows.push(cols), tableRows) %}
  {% endfor %}

  {{ govukTable({
    firstCellIsHeader: true,
    rows: tableRows
  }) }}
{% endmacro %}
