{% macro casePageNavigation(params) %}
	{% set case = params.case %}
	{% set domainType = params.domainType %}
	{% set userIsInspector = domainType === 'inspector' %}
	{% set selectedPageType = params.selectedPageType %}

	<aside class="govuk-!-margin-bottom-8 pins-list-menu">
		<h2 class="govuk-visually-hidden">Case Details Menu</h2>
		<nav>
			<ul class="gov-list pins-list-menu">
				<li class="govuk-heading-s">{{ writeMenuLink({ pageTitle: 'Overview', pageType: '', selectedPageType: selectedPageType,
						caseId: case.id }) }}</li>
				<li class="govuk-heading-s">{{ writeMenuLink({ pageTitle: 'Project information', pageType: 'project-information', selectedPageType: selectedPageType,
						caseId: case.id }) }}</li>
				<li class="govuk-heading-s">{{ writeMenuLink({ pageTitle: 'Key dates', pageType: 'key-dates', selectedPageType: selectedPageType,
						caseId: case.id }) }}</li>
				<li class="govuk-heading-s">{{ writeMenuLink({ pageTitle: 'Project team', pageType: 'project-team', selectedPageType: selectedPageType,
						caseId: case.id }) }}</li>
				<li class="govuk-heading-s">{{ writeMenuLink({ pageTitle: 'Fees', pageType: 'fees', selectedPageType: selectedPageType,
						caseId: case.id }) }}</li>
				<li class="govuk-heading-s">{{ writeMenuLink({ pageTitle: 'Project documentation', pageType: 'project-documentation', selectedPageType: selectedPageType,
						caseId: case.id }) }}</li>
				<li class="govuk-heading-s">{{ writeMenuLink({ pageTitle: 'Project updates', pageType: 'project-updates', selectedPageType: selectedPageType,
						caseId: case.id }) }}</li>
				{% if not userIsInspector %}
					<li class="govuk-heading-s">{{ writeMenuLink({ pageTitle: 'Examination timetable', pageType: 'examination-timetable', selectedPageType: selectedPageType,
						caseId: case.id }) }}</li>
				{% endif %}
			</ul>
		</nav>
	</aside>
{% endmacro %}

{% macro writeMenuLink(params) %}
	{% set selectedClass = '' %}

	{% if (params.pageType == params.selectedPageType) or (params.pageType == '' and params.selectedPageType == 'overview' ) %}
		{% set selectedClass = 'pins-selected-item' %}
	{% endif %}

	<a class="govuk-link {{ selectedClass }}"
	   href="{{ 'case-view'|url({caseId: params.caseId, step: params.pageType }) }}">
		{{ params.pageTitle }}
	</a>
{% endmacro %}
