{% from "../../components/published-tag.component.njk" import publishedTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "./case-edit-link.component.njk" import caseEditLink %}

{% macro caseInfoTablePreview(case, caseIsWelsh) %}

	{% set regionNames = [] %}
	{% for item in case.geographicalInformation.regions %}
		{% set regionNames = (regionNames.push(item.displayNameEn), regionNames) %}
	{% endfor %}

	{% set gridReferences = '' %}
	{% if case.geographicalInformation.gridReference.easting %}
		{% set gridReferences = case.geographicalInformation.gridReference.easting + ' (Easting)' %}
	{% endif %}
	{% set gridReferences = gridReferences + '<br>' %}
	{% if case.geographicalInformation.gridReference.northing %}
		{% set gridReferences = gridReferences + case.geographicalInformation.gridReference.northing + ' (Northing)' %}
	{% endif %}

	{% set publishedTagHtml %}
	{{ publishedTag(case.publishedDate) }}
	{% if case.publishedDate %}
		<span class="govuk-body-s govuk-!-margin-left-4">
				Last updated: {{ case.publishedDate|datestamp({format: 'h:mma dd/MM/yyyy'})|lower }}
		</span>
	{% endif %}
	{% endset %}


	{% set items = [
		{ label: 'Case reference number', text: case.reference },
		{ label: 'Project name', text: case.title },
		{ label: 'Project name in Welsh' , text: case.titleWelsh, omitted: not caseIsWelsh },
		{ label: 'Sector', text: case.sector.displayNameEn },
		{ label: 'Subsector', text: case.subSector.displayNameEn },
		{ label: 'Case stage', text: case.status },
		{ label: 'Project description', html: case.description },
		{ label: 'Project description in Welsh', html: case.descriptionWelsh, omitted: not caseIsWelsh },
		{ label: 'Project email address', html: case.caseEmail },
		{ label: 'Project location', html: case.geographicalInformation.locationDescription },
		{ label: 'Project location in Welsh', html: case.geographicalInformation.locationDescriptionWelsh, omitted: not caseIsWelsh },
		{ label: 'Grid references', html: gridReferences },
		{ label: 'Regions' if ('applic-55-welsh-translation' | isFeatureActive) else 'Region(s)', html: regionNames },
		{ label: 'Map zoom level' , text: case.geographicalInformation.mapZoomLevel.displayNameEn }
	] %}

	{{ govukTable({
		caption: 'Project details',
		captionClasses: 'govuk-visually-hidden',
		firstCellIsHeader: true,
		rows: items | buildTableRows
	}) }}
{% endmacro %}
