{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro caseKeyDatesTable(case) %}
  {% set rowsData = [
    {title: 'Anticipated submission date published', value: case.keyDates.preApplication.submissionAtPublished},
    {title: 'Application submitted (Section 55)', value: case.keyDates.acceptance.dateOfDCOSubmission | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Deadline for Acceptance decision', value: case.keyDates.acceptance.deadlineForAcceptanceDecision | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Date of Acceptance (Section 55)', value: case.keyDates.acceptance.dateOfDCOAcceptance | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Date of Non-Acceptance', value: case.keyDates.acceptance.dateOfNonAcceptance | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Date Relevant Representations open', value: case.keyDates.preExamination.dateOfRepresentationPeriodOpen | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Date Relevant Representations close', value: case.keyDates.preExamination.dateOfRelevantRepresentationClose | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Date Relevant Representations to appear on website', value: case.keyDates.preExamination.dateRRepAppearOnWebsite | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Preliminary Meeting start date', value: case.keyDates.preExamination.preliminaryMeetingStartDate | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Examination start date', value: case.keyDates.examination.confirmedStartOfExamination | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Deadline for close of Examination', value: case.keyDates.examination.deadlineForCloseOfExamination | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Examination closing date', value: case.keyDates.examination.dateTimeExaminationEnds | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Extension to close of Examination', value: case.keyDates.examination.stage4ExtensionToExamCloseDate | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Deadline for submission of Recommendation', value: case.keyDates.recommendation.deadlineForSubmissionOfRecommendation | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Date of Recommendation submitted to SoS', value: case.keyDates.recommendation.dateOfRecommendations | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Extension to Recommendation deadline', value: case.keyDates.recommendation.stage5ExtensionToRecommendationDeadline | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Deadline for Decision', value: case.keyDates.decision.deadlineForDecision | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Date of Decision', value: case.keyDates.decision.confirmedDateOfDecision | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Extension to Decision deadline', value: case.keyDates.decision.stage5ExtensionToDecisionDeadline | datestamp({format: 'dd MMM yyyy'})},
    {title: 'Date project withdrawn', value: case.keyDates.withdrawal.dateProjectWithdrawn | datestamp({format: 'dd MMM yyyy'})}
  ] %}

  {% set tableRows = [] %}
  {% for rowData in rowsData %}
    {% set cols = [{text: rowData.title}, {html: rowData.value}] %}

    {% set tableRows = (tableRows.push(cols), tableRows) %}
  {% endfor %}

  {{ govukTable({
    firstCellIsHeader: true,
    rows: tableRows
  }) }}
{% endmacro %}
