{% extends 'app/layouts/app-three-column.layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "appeals/inspector/components/appeal-summary.component.njk" import appealSummary %}

{% set pageTitle = 'Check and confirm' %}
{% set backLinkUrl = '/appeals-service/inspector/appeals/' + appeal.appealId + '/issue-decision' %}

{% block pageLeft %}
  {{ appealSummary({ appeal: appeal }) }}
{% endblock %}

{% block pageContent %}
  <h2 class="govuk-heading-l">Decision details</h2>
  <form method="post">
    {% include 'app/includes/csrf.njk' %}
    {{
      govukSummaryList({
        classes: 'govuk-\!-margin-bottom-9',
        rows: [
          {
            key: { text: 'Outcome' },
            value: { text: outcome | capitalize }
          },
          {
            key: { text: 'Decision letter' },
            value: { html: createDownloadLink() }
          },
          {
            key: { text: 'Date' },
            value: { text: now() | displayDate }
          }
        ]
      })
    }}
    {{
      govukWarningText({
        text: "Confirming the decision details issues the decision to the appellant and local planning department",
        iconFallbackText: "Warning"
      })
    }}
    <div class="govuk-button-group">
      {{ govukButton({ text: "Confirm and issue decision" }) }}
      <a class="govuk-link" href={{backLinkUrl}}>Change decision details</a>
    </div>
  </form>  
{% endblock %}

{% macro createDownloadLink(params) %}
  <a class="govuk-link" href="/appeals-service/inspector/appeals/{{ appeal.appealId }}/confirm-decision/download-decision-letter">
    {{ decisionLetter.originalname }}
  </a>
{% endmacro %}
