parameters:
  - name: deployAPI
    displayName: Deploy API
    type: boolean
    default: true
  - name: deployWeb
    displayName: Deploy Web
    type: boolean
    default: true
  - name: deployFunctionApplicationsMigration
    displayName: Deploy Function - Applications Migration
    type: boolean
    default: true
  - name: deployFunctionApplicationsBackgroundJobs
    displayName: Deploy Function - Applications Background Jobs
    type: boolean
    default: true
  - name: deployFunctionApplicationsCommandHandlers
    displayName: Deploy Function - Applications Command Handlers
    type: boolean
    default: true
  - name: region
    displayName: Region
    type: string
    values:
      - UK West
      - UK South
    default: UK West
  - name: schemaMigration
    displayName: Run Database Migration
    type: boolean
    default: true
  - name: runCypressTests
    displayName: Run Cypress Tests
    type: boolean
    default: true

pr: none
trigger: none

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: refs/tags/release/3.4.0
  pipelines:
    - pipeline: build
      source: Back Office Build
      trigger:
        branches:
          include:
            - main

extends:
  template: stages/wrapper_cd.yml@templates
  parameters:
    automaticDeployments:
      environments:
        - name: Dev
        - name: Test
          dependsOn:
            - Dev
        - name: Prod
          dependsOn:
            - Test
    deploymentStages:
      - name: Deploy Applications
        deploymentJobs:
          - name: Deploy Applications API
            condition: eq(${{ parameters.deployAPI }}, 'true')
            steps:
              - ${{ if eq(parameters.schemaMigration, true) }}:
                  - checkout: self
                  - template: ../steps/azure_get_secrets.yml
                    parameters:
                      secrets:
                        - name: back-office-sql-connection-string
                          variable: DATABASE_URL_ADMIN
                  - template: ../steps/node_script.yml
                    parameters:
                      nodeVersion: 18
                      environmentVariables:
                        DATABASE_URL: $(DATABASE_URL_ADMIN)
                      script: npm run db:migrate:prod
                      workingDirectory: $(Build.Repository.LocalPath)/apps/api
              - template: ../steps/azure_web_app_deploy.yml
                parameters:
                  appName: pins-app-back-office-api-$(ENVIRONMENT)-$(REGION_SHORT)-001
                  appResourceGroup: $(resourceGroup)
                  azurecrName: $(azurecrName)
                  repository: back-office/back-office-api
          - name: Deploy Applications Web
            condition: eq(${{ parameters.deployWeb }}, 'true')
            steps:
              - template: ../steps/azure_web_app_deploy.yml
                parameters:
                  appName: pins-app-back-office-wfe-$(ENVIRONMENT)-$(REGION_SHORT)-001
                  appResourceGroup: $(resourceGroup)
                  azurecrName: $(azurecrName)
                  repository: back-office/back-office-web
          - name: Deploy Function - Applications Migration
            artifact:
              name: function-apps-applications-migration
              sourcePipeline: Back Office Build
            condition: eq(${{ parameters.deployFunctionApplicationsMigration }}, 'true')
            steps:
              - template: ../steps/function_app_deploy.yml
                parameters:
                  appName: pins-func-apps-migration-apps-migration-$(ENVIRONMENT)-$(REGION_SHORT)-001
                  resourceGroup: $(resourceGroup)
          - name: Deploy Function - Applications Background Jobs
            artifact:
              name: function-apps-applications-background-jobs
              sourcePipeline: Back Office Build
            condition: eq(${{ parameters.deployFunctionApplicationsBackgroundJobs }}, 'true')
            steps:
              - template: ../steps/function_app_deploy.yml
                parameters:
                  appName: pins-func-back-office-apps-background-jobs-$(ENVIRONMENT)-$(REGION_SHORT)-001
                  resourceGroup: $(resourceGroup)
          - name: Deploy Function - Applications Command Handlers
            artifact:
              name: function-apps-applications-command-handlers
              sourcePipeline: Back Office Build
            condition: eq(${{ parameters.deployFunctionApplicationsCommandHandlers }}, 'true')
            steps:
              - template: ../steps/function_app_deploy.yml
                parameters:
                  appName: pins-func-back-office-apps-command-handlers-$(ENVIRONMENT)-$(REGION_SHORT)-001
                  resourceGroup: $(resourceGroup)

    globalVariables:
      - template: azure-pipelines-variables.yml@self
