parameters:
  - name: buildAPI
    displayName: Build API
    type: boolean
    default: true
  - name: buildWeb
    displayName: Build Web
    type: boolean
    default: true

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: feature/multi-job-ci

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    globalVariables:
      - template: azure-pipelines-variables.yml@self
    validationJobs:
      - name: Run Linting & Tests
        steps:
          - checkout: self
            clean: true
            persistCredentials: true
          - template: ../steps/check_branch_name.yml
          - template: ../steps/azure_auth.yml
            parameters:
              subscriptionId: $(SUBSCRIPTION_ID)
          - template: ../steps/node_script.yml
            parameters:
              script: npm ci
          - template: ../steps/node_script.yml
            parameters:
              condition: always()
              script: npm run tscheck
          - template: ../steps/node_script.yml
            parameters:
              condition: always()
              script: npm run lint:js
          - template: ../steps/node_script.yml
            parameters:
              condition: always()
              script: npm run test
          - template: ../steps/check_changed_files.yml
            parameters:
              developmentBranch: develop
              pathFilters:
                - name: packages
                  path: packages
                - name: web
                  path: apps/web
                - name: api
                  path: apps/api
              stepName: check_files
      - name: Build Web
        condition: >-
          and(
            succeeded(),
            or(
              and(
                eq(variables['Build.Reason'], 'Manual'),
                eq(${{ parameters.buildWeb }}, 'true')
              ),
              or(
                eq(dependencies.Run_Linting_And_Tests.outputs['check_files.packages'], 'true'),
                eq(dependencies.Run_Linting_And_Tests.outputs['check_files.web'], 'true')
              )
            )
          )
        dependsOn:
          - Run Linting & Tests
        steps:
          - template: ../steps/azure_web_app_acr_push.yml@templates
            parameters:
              azurecrName: $(azurecrName)
              dockerfilePath: $(dockerFilePath)
              repository: $(repository)
              workingDirectory: $(Build.Repository.LocalPath)
              runTests: false
        variables:
          - template: apps/web/pipelines/azure-pipelines-variables.yml@self
      - name: Build API
        condition: >-
          and(
            succeeded(),
            or(
              and(
                eq(variables['Build.Reason'], 'Manual'),
                eq(${{ parameters.buildAPI }}, 'true')
              ),
              or(
                eq(dependencies.Run_Linting_And_Tests.outputs['check_files.packages'], 'true'),
                eq(dependencies.Run_Linting_And_Tests.outputs['check_files.api'], 'true')
              )
            )
          )
        dependsOn:
          - Run Linting & Tests
        steps:
          - template: ../steps/azure_web_app_acr_push.yml@templates
            parameters:
              azurecrName: $(azurecrName)
              dockerfilePath: $(dockerFilePath)
              repository: $(repository)
              workingDirectory: $(Build.Repository.LocalPath)
              runTests: false
        variables:
          - template: apps/api/pipelines/azure-pipelines-variables.yml@self
    validateName: Lint, Test, & Build Applications
