jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: 'ubuntu-latest'
    variables:
      - name: Environment
        value: dev
        values:
          - dev
          - test
      - name: APP
        value: applications

    steps:
      - task: AzureKeyVault@2
        inputs:
          azureSubscription: ''
          KeyVaultName: 'back-office-e2e-secrets'
          SecretsFilter: 'BASE_URL_DEV,CASE_TEAM_EMAIL_DEV,CASE_ADMIN_EMAIL_DEV,INSPECTOR_EMAIL_DEV,USER_PASSWORD_DEV,BASE_URL_TEST,CASE_TEAM_EMAIL_TEST,CASE_ADMIN_EMAIL_TEST,INSPECTOR_EMAIL_TEST,USER_PASSWORD_TEST'
        displayName: 'Retrieve Secrets from Azure Key Vault'

      - task: NodeTool@0
        inputs:
          versionSpec: '16.x'
        displayName: 'Install Node.js'

      - task: Npm@1
        inputs:
          command: 'install'
          workingDir: 'apps/e2e'
        displayName: 'Install Dependencies'

      - task: Npm@1
        inputs:
          command: 'custom'
          customCommand: 'run e2e'
          workingDir: '.'
          envVars: >
            ${{ if eq(variables['Environment'], 'dev') }}BASE_URL=$(BASE_URL_DEV);CASE_TEAM_EMAIL=$(CASE_TEAM_EMAIL_DEV);CASE_ADMIN_EMAIL=$(CASE_ADMIN_EMAIL_DEV);INSPECTOR_EMAIL=$(INSPECTOR_EMAIL_DEV);USER_PASSWORD=$(USER_PASSWORD_DEV)${{ else }}BASE_URL=$(BASE_URL_TEST);CASE_TEAM_EMAIL=$(CASE_TEAM_EMAIL_TEST);CASE_ADMIN_EMAIL=$(CASE_ADMIN_EMAIL_TEST);INSPECTOR_EMAIL=$(INSPECTOR_EMAIL_TEST);USER_PASSWORD=$(USER_PASSWORD_TEST)${{ endif }}
        displayName: 'Run Cypress Tests'

      - task: PublishBuildArtifacts@1
        inputs:
          artifactName: 'Cypress Test Report'
          pathToPublish: 'apps/e2e/reports'
        condition: always()
        displayName: 'Publish Test Report'
