parameters:
- name: appsFolderNames
  type: object

steps:
  # merge node_modules into the one in the function folder
  # from node_modules/@pins/*
  #      node_modules/*
  #      <root>/functions/node_modules/*
  # exclude the other functions and apps symlinked in node_modules/@pins
  # to <root>/functions/<function>/node_modules/*
  - script: |
      source ~/.bashrc
      shopt -s extglob
      appsFolders=(echo ${{ join(' ',parameters.appsFolderNames) }})

      for folder in ${appsFolders[@]}; do
        echo $folder
        mkdir -p $(Build.Repository.LocalPath)/apps/functions/$folder/node_modules/@pins
        if [ -d $(Build.Repository.LocalPath)/node_modules/@pins ]; then
          cp -r -n -L $(Build.Repository.LocalPath)/node_modules/@pins/!(functions-*|applications.*) $(Build.Repository.LocalPath)/apps/functions/$folder/node_modules/@pins
        fi
        cp -r -n -L $(Build.Repository.LocalPath)/node_modules/!(@pins) $(Build.Repository.LocalPath)/apps/functions/$folder/node_modules/
        if [ -d $(Build.Repository.LocalPath)/apps/functions/node_modules ]; then
          cp -r -n -L $(Build.Repository.LocalPath)/apps/functions/node_modules/* $(Build.Repository.LocalPath)/apps/functions/$folder/node_modules/
        fi
      done
    displayName: Merge node_modules
