parameters:
  - name: Environment
    type: string
    default: 'test'
    values:
      - 'dev'
      - 'test'

variables:
  - name: APP
    value: 'applications'
  - group: e2e-${{ parameters.Environment }}

pr: none

trigger: none

jobs:
  - job: E2E_Tests_Group_1
    timeoutInMinutes: 60
    pool: pins-template-test
    steps:
      - script: |
#          export NVM_DIR="/usr/local/nvm"
#          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
#          nvm use 22
#          NODE_PATH=$(dirname $(nvm which 20))
#          echo "##vso[task.setvariable variable=PATH]$NODE_PATH:$PATH"
#          echo "✅ Using Node.js $(node -v) and NPM $(npm -v)"
#          echo "✅ Node.js path set to: $NODE_PATH"
        displayName: 'Setup Node.js 20 Environment'
      - task: Npm@1
        inputs:
          command: "install"
          workingDir: $(System.DefaultWorkingDirectory)/apps/e2e
        displayName: "Install Dependencies"

      - task: Bash@3
        inputs:
          targetType: 'inline'
          script: npx cypress run --spec "cypress/e2e/back-office-applications/addRepresentation.spec.js"
          workingDirectory: 'apps/e2e'

        env:
          BASE_URL: $(BASE_URL)
          CASE_TEAM_EMAIL: $(CASE_TEAM_EMAIL)
          CASE_ADMIN_EMAIL: $(CASE_ADMIN_EMAIL)
          INSPECTOR_EMAIL: $(INSPECTOR_EMAIL)
          USER_PASSWORD: $(USER_PASSWORD)
          FEATURE_FLAG_CONNECTION_STRING: $(FEATURE_FLAG_CONNECTION_STRING)
        displayName: "Run Cypress Tests Group 1"

      - task: PublishBuildArtifacts@1
        inputs:
          pathToPublish: 'apps/e2e/cypress/screenshots'
          artifactName: 'FailedTests'
        displayName: "Publish Failed Tests Artifacts"
        condition: failed()

  # - job: E2E_Tests_Group_2
  #   timeoutInMinutes: 60
  #   pool: pins-odt-agent-pool-tests
  #   steps:
  #     - task: NodeTool@0
  #       inputs:
  #         versionSpec: "20.x"
  #       displayName: "Install Node.js"

  #     - task: Npm@1
  #       inputs:
  #         command: "install"
  #         workingDir: $(System.DefaultWorkingDirectory)/apps/e2e
  #       displayName: "Install Dependencies"

  #     - task: Bash@3
  #       inputs:
  #         targetType: 'inline'
  #         script: npx cypress run --spec "cypress/e2e/back-office-applications/documentVersioning.spec.js,cypress/e2e/back-office-applications/editCase.spec.js,cypress/e2e/back-office-applications/examTimetable.spec.js"
  #         workingDirectory: 'apps/e2e'

  #       env:
  #         BASE_URL: $(BASE_URL)
  #         CASE_TEAM_EMAIL: $(CASE_TEAM_EMAIL)
  #         CASE_ADMIN_EMAIL: $(CASE_ADMIN_EMAIL)
  #         INSPECTOR_EMAIL: $(INSPECTOR_EMAIL)
  #         USER_PASSWORD: $(USER_PASSWORD)
  #         FEATURE_FLAG_CONNECTION_STRING: $(FEATURE_FLAG_CONNECTION_STRING)
  #       displayName: "Run Cypress Tests Group 2"

  #     - task: PublishBuildArtifacts@1
  #       inputs:
  #         pathToPublish: 'apps/e2e/cypress/screenshots'
  #         artifactName: 'FailedTests'
  #       displayName: "Publish Failed Tests Artifacts"
  #       condition: failed()

  # - job: E2E_Tests_Group_3
  #   timeoutInMinutes: 60
  #   pool: pins-odt-agent-pool-tests
  #   steps:
  #     - task: NodeTool@0
  #       inputs:
  #         versionSpec: "20.x"
  #       displayName: "Install Node.js"

  #     - task: Npm@1
  #       inputs:
  #         command: "install"
  #         workingDir: $(System.DefaultWorkingDirectory)/apps/e2e
  #       displayName: "Install Dependencies"

  #     - task: Bash@3
  #       inputs:
  #         targetType: 'inline'
  #         script: npx cypress run --spec "cypress/e2e/back-office-applications/publishDocuments.spec.js,cypress/e2e/back-office-applications/s51Advice.spec.js,cypress/e2e/back-office-applications/search.spec.js,cypress/e2e/back-office-applications/searchDocuments.spec.js,cypress/e2e/back-office-applications/sectorAsTraing.spec.js,cypress/e2e/back-office-applications/smokeTests.spec.js"
  #         workingDirectory: 'apps/e2e'

  #       env:
  #         BASE_URL: $(BASE_URL)
  #         CASE_TEAM_EMAIL: $(CASE_TEAM_EMAIL)
  #         CASE_ADMIN_EMAIL: $(CASE_ADMIN_EMAIL)
  #         INSPECTOR_EMAIL: $(INSPECTOR_EMAIL)
  #         USER_PASSWORD: $(USER_PASSWORD)
  #         FEATURE_FLAG_CONNECTION_STRING: $(FEATURE_FLAG_CONNECTION_STRING)
  #       displayName: "Run Cypress Tests Group 3"

  #     - task: PublishBuildArtifacts@1
  #       inputs:
  #         pathToPublish: 'apps/e2e/cypress/screenshots'
  #         artifactName: 'FailedTests'
  #       displayName: "Publish Failed Tests Artifacts"
  #       condition: failed()

  # - job: E2E_Tests_Group_4
  #   timeoutInMinutes: 60
  #   pool: pins-odt-agent-pool-tests
  #   steps:
  #     - task: NodeTool@0
  #       inputs:
  #         versionSpec: "20.x"
  #       displayName: "Install Node.js"

  #     - task: Npm@1
  #       inputs:
  #         command: "install"
  #         workingDir: $(System.DefaultWorkingDirectory)/apps/e2e
  #       displayName: "Install Dependencies"

  #     - task: Bash@3
  #       inputs:
  #         targetType: 'inline'
  #         script: DEBUG=cypress:* npx cypress run --headed --browser chrome --spec "cypress/e2e/back-office-applications/publishDocuments.spec.js,cypress/e2e/back-office-applications/s51Advice.spec.js,cypress/e2e/back-office-applications/search.spec.js,cypress/e2e/back-office-applications/searchDocuments.spec.js,cypress/e2e/back-office-applications/sectorAsTraing.spec.js,cypress/e2e/back-office-applications/smokeTests.spec.js"
  #         workingDirectory: 'apps/e2e'

      #   env:
      #     BASE_URL: $(BASE_URL)
      #     CASE_TEAM_EMAIL: $(CASE_TEAM_EMAIL)
      #     CASE_ADMIN_EMAIL: $(CASE_ADMIN_EMAIL)
      #     INSPECTOR_EMAIL: $(INSPECTOR_EMAIL)
      #     USER_PASSWORD: $(USER_PASSWORD)
      #     FEATURE_FLAG_CONNECTION_STRING: $(FEATURE_FLAG_CONNECTION_STRING)
      #   displayName: "Run Cypress Tests Group 4"

      # - task: PublishBuildArtifacts@1
      #   inputs:
      #     pathToPublish: 'apps/e2e/cypress/screenshots'
      #     artifactName: 'FailedTests'
      #   displayName: "Publish Failed Tests Artifacts"
      #   condition: failed()
