# Port ranges (by convention):
#  - API: 3000-3999
#  - Websites: 9000-9999
#
# Please run `make install` to get the dependencies install

version: "3.7"
services:
  web-app:
    container_name: web-app
    image: node:14-alpine
    ports:
      - 9004:3000
    working_dir: /opt/app
    volumes:
      - ./packages/common:/opt/app/node_modules/@pins/common
      - ./packages/web-app:/opt/app
    command: npm run start:dev

  api:
    container_name: api
    image: node:14-alpine
    ports:
      - 3000:3000
    working_dir: /opt/app
    volumes:
      - ./packages/common:/opt/app/node_modules/@pins/common
      - ./packages/api:/opt/app
    command: npm run start:dev
