{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = 'Review incomplete questionnaire' if appeal.reviewQuestionnaire  else 'Review questionnaire' %}

{% block pageContent %}
	<h2 class="govuk-heading-l">
		Check and confirm
	</h2>
	<form method="post" novalidate>
		{% include 'app/includes/csrf.njk' %}
		{% if (reviewQuestionnaire | keys).length === 0 %}
			{{ 
				govukSummaryList({
					rows: [
						{ key: { text: "Review outcome" }, value: { text: 'Complete' } },
						{ key: { text: "Appeal reference" }, value: { text: appeal.AppealReference } },
						{ key: { text: "Appeal site" }, value: { html: appeal.AppealSite | collapse('<br>') } },
						{ key: { text: "Local planning department" }, value: { text: appeal.LocalPlanningDepartment } }
					]
				})
			}}
			{{ 
				govukWarningText({
					iconFallbackText: "Warning",
					text: "Confirming this questionnaire as complete makes the appeal visible to inspectors."
				})
			}}
		{% else %}
			{{ 
				govukSummaryList({
					rows: [
						{ key: { text: "Review outcome" }, value: { text: 'Incomplete' } },
						{ 
							key: { text: 'Incomplete reasons' },
							value: {
								html: incompleteReasonsList(reviewQuestionnaire)
							}
						},
						{ key: { text: "Appeal reference" }, value: { text: appeal.AppealReference } },
						{ key: { text: "Appeal site" }, value: { html: appeal.AppealSite | collapse('<br>') } },
						{ key: { text: "Local planning department" }, value: { text: appeal.LocalPlanningDepartment } }
					]
				})
			}}
			{{
				govukCheckboxes({
					idPrefix: 'confirmation',
					name: 'confirmation',
					errorMessage: errors.confirmation | errorMessage,
					items: [
						{
							value: true,
							text: 'I have completed all follow-up tasks and emails',
							checked: false
						}
					]
				})
			}}
		{% endif %}
		<div class="govuk-button-group">
			{{ govukButton({ text: 'Confirm outcome' }) }}
			<a class="govuk-link" href="/case-officer/appeals/{{ appeal.AppealId }}">Go back to review questionnaire</a>
		</div>
	</form>
{% endblock %}

{% macro incompleteReasonsList(questionnaire) %}
  <dl class="govuk-!-margin-top-0">
		{% for key, value in questionnaire %}
			{% if value and key | endsWith('MissingOrIncorrect') %}
				{% set description = questionnaire[key + 'Description'] %}
				{% set addressesKey = key + 'ListOfAddresses' %}
				{% set siteNoticeKey = key + 'CopyOfLetterOrSiteNotice' %}
				{% set addresses = questionnaire[addressesKey] %}
				{% set siteNotice = questionnaire[siteNoticeKey] %}
				<div class="govuk-!-margin-bottom-1">
					<dt>{{ key | lpaLabel }}{{ ':' if description or addresses or siteNotice }}</dt>
					<dd>
						{% if description %}
							{{ description }}
						{% elseif addresses or siteNotice %}
							<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
								{% if addresses %}
									<li>{{ addressesKey | lpaLabel }}</li>
								{% endif %}
								{% if siteNotice %}
									<li>{{ siteNoticeKey | lpaLabel }}</li>
								{% endif %}
							</ul>
						{% else %}
							<span class="govuk-visually-hidden">Missing or incorrect</span>
						{% endif %}
					</dd>
				</div>
			{% endif %}
		{% endfor %}
  </dl>
{% endmacro %}
