{% extends "./layouts/applications-case-layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../case-timetable/components/timetable-items.component.njk" import examinationTimetableItems%}

{% block sectionContent %}
    <div>
		<div class='govuk-grid-row'>
			<div class='govuk-grid-column-two-thirds'>
				<h2 class="govuk-heading-l">Examination timetable</h2>
			</div>
			<div class='govuk-grid-column-one-third'>
				{% if publishedStatus %}
					<strong class="govuk-tag govuk-tag--green">PUBLISHED</strong>
				{% else %}
					<strong class="govuk-tag govuk-tag--grey">UNPUBLISHED</strong>
				{% endif %}
			</div>
		</div>

		<p class="govuk-body">Create or manage an examination timetable</p>

		<a class='govuk-button govuk-!-margin-top-5' href="{{'timetable'|url({caseId: caseId, step: 'new-item'})}}">Create new item</a>

		<div>
			<a class="govuk-link" href="{{'timetable'|url({caseId: caseId, step: 'preview'})}}">Preview and publish timetable items</a>
		</div>
	</div>

	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

	{{ examinationTimetableItems(timetableItems) }}

{% endblock %}
