{% extends "../layouts/applications.layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "./components/case-info-table.component.njk" import caseInfoTable %}
{% from "./components/case-details-table.component.njk" import caseDetailsTable %}
{% from "./components/case-applicant-table.component.njk" import caseApplicantTable %}
{% from "./components/case-key-dates-table.component.njk" import caseKeyDatesTable %}

{% set pageTitle = case.title %}
{% set serviceName = 'Preview and publish project' %}
{% set isPublishPage = 1 %}

{% block pageHeading %}
{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: 'case-view'|url({caseId: case.id, step: 'project-information'})
	}) }}
{% endblock %}

{% block pageContent %}
	<form id="pins-publish-case" class="govuk-grid-row " method="post" action="">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l">{{ serviceName }}</h1>
			{{ caseInfoTable(case) }}
		</div>
		<div class="govuk-grid-column-two-thirds">
			<h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-2">Project details</h2>
			<p class="govuk-body govuk-!-margin-bottom-5">Check details before publishing</p>
			{{ caseDetailsTable(case, domainType, isPublishPage) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-2">Applicant information</h2>
			<p class="govuk-body govuk-!-margin-bottom-5">Check details before publishing</p>
			{{ caseApplicantTable(case, domainType, isPublishPage) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-2">Key dates</h2>
			<p class="govuk-body govuk-!-margin-bottom-5">Check details before publishing</p>
			{{ caseKeyDatesTable(case) }}
		</div>
		<div class="govuk-grid-column-full">
			{{ govukButton({ classes: 'govuk-!-margin-top-5', text: 'Accept and publish changes' if case.publishedDate else 'Accept and publish project' }) }}
		</div>
	</form>
{% endblock %}
