{% extends "../layouts/applications.layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "./components/case-info-table-preview.component.njk" import caseInfoTablePreview %}
{% from "./components/case-applicant-table.component.njk" import caseApplicantTable %}
{% from "./components/case-key-dates-table.component.njk" import caseKeyDatesTable %}

{% set pageTitle = case.title %}
{% set serviceName = 'Preview and publish project' %}
{% set isPublishPage = 1 %}

{% block pageHeading %}{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back to Overview",
		href: 'case-view'|url({caseId: case.id, step: 'project-information'})
	}) }}
{% endblock %}

{% block pageContent %}
	<form id="pins-publish-case" class="govuk-grid-row " method="post" action="">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ serviceName }}</h1>
			<p class="govuk-body govuk-!-margin-bottom-6">Check details before publishing</p>
		</div>
		<div class="govuk-grid-column-two-thirds">

			<div class='pins-preview-table'>
				<div class='pins-preview-table__header govuk-!-margin-bottom-2'>
					<h2>Project information</h2>
					<a href='{{'case-view'|url({caseId: case.id, step: 'project-information'})}}' class='govuk-link govuk-heading-s govuk-!-margin-bottom-0'>Edit</a>
				</div>
				<div>
					{{ caseInfoTablePreview(case) }}
				</div>
			</div>

			<div class='pins-preview-table govuk-!-margin-top-9'>
				<div class='pins-preview-table__header govuk-!-margin-bottom-2'>
					<h2>Applicant information</h2>
					<a href='{{'case-view'|url({caseId: case.id, step: 'project-information'})}}' class='govuk-link govuk-heading-s govuk-!-margin-bottom-0'>Edit</a>
				</div>
				<div>
					{{ caseApplicantTable(case, domainType, isPublishPage) }}
				</div>
			</div>

			<div class='pins-preview-table govuk-!-margin-top-9'>
				<div class='pins-preview-table__header govuk-!-margin-bottom-2'>
					<h2>Key dates</h2>
					<a href='{{'case-view'|url({caseId: case.id, step: 'key-dates'})}}' class='govuk-link govuk-heading-s govuk-!-margin-bottom-0'>Edit</a>
				</div>
				<div>
					{{ caseKeyDatesTable(case) }}
				</div>
			</div>

		</div>

		<div class="govuk-grid-column-full">
			{{ govukButton({ classes: 'govuk-!-margin-top-5', text: 'Accept and publish changes' if case.publishedDate else 'Accept and publish project' }) }}
		</div>
	</form>
{% endblock %}
