{% extends "../layouts/applications.layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "./components/case-info-table-preview.component.njk" import caseInfoTablePreview %}
{% from "./components/case-applicant-table.component.njk" import caseApplicantTable %}
{% from "./components/case-key-dates-table.component.njk" import caseKeyDatesTable %}

{% set serviceName = case.title %}
{% set pageTitle = 'Preview and publish project' %}
{% set isPublishPage = 1 %}
{% set overviewLink = 'case-view'|url({caseId: case.id, step: 'overview' if ('applic-55-welsh-translation' | isFeatureActive) else 'project-information'}) %}

{% block pageHeading %}{% endblock %}

{% block beforeContent %}
<aside>
	{{ govukBackLink({
		text: "Back to Overview",
		href: overviewLink
	}) }}
</aside>
{% endblock %}

{% block pageContent %}
	<form id="pins-publish-case" class="govuk-grid-row " method="post" action="">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageTitle }}</h1>
			<p class="govuk-body govuk-!-margin-bottom-6">Check details before publishing</p>
		</div>

		<div class="govuk-grid-column-two-thirds">
			<div>
				{{ caseInfoTablePreview(case, caseIsWelsh, 'Project information', overviewLink, 'Edit') }}
			</div>

			<div class='govuk-!-margin-top-9'>
				{{ caseApplicantTable(case, isPublishPage, 'Applicant information', overviewLink, 'Edit') }}
			</div>

			<div class='govuk-!-margin-top-9'>
				{{ caseKeyDatesTable(case, 'Key dates', 'case-view'|url({caseId: case.id, step: 'key-dates'}), 'Edit') }}
			</div>
		</div>

		<div class="govuk-grid-column-full">
			{{ govukButton({ classes: 'govuk-!-margin-top-5', text: 'Accept and publish changes' if case.publishedDate else 'Accept and publish project' }) }}
		</div>
	</form>
{% endblock %}
