{% extends "./layouts/applications-case-layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block sectionContent %}

	<h2 class="govuk-heading-m">Project team</h2>

	<p class="govuk-body">Not yet implemented</p>

	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
{% endblock %}
