{% extends "./layouts/applications-case-layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../applications/case-documentation/search/document-search.component.njk" import applicationDocumentSearch %}

{% set pageTitle = 'Project documentation'%}

{% block sectionMenu %}{% endblock %}

{% set searchParameters = {query: null, errors: null, csrfToken: csrfToken, label: 'Search documents', searchDocumentsUrl: 'project-documentation/document-search-results'} %}

{% block beforeContent %}
	<aside>
		{{ govukBackLink({
		text: "Back to project overview",
		href: 'case-view'|url({caseId: caseId})
	}) }}
	</aside>
{% endblock %}

{% block sectionContent %}

	<h2 class="govuk-heading-m">{{pageTitle}}</h2>

	<p class="govuk-body-s colour--secondary">All documents relating to the project</p>

	<div class="govuk-grid-row govuk-!-margin-bottom-3 govuk-!-margin-top-6">
		<div class="govuk-grid-column-two-thirds">
			{{ applicationDocumentSearch({caseId: caseId}) }}
		</div>
	</div>

	<div class="pins-link-menu">
		{% for documentationCategory in documentationCategories %}
			<a class="govuk-link govuk-heading-s" href="{{ 'document-category'|url({caseId: caseId, documentationCategory: documentationCategory}) }}">
				{{ documentationCategory.displayNameEn }}
			</a>
		{% endfor %}
	</div>

{% endblock %}
