{% extends "../layouts/applications.layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = "Project page successfully "+ ('unpublished' if isUnpublished else 'published') %}

{% block beforeContent %}{% endblock %}
{% block pageHeading %}{% endblock %}

{% block pageContent %}

	{% set bannerDetails%}
	<p class='govuk-!-font-size-19'>
		Case: {{case.title}}
		<br/>
		Reference: {{case.reference}}
	</p>
	{% endset %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{{ govukPanel({
				titleText: pageTitle,
				html: bannerDetails
			}) }}

			<a href="{{'case-view'|url({caseId: case.id})}}" class="govuk-link">
					Go back to Overview
			</a>

		</div>
	</div>
{% endblock %}
