{% extends "./layouts/applications-case-layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block sectionMenu %}{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back to project overview",
		href: 'case-view'|url({caseId: caseId})
	}) }}
{% endblock %}

{% block sectionContent %}

	<h2 class="govuk-heading-m">Project documentation</h2>

	<p class="govuk-body-s colour--secondary">All documents relating to the project</p>

	{% for documentationCategory in documentationCategories %}
		<a class="govuk-link govuk-heading-s" href="{{ 'document-category'|url({caseId: caseId, documentationCategory: documentationCategory}) }}">
			{{ documentationCategory.displayNameEn }}
		</a>
	{% endfor %}

{% endblock %}
