{% macro familyContact(familyData) %}
    <h3 class="govuk-heading-m">Contact details</h3>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__key">
                Organisation name
            </dt>
            <dd class="govuk-summary-list__value">
                {{ familyData.orgName }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> organisation name</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__key">
            Name
            </dt>
            <dd class="govuk-summary-list__value">
                {{ familyData.name }}
            </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__key">
            Job title
            </dt>
            <dd class="govuk-summary-list__value">
                {{ familyData.jobTitle }}
            </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__key">
            Email address
            </dt>
            <dd class="govuk-summary-list__value">
                {{ familyData.email }}
            </dd>

        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
            Telephone number
            </dt>
            <dd class="govuk-summary-list__value">
                {{ familyData.phoneNumber }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Address
            </dt>
            <dd class="govuk-summary-list__value">
                {{ familyData.addressLine1 }} </br>

                {% if familyData.addressLine2 %}
                    {{ familyData.addressLine2 }} </br>
                {% endif %}

                {% if familyData.town %}
                    {{ familyData.town }} </br>
                {% endif %}

                {% if familyData.county %}
                    {{ familyData.county }} </br>
                {% endif %}
            
                {{ familyData.postcode }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> address</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Preferred contact method
            </dt>
            <dd class="govuk-summary-list__value">
                {{ familyData.preferredContact if familyData.preferredContact else 'Email' }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/preferred-contact">
                    Change<span class="govuk-visually-hidden"> preferred preferred contact method</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Type
            </dt>
            <dd class="govuk-summary-list__value">
                
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/preferred-contact">
                    Change<span class="govuk-visually-hidden"> type</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Representation on behalf of
            </dt>
            <dd class="govuk-summary-list__value">
                
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/preferred-contact">
                    Change<span class="govuk-visually-hidden"> representation on behalf of</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Under 18
            </dt>
            <dd class="govuk-summary-list__value">
                {{ familyData.under18 }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/preferred-contact">
                    Change<span class="govuk-visually-hidden"> under 18</span>
                </a>
            </dd>
        </div>
    </dl>
{% endmacro %}
