{% macro representationStatusTag(status) %}
	{% set statusTagColor = '' %}
	{% set statusLabel = status %}

	{% switch (status | lower) %}
        {% case 'invalid' %}
        {% case 'reffered' %}
        {% case 'withdrawn' %}
            {% set statusTagColor = 'blue' %}
        {% case 'awaiting_review' %}
            {% set statusTagColor = 'grey' %}
            {% set statusLabel = 'awaiting review' %}
	{% endswitch %}

	<strong class="govuk-tag govuk-tag--{{statusTagColor}}">{{ statusLabel}}</strong>
{% endmacro %}
