{% macro representation(representationData, cspNonce) %}
    <h3 class="govuk-heading-m">Representation</h3>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
                Reference
            </dt>
            <dd class="govuk-summary-list__value">
                {{ representationData.reference }}
            </dd>
        </div>
        <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
                Date received
            </dt>
            <dd class="govuk-summary-list__value">
                {{ representationData.received }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Original representation
            </dt>
            <dd class="govuk-summary-list__value">

            {% if representationData.representationExcerpt|length %}
                <div id="representationText" class="govuk-!-margin-bottom-2">
                    <noscript>
                        {{ representationData.originalRepresentation }}
                    </noscript>
                </div>
                
                <p class="govuk-body govuk-!-margin-bottom-4">
                    <a href="#" id="fullRepToggle" hidden class="govuk-link govuk-link--no-visited-state">Show full representation</a>
                </p>

                <script nonce="{{cspNonce}}">

                    const repTextEl = document.querySelector('#representationText')
                    const fullRepToggleEl = document.querySelector('#fullRepToggle')

                    const repExcerpt = '{{ representationData.representationExcerpt }}...'
                    const repFullText = '{{ representationData.originalRepresentation }}'

                    console.log(repExcerpt)

                    let isToggled = false
                    fullRepToggleEl.removeAttribute('hidden')
                    repTextEl.innerText = repExcerpt

                    
                    const handleClick =function(e) {
                        e.preventDefault() 

                        if( !isToggled ) {
                            repTextEl.innerText = repFullText
                            fullRepToggleEl.innerText = 'Hide full representation'
                            isToggled = true
                        } else {
                            repTextEl.innerText = repExcerpt
                            fullRepToggleEl.innerText = 'Show full representation'
                            isToggled = false
                        }
                    }

                    fullRepToggleEl.addEventListener( 'click', handleClick )
                </script>


            {% else %}
                {{ representationData.originalRepresentation }}
            {% endif %}


            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/preferred-contact">
                    Redact<span class="govuk-visually-hidden"> original representation</span>
                </a>
            </dd>
        </div>
    </dl>

{% endmacro %}