{% macro representedSection(represented, changeLinks) %}
	<h3 class="govuk-heading-m">Contact details</h3>
	<dl class="govuk-summary-list">
		<div class="govuk-summary-list__row govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Organisation name
			</dt>
			<dd class="govuk-summary-list__value">
				{{ represented.orgName }}
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="{{ changeLinks.contactDetails }}">
					Change<span class="govuk-visually-hidden"> contact details</span>
				</a>
			</dd>
		</div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Name
			</dt>
			<dd class="govuk-summary-list__value">
				{{ represented.name }}
			</dd>
		</div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Job title
			</dt>
			<dd class="govuk-summary-list__value">
				{{ represented.jobTitle }}
			</dd>
		</div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions govuk-summary-list__row--no-border">
			<dt class="govuk-summary-list__key">
				Email address
			</dt>
			<dd class="govuk-summary-list__value">
				{{ represented.email }}
			</dd>

		</div>
		<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
			<dt class="govuk-summary-list__key">
				Telephone number
			</dt>
			<dd class="govuk-summary-list__value">
				{{ represented.phoneNumber }}
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Address
			</dt>
			<dd class="govuk-summary-list__value">
				{{ represented.addressLine1 }} </br>

				{% if represented.addressLine2 %}
					{{ represented.addressLine2 }} </br>
				{% endif %}

				{% if represented.town %}
					{{ represented.town }} </br>
				{% endif %}

				{% if represented.county %}
					{{ represented.county }} </br>
				{% endif %}

				{{ represented.postcode }}
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="{{ changeLinks.addressDetails }}">
					Change<span class="govuk-visually-hidden"> address</span>
				</a>
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Preferred contact method
			</dt>
			<dd class="govuk-summary-list__value">
				{{ represented.preferredContact if represented.preferredContact else 'Email' }}
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="{{ changeLinks.contactMethod }}">
					Change<span class="govuk-visually-hidden"> preferred contact method</span>
				</a>
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Type
			</dt>
			<dd class="govuk-summary-list__value">

			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="{{ changeLinks.representationType }}">
					Change<span class="govuk-visually-hidden"> type</span>
				</a>
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Representation on behalf of
			</dt>
			<dd class="govuk-summary-list__value">

			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="{{ changeLinks.representationEntity }}">
					Change<span class="govuk-visually-hidden"> representation on behalf of</span>
				</a>
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Under 18
			</dt>
			<dd class="govuk-summary-list__value">
				{{ represented.under18 }}
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="{{ changeLinks.under18 }}">
					Change<span class="govuk-visually-hidden"> under 18</span>
				</a>
			</dd>
		</div>
	</dl>
{% endmacro %}
