{% macro workflow(args) %}
{% from "./representation-status-tag.njk" import representationStatusTag %}
    <h3 class="govuk-heading-m">Workflow</h3>
    <dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Redacted
			</dt>
			<dd class="govuk-summary-list__value">
			{% if args.redacted %}
				Redacted
				{% else %}
					Unredacted
				{% endif %}
			</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="representation-details/change-redaction">
					Change<span class="govuk-visually-hidden"> status</span>
				</a>
			</dd>
		</div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Status
            </dt>
            <dd class="govuk-summary-list__value">
                <strong class="govuk-heading-s govuk-!-margin-bottom-6">{{ representationStatusTag(args.status) }}</strong>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="representation-details/change-status">
                    Change<span class="govuk-visually-hidden"> status</span>
                </a>
            </dd>
        </div>
    </dl>
    <div>
        <a class="govuk-button govuk-button--secondary" href="representation-details/task-log">View task log</a>
    </div>
{% endmacro %}
