{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "./status-tag.njk" import statusTag -%}

{%- macro appealsTable(params) -%}
	{%- macro createReferenceCell(appeal) -%}
		<a class="govuk-link" href="/appeals/appeal-details/{{appeal.appealId}}">
			{{ appeal.appealReference | appealShortReference }}
		</a>
	{%- endmacro -%}
	{%- set rows = [] -%}
	{%- for appeal in params.appeals -%}
		{%- set statusHtml -%}
			{{
				statusTag(appeal.appealStatus)
			}}
		{%- endset -%}
		{%- set row = [
			{ html: createReferenceCell(appeal) },
			{ text: appeal.appealSite | collapse(', ') },
			{ text: appeal.appealType},
			{ text: appeal.localPlanningDepartment },
			{ html: statusHtml }
		] -%}
		{%- set rows = rows | concat([row]) -%}
	{%- endfor -%}
	{{
		govukTable({
			caption: params.caption,
			captionClasses: "govuk-table__caption--l",
			head: [
				{ text: "Appeal ID" },
				{ text: "Site address" },
				{ text: "Appeal type" },
				{ text: "Local planning authority" },
				{ text: "Status" }
			],
			rows: rows
		})
	}}
{%- endmacro -%}
