@use "govuk-frontend/dist/govuk/helpers/_spacing" as govuk-spacing-helper;

.pins-button-group {
	margin-top: govuk-spacing(9);
	display: flex;
	justify-content: space-between;
}

.pins-folder-button-group {
	display: flex;
	justify-content: flex-end;
	gap: govuk-spacing(4);
}

.pins-folder-button-delete {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: govuk-spacing(4);
	margin-top: govuk-spacing(4);
}
