@use "govuk-frontend/dist/govuk/settings/_colours-applied" as
	govuk-colours-applied;
@use "../../1-settings/_settings.global.scss" as pins-colours;

.pins-masthead {
	border-bottom: 1px solid govuk-colours-applied.$govuk-brand-colour;
	color: govuk-colours-applied.$govuk-body-background-colour;
	background-color: govuk-colours-applied.$govuk-brand-colour;
	margin-top: calc(-1 * #{govuk-spacing(3)});

	h1 {
		color: govuk-colours-applied.$govuk-body-background-colour;
	}
}

.pins-masthead-summary {
	background-color: pins-colours.$pins-colours-grey-100;

	.govuk-heading-xl {
		margin-bottom: govuk-spacing(2);
	}
}
