@use "govuk-frontend/govuk/helpers/_colour" as color;

.pins-masthead {
  border-bottom: 1px solid color.govuk-colour("blue");
  color: color.govuk-colour("white");
  background-color:  color.govuk-colour("blue");
  margin-top: -10px;

  h1 {
    color: color.govuk-colour("white");
  }
}
