@use "govuk-frontend/dist/govuk/settings/_colours-applied" as
	govuk-colours-applied;

.pins-preview-table {
	border: 1px solid govuk-colours-applied.$govuk-border-colour;

	> * {
		padding: 0 govuk-spacing(4);
	}

	&__header {
		background-color: govuk-colours-applied.$govuk-canvas-background-colour;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
