.govuk-accordion__section-content {
  .govuk-summary-list:last-child {
    margin-bottom: 25px;
  }
  .govuk-table__row:last-child {
    .govuk-table__header, .govuk-table__cell {
      border-bottom: none;
    }
  }
}

.pins-table {
  &--fixed {
    table-layout: fixed;
  }
  &__cell {
    &--xs {
      width: 80px;
    }
    &--s {
      width: 130px;
    }
    &--m {
      width: 180px;
    }
    &--l {
      width: 270px;
    }
    &--xl {
      width: 330px;
    }
  }
}
