@use "../govuk-frontend/govuk/settings/_colours-applied" as colors;
@use "../1-settings/_settings.global.scss" as pins-colours;


#pins-applications-header {
  background: white;
  color: colors.govuk-colour("black");
  height: 8rem;
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
  border-bottom: .5rem solid pins-colours.$pins-colours-green-200;
  margin-bottom: 1rem;

	&[data-env="training"] {
		background: #ffef88;
	}

  .header-container {
	display: flex;
	align-items: center;
	padding: .5rem 0 1rem 0;

	&__logo {
		margin-right: 1rem;
		#pins-logo {
			height: 80px;
			@media (max-width: 640px ) {
				height: 65px;
			}
		}
	}

	&__text {
		flex-grow: 1;
		font-weight: 700;
		font-size: 1.5rem;
		text-align: center;
		@media (max-width: 640px ) {
			font-size: 1.2rem;
		}
	}

	&__links {
		display: flex;
		@media (max-width: 800px ) {
			flex-direction: column;
		}

		a {
			margin-left: 1rem;
			line-height: 1.5rem;
		}
	}
  }
}
