@use "govuk-frontend/dist/govuk/settings/_colours-applied" as
	govuk-colours-applied;
@import "govuk-frontend/dist/govuk/_base";

.pins-file-upload {
	&--container {
		&.error {
			border-left: 5px solid govuk-colours-applied.$govuk-error-colour;
			padding-left: govuk-spacing(4);
		}
	}

	&--instructions {
		> * {
			display: block;
			margin-bottom: govuk-spacing(4);
		}
	}

	&--button {
		border: 1px solid govuk-colours-applied.$govuk-border-colour;
		background: govuk-colours-applied.$govuk-canvas-background-colour;
		color: govuk-colours-applied.$govuk-text-colour;
		padding: 0 govuk-spacing(1);
		border-radius: 2px;
		box-sizing: border-box;
		line-height: 1;
		box-shadow: none;
		margin: 0;
		height: 2rem;

		@include govuk-font-size(19);

		&:hover {
			background-color: govuk-colours-applied.$govuk-border-colour;
			color: govuk-colours-applied.$govuk-text-colour;
		}
	}

	&--counter {
		line-height: 2rem;
		margin-left: govuk-spacing(2);
	}

	&--files-rows {
		padding: 0;
	}

	&--file-row {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid govuk-colours-applied.$govuk-border-colour;
		padding: govuk-spacing(2) 0;

		> * {
			margin: 0;
		}
	}

	&--remove {
		color: govuk-colours-applied.$govuk-brand-colour;
		cursor: pointer;
		background: none;
		border: 0;

		@include govuk-font-size(19);
	}

	&--progress {
		margin-left: govuk-spacing(4);
		line-height: 2;
	}
}
