.pins-key-dates-section {
	position: relative;

	.offset-link {
		position: absolute;
		right: 0;
		font-size: 19px;
		top: -70px;
	}

	td:last-of-type {
		text-align: right;
		white-space: nowrap;
	}
}
