@use "govuk-frontend/dist/govuk/settings/_colours-applied" as
	govuk-colours-applied;
@use "../../1-settings/_settings.global.scss" as pins-colours;
@use "govuk-frontend/dist/govuk/settings/_spacing";

@import "govuk-frontend/dist/govuk/helpers/_spacing";
@import "govuk-frontend/dist/govuk/_base";

.pins-list-menu-container {
	width: 18rem;
	margin-right: govuk-spacing(4);
}

.pins-list-menu {
	text-align: left;
	padding-left: 0;
	margin-left: 0;
	margin-top: 0;

	.govuk-heading-s {
		margin-bottom: 0;
	}

	li {
		list-style: none;
	}

	a {
		width: 100%;
		display: flex;
		text-decoration: none;
		padding: govuk-spacing(2);
		height: 3.5rem;
		align-items: center;

		@include govuk-font-size(16);

		&:visited {
			color: pins-colours.$pins-colours-blue-500;
		}
	}

	a:focus,
	a:active,
	a.pins-selected-item {
		background-color: pins-colours.$pins-colours-grey-100;
		box-shadow: -4px 0px 0px pins-colours.$pins-colours-blue-500;
	}

	a.pins-selected-item {
		color: govuk-colours-applied.$govuk-text-colour;
		font-weight: 800;
	}
}
