@use "govuk-frontend/dist/govuk/settings/_colours-applied" as
	govuk-colours-applied;

.pins-content--sticky {
	position: sticky;
	top: 0;
}

.results-per-page {
	&__button {
		background: none !important;
		border: none;
		padding: 0 !important;
	}
	&__button-link {
		color: govuk-colours-applied.$govuk-brand-colour;
		text-decoration: underline;
		cursor: pointer;
	}

	&__button-link-disabled {
		color: govuk-colours-applied.$govuk-text-colour;
	}
}
