{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% macro infoTypes(applicantInfoTypes) %}
	{{ govukCheckboxes({
		idPrefix: "selectedApplicantInfoTypes",
		name: "selectedApplicantInfoTypes[]",
		items: applicantInfoTypes
	}) }}
{% endmacro %}

