{% extends "./applications-create-applicant-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% block stepTitle %}
	What is the applicant’s organisation?
{% endblock %}

{% block stepForm %}
	{{ govukInput({
		id: "applicantOrganisationName",
		name: "applicantOrganisationName",
		classes: "govuk-!-width-one-third",
		value: applicantOrganisationName
	}) }}
{% endblock %}
