{% extends "./applications-create-applicant-layout.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block stepTitle %}
	What is the applicant’s organisation?
{% endblock %}

{% block stepForm %}
	{{ previousAndNextPaths | dump }}
	work in progress
{% endblock %}
