{% extends "./applications-create-applicant-layout.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block stepTitle %}
	Choose the type of Applicant information you can give
{% endblock %}

{% block stepForm %}
	{{ govukCheckboxes({
		idPrefix: "selectedApplicantInfoTypes",
		name: "selectedApplicantInfoTypes[]",
		items: applicantInfoTypes
	}) }}
{% endblock %}

{% set backLink = 'applications-create'|url({applicationId:applicationId, step: 'team-email'}) %}
