{% extends "../applications-create-layout.njk" %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		classes: 'govuk-!-margin-top-3',
		items: [
			{ text: 'Applications', href: 'dashboard'|url({domainType:domainType}) },
			{ text: 'Case information', href: 'applications-create'|url({applicationId: applicationId})},
			{ text: 'Applicant Information'}
		]
	}) }}
{% endblock %}

{% set backLink = 'applications-create'|url({applicationId:applicationId, step: backPath}) %}
