{% extends "applications/layouts/applications.layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../components/representation-status-tag.njk" import representationStatusTag %}

{% block pageHeading %}
{% endblock %}

{% block pageContent %}


	<span class="govuk-caption-l">{{ orgOrName}}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageHeading }}</h1>
    <strong class="govuk-heading-s govuk-!-margin-bottom-6">{{ representationStatusTag(status) }}</strong>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<form method="post" novalidate>

					{{ govukRadios({
						name: "statusResult",
                        fieldset: {
                            legend: {
                                isPageHeading: false
                            }
                        },
						items: radioItems,
						errorMessage: errors["statusResult"] and {
							text: errors["statusResult"].msg
						}
					}) }}

                    {{ govukTextarea({
                    name: "notes",
                    id: "notes",
                    label: {
                        text: radioItems|length and "Notes",
                        classes: "govuk-label--m",
                        isPageHeading: false
                    },
                    hint: {
                        text: "Use this space to provide more details."
                    }
                    }) }}

                    
					{{ govukButton({
						text: "Save changes",
						type: "submit",
						classes: "govuk-!-margin-top-3"
					}) }}


			</form>
		</div>
	</div>

{% endblock %}
