{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../components/representation-address.component.njk" import representationAddress %}
{% from "../components/representation-summary-list.component.njk" import representationSummaryList %}

{% set represented = representation.represented %}

<h3 class="govuk-heading-m">Contact details</h3>

{{
  representationSummaryList([
    {
      items: [
        {
          key: 'Organisation name',
          value: represented.organisationName
        },
        {
          key: 'Full name',
          value: represented.fullName
        },
        {
          key: 'Job title',
          value: represented.jobTitle
        },
        {
          key: 'Email address',
          value: represented.email
        },
        {
          key: 'Telephone number',
          value: represented.phoneNumber
        }
      ],
      error: null,
      link: repModePageURLs.contactDetails,
      linkText: "Change contact details"
    },
    {
      items: [
        {
          key: 'Address',
          value: representationAddress(represented.address)
        }
      ],
      error: errors['represented.address.postcode'],
      link: repModePageURLs.addressDetails,
      linkText: "Change address details"
    },
    {
      items: [
        {
          key: 'Preferred contact method',
          value: selectedOptionsText.selectedContactMethodOptionText.represented
        }
      ],
      error: errors['represented.contactMethod'],
      link: repModePageURLs.contactMethod,
      linkText: "Change preferred contact method"
    },
    {
      items: [
        {
          key: 'Type',
          value: representation.type
        }
      ],
      error: errors.type,
      link: repModePageURLs.representationType,
      linkText: "Change type"
    },
    {
      items: [
        {
          key: 'Under 18',
          value: selectedOptionsText.selectedUnder18OptionText
        }
      ],
      error: errors['represented.under18'],
      link: repModePageURLs.under18,
      linkText: "Change under 18"
    },
    {
      items: [
        {
          key: 'Representation on behalf of',
          value: selectedOptionsText.selectedEntityOptionText
        }
      ],
      error: errors.onBehalfOf,
      link: repModePageURLs.representationEntity,
      linkText: "Change representation on behalf of"
    }
  ])
}}