@use "govuk-frontend/dist/govuk/settings/colours-applied" as govuk-colors;

$colours-attrs: (
	primary: govuk-colors.$govuk-text-colour,
	secondary: govuk-colors.$govuk-secondary-text-colour,
	red: govuk-colors.$govuk-error-colour
);

@each $key, $val in $colours-attrs {
	.colour--#{"" + $key},
	.colour--#{"" + $key}:link {
		color: #{$val};
	}
}

.app-link-warning:link,
.app-link-warning:visited {
	color: govuk-colors.$govuk-error-colour;
}
