@use "govuk-frontend/dist/govuk/helpers/visually-hidden" as govuk-sr-helpers;

$display-attrs: (
	none: "none",
	flex: "flex",
	block: "block"
);

@each $key, $val in $display-attrs {
	.display--#{$key} {
		display: #{$val} !important;
	}
}

.display--sr-only {
	@include govuk-sr-helpers.govuk-visually-hidden;
}
