{% macro appealSummary(appeal) %}
  <aside class="govuk-!-margin-bottom-8">
    <h3 class="govuk-heading-m">Summary</h3>
    <dl class="govuk-body-s">
      <div class="govuk-!-margin-bottom-3">
        <dt class="govuk-!-font-weight-bold">Appellant name</dt>
        <dd>Maria Sharma</dd>
      </div>
      <div class="govuk-!-margin-bottom-3">
        <dt class="govuk-!-font-weight-bold">Appeal reference</dt>
        <dd>APP/2021/56789/3755470</dd>
      </div>
      <div class="govuk-!-margin-bottom-3">
        <dt class="govuk-!-font-weight-bold">Appeal age</dt>
        <dd>44 days</dd>
      </div>
      <div class="govuk-!-margin-bottom-3">
        <dt class="govuk-!-font-weight-bold">Site address</dt>
        <dd>Copthalls, Clevedon Road, West Hill, BS48 1PN</dd>
      </div>
      <div class="govuk-!-margin-bottom-3">
        <dt class="govuk-!-font-weight-bold">Site address</dt>
        <dd>Bristol City Council</dd>
      </div>
    </dl>
  </aside>
{% endmacro %}
