{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro appealTable(params) %}
  {% set head = [] %}
  {% set rows = [] %}

  {% for column in params.columns %}
    {% if params.headerHidden and params.headerHidden | includes(column) %}
      {% set head = (head.push({ html: '<span class="govuk-visually-hidden">' + column + '</span>' }), head) %}
    {% else %}
      {% set head = (head.push({ text: column }), head) %}
    {% endif %}
  {% endfor %}

  {% for appeal in params.appeals %}
    {% set cells = [] %}
    
    {% for column in params.columns %}
      {% set cell = {} %}

      {% if column === 'Appeal age' %}
        {% set cell = { text: appeal.appealAge } %}
      {% elseif column === 'Appeal reference' %}
        {% set cell = { text: appeal.reference } %}
      {% elseif column === 'Appeal site' %}
        {% set cell = { text: appeal.appealSite | collapse(', ') } %}
      {% elseif column === 'Appeal type' %}
        {% set cell = { text: appeal.appealType } %}
      {% elseif column === 'Postcode' %}
        {% set cell = { text: appeal.appealSite.postCode } %}
      {% elseif column === 'Provisional site visit type' %}
        {% set cell = { text: appeal.provisionalVisitType | capitalize } %}
      {% elseif column === 'Recommended site visit' %}
        {% set cell = { text: appeal.provisionalVisitType | capitalize } %}
      {% elseif column === 'Specialism' %}
        {% set cell = { text: 'Specialism' } %}
      {% elseif column === 'Site visit date' %}
        {% set cell = { text: appeal.siteVisitDate } %}
      {% elseif column === 'Site visit time' %}
        {% set cell = { text: appeal.siteVisitTimeSlot } %}
      {% elseif column === 'Site visit type' %}
        {% set cell = { text: appeal.siteVisitType } %}
      {% elseif column === 'Select' %}
        {% set cell = {
          attributes: { style: 'padding-top: 2px' },
          html: createCheckboxCell({
            label: 'Select AppealReference',
            checked: params.selected | includes(appeal.appealId),
            value: appeal.appealId
          })
        } %}
      {% elseif column === 'Status' %}
        {% set cell = { html: govukTag({ text: 'New', classes: 'govuk-tag--green' }) } %}
      {% endif %}    

      {% set cells = (cells.push(cell), cells) %}
    {% endfor %}

    {% set rows = (rows.push(cells), rows) %}
  {% endfor %}

  {{
    govukTable({
      classes: 'govuk-!-margin-bottom-9',
      head: head,
      rows: rows
    })
  }}
{% endmacro %}

{% macro createCheckboxCell(params) %}
  <div class="govuk-checkboxes govuk-checkboxes--small">
    <div class="govuk-checkboxes__item">
      <input id="{{ params.value }}" class="govuk-checkboxes__input" name="appealIds[]" type="checkbox" value="{{ params.value }}" {{-" checked" if params.checked }}>
      <label class="govuk-label govuk-checkboxes__label" for="{{ params.value }}">
        <span class="govuk-visually-hidden">{{ params.label }}</span>
      </label>
    </div>
  </div>
{% endmacro %}
