{% macro siteVisit(appeal) %}
  <div class="pins-related">
    <h3 class="govuk-heading-m">Site visit</h3>
    <dl class="govuk-body">
      <div class="govuk-!-margin-bottom-3">
        <dt class="govuk-!-font-weight-bold">Date<dt>
        <dd>{{ appeal.siteVisitDate }}</dd>
      </div>
      <div class="govuk-!-margin-bottom-3">
        <dt class="govuk-!-font-weight-bold">Time<dt>
        <dd>{{ appeal.siteVisitTimeSlot }}</dd>
      </div>
      <div class="govuk-!-margin-bottom-3">
        <dt class="govuk-!-font-weight-bold">Type<dt>
        <dd>{{ appeal.siteVisitType | capitalize }}</dd>
      </div>
    </dl>
  </div>
{% endmacro %}