{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro siteVisitDetails(appeal) %}
  {% set lpa = appeal.lpaAnswers %}
  {% set appellant = appeal.appellantAnswers %}

  {{
    govukTable({
      firstCellIsHeader: true,
      head: [
        { text: 'Question', classes: 'govuk-visually-hidden' }, 
        { text: 'Local planning department\'s answer' },
        { text: 'Appellant\'s answer' }
      ],
      rows: [
        [
          { text: 'Can the site be seen from public land?' }, 
          { html: getAnswerDescriptionHtml(lpa, 'canBeSeenFromPublic') },
          { html: getAnswerDescriptionHtml(appellant, 'canBeSeenFromPublic') } 
        ],
        [
          { text: 'Does the inspector need to enter the site?' }, 
          { html: getAnswerDescriptionHtml(lpa, 'inspectorNeedsToEnterSite') },
          { text: '(not asked)' } 
        ],
        [
          { text: 'Does the inspector need to access a neighbour\'s land?' }, 
          { html: getAnswerDescriptionHtml(lpa, 'inspectorNeedsAccessToNeighboursLand') },
          { text: '(not asked)' } 
        ],
        [
          { text: 'Does the appellant own the whole site?' }, 
          { text: "(not asked)" },
          { html: getAnswerDescriptionHtml(appellant, 'appellantOwnsWholeSite') } 
        ],
        [
          { text: 'Are there any health and safety issues?' }, 
          { html: getAnswerDescriptionHtml(lpa, 'healthAndSafetyIssues') },
          { html: getAnswerDescriptionHtml(appellant, 'healthAndSafetyIssues') } 
        ],
        [
          { text: 'Appeals in the immediate area still being considered' }, 
          { text: lpa.appealsInImmediateArea },
          { text: '(not asked)' } 
        ]
      ]
    })
  }}
{% endmacro %}

{% macro getAnswerDescriptionHtml(answers, prefix) %}
  {% if answers[prefix] %}
    Yes<br>{{ answers[prefix + 'Description'] }}
  {% else %}
    No
  {% endif %}
{% endmacro %}