{% macro siteVisit(appeal) %}
  <div class="pins-related">
    <h3 class="govuk-heading-m">Site visit</h3>
    <dl class="govuk-body">
      <div class="govuk-!-margin-bottom-3">
        <dt class="govuk-!-font-weight-bold">Date</dt>
        <dd>{{ appeal.bookedSiteVisit.visitDate }}</dd>
      </div>
      <div class="govuk-!-margin-bottom-3">
        <dt class="govuk-!-font-weight-bold">Time</dt>
        <dd>{{ appeal.bookedSiteVisit.visitSlot }}</dd>
      </div>
      <div class="govuk-!-margin-bottom-3">
        <dt class="govuk-!-font-weight-bold">Type</dt>
        <dd>{{ appeal.bookedSiteVisit.visitType | capitalize }}</dd>
      </div>
    </dl>
  </div>
{% endmacro %}