{% extends "app/layouts/app.layout.njk" %}

{%- from "govuk/components/panel/macro.njk" import govukPanel -%}

{% set serviceName = 'Planning inspectorate' %}

{%- set panelHtml -%}
	{%- if panel.appealReference -%}
		{{ panel.appealReference.label }}<br><strong>{{ panel.appealReference.reference | appealShortReference }}</strong>
	{%- endif -%}
{%- endset -%}

{%- set gridColumnClasses = gridColumnClasses if gridColumnClasses else 'govuk-grid-column-full' -%}
{%- set bodyContainerClasses = body.containerClasses if body.containerClasses else 'govuk-!-padding-top-2' -%}
{%- set bodyTitleHeadingLevel = body.title.headingLevel if body.title.headingLevel else 2 -%}
{%- set bodyTitleClasses = body.title.classes if body.title.classes else 'govuk-heading-m' -%}

{% block main %}
	<main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>
		<div class="{{ containerClasses }}">
			<div class="govuk-grid-row">
				<div class="{{ gridColumnClasses }}">
					{{ govukPanel({
						headingLevel: 1,
						classes: panel.classes,
						titleText: panel.title,
						html: panelHtml
					}) }}
				</div>
			</div>
			<div class="govuk-grid-row">
				<div class="{{ gridColumnClasses }} {{ bodyContainerClasses }}">
					{%- if body.preTitle -%}<p class="govuk-body">{{ body.preTitle }}</p>{%- endif -%}
					{%- if body.title -%}<h{{ bodyTitleHeadingLevel }} class="{{ bodyTitleClasses }}">{{ body.title.text }}</h{{ bodyTitleHeadingLevel }}>{%- endif -%}
					{%- if body.rows -%}
						{%- for row in body.rows -%}
							{%- if row.href -%}
								<p class="govuk-body">
									<a class="govuk-link" href="{{ row.href }}">{{ row.text }}</a>
								</p>
							{%- else -%}
								<p class="govuk-body">{{ row.text }}</p>
							{%- endif -%}
						{%- endfor -%}
					{%- endif -%}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
