{% extends "app/layouts/app.layout.njk" %}

{% set serviceName = 'Planning inspectorate' %}
{% set pageTitle = 'Back office services' %}

{% block main %}
  <div class="pins-masthead govuk-!-padding-top-9 govuk-!-padding-bottom-4">
    <div class="govuk-width-container {{ containerClasses }}">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>
  <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>
    <div class="govuk-width-container {{ containerClasses }}">
      <div class="govuk-grid-row">
				<div class="govuk-grid-column-one-half">
					<h2 class="govuk-heading-m">Appeals</h2>
					<ul class="govuk-list">
							<li>
								<a href="/appeals-service/appeals-list" class="govuk-link">National List</a>
							</li>
				</div>
      </div>
    </div>
  </main>
{% endblock %}
