{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro examinationTimetableItems(timetableItems) %}
    <div>
		{% set accordionItemsExamination = [] %}
		{% set accordionItemsPreExamination = [] %}
		{% if timetableItems|length %}
			{% for timetableItem in timetableItems %}
				{% set descriptionHtml %}
					<p class="govuk-body">{{timetableItem.description.preText}}</p>
					{% if timetableItem.description.bulletPoints |length %}
						<ul class='govuk-list govuk-list--bullet'>
							{% for bulletPoint in timetableItem.description.bulletPoints %}
								<li>{{bulletPoint}}</li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endset %}
				{% set tableRows = [{
						key: { text: "Item Type" },
						value: { text: timetableItem.ExaminationTimetableType.name }
					}, {
						key: { text: "Iteam Name" },
						value: { text: timetableItem.name }
					}, {
						key: { text: "Start Date" if timetableItem.startDate else 'Date'},
						value: { text: timetableItem.startDate | displayDate({ condensed: true }) if timetableItem.startDate else timetableItem.date | displayDate({ condensed: true }) }
					}, {
						key: { text: "Start Time" },
						value: { text: timetableItem.startTime }
					}, {
						key: { text: "End Date" },
						value: { text: timetableItem.date | displayDate({ condensed: true }) if timetableItem.date else '' }
					} if timetableItem.startDate else null, {
						key: { text: "End Time" },
						value: { text: timetableItem.endTime }
					}, {
						key: { text: "Description" },
						value: { html: descriptionHtml }
					}]
				%}
				{% set heading = [timetableItem.date | displayDate({ condensed: true }) if timetableItem.date else '', ' - ', timetableItem.name] | join %}
				{% set row = {
					heading: { text: heading },
					content: { html: govukSummaryList({ rows: tableRows }) }
				} %}
				{% if (timetableItem.ExaminationTimetableType.name == 'Procedural Deadline (Pre-Examination)') %}
					{% set accordionItemsPreExamination = accordionItemsPreExamination.concat([row]) %}
				{% else %}
					{% set accordionItemsExamination = accordionItemsExamination.concat([row]) %}
				{% endif %}
			{% endfor %}
		{% endif %}
		<h3 class="govuk-heading-m">Pre-Examination</h3>
		{% if accordionItemsPreExamination|length %}
			{{ govukAccordion({
				id: "accordion-default",
				items: accordionItemsPreExamination
			}) }}
		{% endif %}
	</div>

	<div>
        <h3 class="govuk-heading-m">Examination</h3>
		{% if accordionItemsExamination|length %}
			{{ govukAccordion({
				id: "accordion-default",
				items: accordionItemsExamination
			}) }}
		{% endif %}
    </div>
{% endmacro %}
