{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "./timetable-item-summary.component.njk" import timetableItemSummary %}

{% macro timetableItemsList(timetableItems, caseId) %}
	<div class='timetable-table'>
		{% set accordionItemsExamination = [] %}
		{% set accordionItemsPreExamination = [] %}

		{% for timetableItem in timetableItems %}
			{% if (timetableItem.itemTypeName == 'Procedural Deadline (Pre-Examination)' or timetableItem.itemTypeName == 'Deadline') %}
				{% set heading = [timetableItem.endDate, ' - ', timetableItem.name] | join %}
			{% else %}
				{% set heading = [timetableItem.date if timetableItem.date else timetableItem.startDate, ' - ', timetableItem.name] | join %}
			{% endif %}

			{% set content %}
				{% if not timetableItem.submissions %}
					<div class='top-right-link'>
						<a class='govuk-link' href="{{'timetable-item'|url({caseId: caseId, timetableId: timetableItem.id, step: 'edit'})}}">Edit timetable item</a>
					</div>
				{% endif %}

				{{timetableItemSummary(timetableItem)}}

				{% if not timetableItem.submissions %}
					<a class='govuk-link colour--red' href='{{'timetable-item'|url({caseId: caseId, step: 'delete', timetableId: timetableItem.id})}}'>Delete timetable item</a>
				{% endif %}
			{% endset %}

			{% set row = {
				heading: {
					text: heading,
					classes: 'govuk-heading-m'
				},
				content: {
					html: content
				}
			} %}

			{% if (timetableItem.itemTypeName == 'Procedural Deadline (Pre-Examination)') %}
				{% set accordionItemsPreExamination = accordionItemsPreExamination.concat([row]) %}
			{% else %}
				{% set accordionItemsExamination = accordionItemsExamination.concat([row]) %}
			{% endif %}

		{% endfor %}

		<h3 class="govuk-heading-m">Pre-Examination</h3>

		{% if accordionItemsPreExamination.length === 0 %}
			<p class='govuk-body'>No timetable items</p>
		{% endif %}

		{{ govukAccordion({
				id: "accordion-pre-examination",
				items: accordionItemsPreExamination
		}) }}

		<div class='govuk-!-margin-top-8'>
			<h3 class="govuk-heading-m">Examination</h3>

			{% if accordionItemsExamination.length === 0 %}
				<p class='govuk-body'>No timetable items</p>
			{% endif %}

			{{ govukAccordion({
				id: "accordion-examination",
				items: accordionItemsExamination
		}) }}
		</div>
	</div>
{% endmacro %}
