{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "./timetable-item-summary.component.njk" import timetableItemSummary %}

{% macro timetableItemsList(timetableItems, caseId, isCaseWelsh) %}
	<div class='timetable-table'>
		{% set accordionItemsExamination = [] %}
		{% set accordionItemsPreExamination = [] %}

		{% for timetableItem in timetableItems %}
			{% if (timetableItem.templateType in ['procedural-deadline', 'deadline', 'deadline-for-close-of-examination']) %}
				{% set heading = [timetableItem.endDate, ' - ', timetableItem.name] | join %}
			{% else %}
				{% set heading = [timetableItem.date if timetableItem.date else timetableItem.startDate, ' - ', timetableItem.name] | join %}
			{% endif %}

			{% set content %}
				{% if timetableItem.submissions == 0 %}
					<div class="top-right-link">
						<a class="govuk-link" href="{{'timetable-item'|url({caseId: caseId, step: 'delete', timetableId: timetableItem.id})}}">Delete timetable item</a>
					</div>
				{% endif %}

				{{timetableItemSummary(timetableItem, isCaseWelsh, caseId)}}

				{% if timetableItem.submissions > 0 %}
					<p class="govuk-body-s font-weight--700">
						There are already submissions in a folder associated with this timetable item. You cannot edit or delete items with existing submissions.
					</p>
				{% endif %}

				{% if timetableItem.submissions is null %}
					<p class="govuk-body-s font-weight--700">
						This folder can not be deleted. There was an issue counting the documents for it.
					</p>
				{% endif %}

			{% endset %}

			{% set row = {
				heading: {
					text: heading,
					classes: 'govuk-heading-m'
				},
				content: {
					html: content
				}
			} %}

			{% if (timetableItem.templateType == 'procedural-deadline') %}
				{% set accordionItemsPreExamination = accordionItemsPreExamination.concat([row]) %}
			{% else %}
				{% set accordionItemsExamination = accordionItemsExamination.concat([row]) %}
			{% endif %}

		{% endfor %}

		<h3 class="govuk-heading-m">Pre-examination</h3>

		{% if accordionItemsPreExamination.length === 0 %}
			<p class="govuk-body">No timetable items</p>
		{% endif %}

		{{ govukAccordion({
				id: "accordion-pre-examination",
				items: accordionItemsPreExamination
		}) }}

		<div class="govuk-!-margin-top-8">
			<h3 class="govuk-heading-m">Examination</h3>

			{% if accordionItemsExamination.length === 0 %}
				<p class="govuk-body">No timetable items</p>
			{% endif %}

			{{ govukAccordion({
				id: "accordion-examination",
				items: accordionItemsExamination
		}) }}
		</div>
	</div>
{% endmacro %}
