{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro timetableItemSummary(timetableItem) %}

	{% set descriptionHtml %}
		<p class="govuk-body">{{timetableItem.description.preText | sanitize}}</p>

		{% if timetableItem.description.bulletPoints | length %}
			<ul class='govuk-list govuk-list--bullet'>
				{% for bulletPoint in timetableItem.description.bulletPoints %}
					<li>{{bulletPoint | sanitize}}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endset %}

	{% set rowsData = [
		{
			key: 'Item Type',
			text: timetableItem.itemTypeName
		}, {
			key: 'Item Name',
			text: timetableItem.name
		}, {
			key: "Date",
			text: timetableItem.date
		}, {
			key: "Start Date",
			text: timetableItem.startDate
		}, {
			key: "Start time",
			text: timetableItem.startTime
		}, {
			key: "End Date",
			text: timetableItem.endDate
		}, {
			key: "End Time",
			text: timetableItem.endTime
		}, {
			key: "Description",
			html: descriptionHtml
		}

	] %}

	{% set tableRows = [] %}
	{% for row in rowsData %}
		{% if (row.text or row.html) %}
			{#  In the value column, the row can be used because the "key" will be ignored	#}
			{% set tableRows = tableRows.concat([
				{
					key: { text: row.key },
					value: row
				}
			]) %}

		{% endif %}
	{% endfor %}

	{{ govukSummaryList({rows: tableRows}) }}

{% endmacro %}
