{% macro representationHeading(title, pretitle, projectName) %}
	{% if projectName %}
    <p class="govuk-body"><strong>Project name:</strong> {{ projectName }}</p>
  {% endif %}

  {% if pretitle %}
    <span class="govuk-caption-l">{{ pretitle }}</span>
  {% endif %}

  {% if title %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
  {% endif %}
{% endmacro %}
