{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% macro preSearch(filters) %}
	<div class="pins-masthead-summary govuk-!-padding-4">
		<div class="govuk-form-group">
			<div class="filter-box">
				{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
				{{ govukCheckboxes({
					name: "filters",
					classes: "govuk-checkboxes--small",
					fieldset: {
						legend: {
							text: "Filter",
							isPageHeading: false,
							classes: "govuk-fieldset__legend--m"
						}
					},
					items: filters
				}) }}
			</div>
		</div>
		<button class="govuk-button" id="toggleButton" data-module="govuk-button">
			Apply filters
		</button>
	</div>
{% endmacro %}
