{% extends "applications/layouts/applications.layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageHeading %}
{% endblock %}

{% block pageContent %}
	<span class="govuk-caption-l">Attachment upload</span>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-half">
			<a href="{{ link }}"> Skip </a>
		</div>
	</div>
{% endblock %}
