{% extends "../layouts/applications.layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{{ govukPanel({
				titleText: "New case has been created",
				html: ["The case reference number<br><strong>", values.reference, '</strong>'] | join
			}) }}
		</div>
	</div>
	<div>
		<br />
		<a class="govuk-link" href="{{ 'dashboard'|url({domainType:domainType})}}">Go back to main Applications homepage</a>
	</div>
{% endblock %}
