{% extends "../../layouts/applications.layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = title %}
{% set serviceName = case.title %}

{# don't include the layouts page heading #}
{% block pageHeading %}{% endblock %}

{% block beforeContent %}
<aside>
	{% set defaultLink = "project-updates" | url({caseId: caseId}) %}
	{{ govukBackLink({
		classes: 'govuk-!-margin-top-3',
		text: "Back",
		href: backLink | default(defaultLink)
	}) }}
</aside>
{% endblock %}

{% block pageContent %}
    <p class="govuk-body"><strong>Project name:</strong> {{ serviceName }}</p>

	{% if title %}
		<h1 class="govuk-heading-l">{{ pageTitle }}</h1>
	{% endif %}

	{% if ('applic-55-welsh-translation' | isFeatureActive) %}
		{% if deleteButtonLink %}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
					<a href="{{ deleteButtonLink }}" class="govuk-link govuk-body">
						Delete
					</a>
				</div>
			</div>
		{% endif %}
	{% else %}
		{% if preview %}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds project-update">
					<h1 class="govuk-heading-m">Project update preview</h1>
					{{ govukNotificationBanner({html: preview.htmlContent}) }}
				</div>
			</div>
		{% endif %}
	{% endif %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<div class="govuk-form-group">
				{{ govukSummaryList(summary) }}
			</div>
		</div>
	</div>

	{% if ('applic-55-welsh-translation' | isFeatureActive) %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h2 class='govuk-heading-m'>Preview</h2>

				{{ govukInsetText({
					html: preview.htmlContent
				}) }}

				{% if caseIsWelsh %}
					<h2 class='govuk-heading-m'>Preview in Welsh</h2>

					{{ govukInsetText({
						html: preview.htmlContentWelsh
					}) }}
				{% endif %}
			</div>
		</div>
	{% endif %}

	<form method="post" action="" novalidate="novalidate">
		{% include 'app/includes/csrf.njk' %}
		{% if form %}
			<input type="hidden" name="{{form.name}}" value="{{ form.value }}">
		{% endif %}

		{% if warningText %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
 				{{ govukWarningText({
					text: warningText,
					iconFallbackText: "Warning"
				}) }}
			</div>
		</div>
		{% endif %}

		{% if buttonText %}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-half">
					{% if buttonLink %}
						{{ govukButton({ text: buttonText, href: buttonLink, classes: buttonClasses }) }}
					{% else %}
						{{ govukButton({ text: buttonText, type: "submit", classes: buttonClasses }) }}
					{% endif %}
				</div>
			</div>
		{% endif %}
	</form>
{% endblock %}
