{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "applications/components/excerpt.component.njk" import excerpt -%}

{%- macro projectUpdatesTable(tableHeaders, projectUpdatesRows, caseId) -%}
	{%- set headers = [] -%}
	{%- for header in tableHeaders -%}
		{%- set headers = headers | concat([{ html: headerLink(header) }]) -%}
	{%- endfor -%}

	{%- set rows = [] -%}
	{%- for projectUpdate in projectUpdatesRows -%}
		{%- set row = [
			{ text: projectUpdate.datePublished },
			{ html: excerpt(projectUpdate.content, linkText = 'full update'), classes: "project-update" },
			{ text: projectUpdate.emailed },
			{ html: statusTag(projectUpdate.status) },
			{ html: reviewLink(projectUpdate.id, caseId) }
		] -%}
		{%- set rows = rows | concat([row]) -%}
	{%- endfor -%}
	{{
		govukTable({
			head: headers,
			rows: rows
		})
	}}
{%- endmacro -%}

{%- macro statusTag(status) -%}
	<strong class="govuk-tag govuk-tag--{{status.color}} single-line">{{ status.label }}</strong>
{%- endmacro -%}

{%- macro reviewLink(id, caseId) -%}
	<a href="{{"project-updates-step" | url({caseId: caseId, projectUpdateId: id, step: "review"}) }}">Review</a>
{%- endmacro -%}

{%- macro headerLink(header) -%}
	{% if header.value %}
			<a href="{{ header.link }}"
				class="sort-table__link {% if header.isDescending %} sort-table__link--descending  {% endif %}">
				{{ header.text }}
				<span class="sort-table__link-icon {% if header.active or header.isDescending %} sort-table__link-icon--big {% else %} sort-table__link-icon--small {% endif %}"></span>
			</a>
		{% else %}
			{{ header.text }}
		{% endif %}
{%- endmacro -%}