{% extends "../../layouts/applications.layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{# don't include the layouts page heading #}
{% block pageHeading %}{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		classes: 'govuk-!-margin-top-3',
		text: "Back",
		href: "project-updates" | url({caseId: caseId})
	}) }}
{% endblock %}

{% block pageContent %}
    <p class="govuk-body"><strong>Project name:</strong> {{ case.title }}</p>

	{% if title %}
		<h1 class="govuk-heading-l">{{ title }}</h1>
	{% endif %}

	{% if preview %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h2 class="govuk-heading-m">Project update preview</h2>
				{{ govukNotificationBanner({html: preview.html}) }}
			</div>
		</div>
	{% endif %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<div class="govuk-form-group">
				{{ govukSummaryList(summary) }}
			</div>
		</div>
	</div>

	<form method="post" action="" novalidate="novalidate">
		{% include 'app/includes/csrf.njk' %}

		{% if form %}
			<input type="hidden" name="{{form.name}}" value="{{ form.value }}">
		{% endif %}

		{% if buttonText %}
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-half">
					{{ govukButton({ text: buttonText, type: "submit" }) }}
				</div>
			</div>
		{% endif %}
	</form>
{% endblock %}
