{%- from "govuk/components/button/macro.njk" import govukButton -%}

{%- macro addAnother(params) -%}
	<div class="pins-add-another" aria-live="polite" data-max-item-count="{{params.maximumNumberOfItems if params.maximumNumberOfItems else '10'}}">
		{%- for item in params.items -%}
			<div class="pins-add-another__item govuk-!-margin-top-6">
				{{ item }}
			</div>
		{%- endfor -%}
		{{ govukButton({
			type: 'button',
			text: 'Add another',
			classes: 'pins-add-another__add-button govuk-button--secondary govuk-!-margin-top-4 govuk-!-margin-bottom-0'
		}) }}
	</div>
{%- endmacro -%}
