{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% macro createSummaryList(sectionData, sectionKey, sectionHeading, caseId, headingMap, isRelevantRepresentationsReOpened=false, projectFormLink='') %}
	{% set rows = [] %}

	{# Use headingMap if provided and has a value for sectionKey #}
	{% if headingMap and headingMap[sectionKey] is defined %}
		{% set displayHeading = headingMap[sectionKey] %}
	{% else %}
		{% set displayHeading = sectionHeading %}
	{% endif %}

	{% for field, value in sectionData %}
		{% if field === 'submissionAtPublished' %}
			{% set dateValue = value %}
		{% else %}
			{% set dateValue = value | datestamp({format: 'dd MMM yyyy'}) %}
		{% endif %}

		{% set rows = rows | concat([{
			key: { text: field | keyDatesProperty, classes: "pins-key-dates-summary-list__key" },
			value: { text: dateValue },
			classes: "pins-key-dates-summary-list__row"
		}]) %}
	{% endfor %}

	{% if (sectionKey === 'relevantRepresentationsReOpen') and (isRelevantRepresentationsReOpened) %}
		{% set html %}
			<p>The register to have your say form is open, but not visible on the site menu. Copy the form link to share in project updates.</p>
			<a href="{{ projectFormLink }}" rel="noreferrer noopener" target="_blank" class="govuk-link">Register to have your say (opens in a new tab)</a>
		{% endset %}

		{% set rows = rows | concat([{
			key: { html: govukInsetText({ html: html, classes: "pins-key-dates-inset-text" }), classes: "pins-key-dates-summary-list__key govuk-!-width-full" },
			classes: "pins-key-dates-summary-list__row"
		}]) %}
	{% endif %}

	{{ govukSummaryList({
		card: {
			title: { text: displayHeading | trim },
			actions: {
				items: [{
					href: 'key-dates' | url({caseId: caseId, step: sectionKey}),
					text: 'Manage dates',
					visuallyHiddenText: 'for ' ~ displayHeading | trim,
					attributes: {
						"data-cy": "manage-dates-" ~ (sectionKey | trim | kebabCase)
					}
				}]
			}
		},
		rows: rows
	}) }}
{% endmacro %}
