{% extends "../case/layouts/applications-case-layout.njk" %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = 'Key dates' %}

{% block sectionContent %}
	<h3 class="govuk-heading-m">{{ pageTitle }}</h3>
	<p class="govuk-body">Provide details on dates and deadlines in this project.</p>
	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

	{% set items = [] %}

	{% for key, section in sections %}
		{% set heading = key | keyDatesProperty %}
			{% set rows = [] %}

			{% for field, value in section %}

				{% if field === 'submissionAtPublished' %}
					{% set dateValue = value %}
				{% else %}
					{% set dateValue = value | datestamp({format: 'dd MMM yyyy'}) %}
				{% endif %}

				{% set rows = rows | concat([{
					key: { text: field | keyDatesProperty, classes: "pins-key-dates-summary-list__key" },
					value: { text: dateValue },
					classes: "pins-key-dates-summary-list__row"
				}]) %}

			{% endfor %}

			{% set summaryListHtml %}
				{{ govukSummaryList({
					card: {
						title: { text: heading | trim },
						actions: {
							items: [{
								href: 'key-dates' | url({caseId: caseId, step: key}),
								text: 'Manage dates',
								visuallyHiddenText: 'for ' ~ heading | trim
							}]
						}
					},
					rows: rows
				}) }}
			{% endset %}

		{% set items = items | concat([{
			heading: { html: heading },
			content: { html: summaryListHtml }
		}]) %}
	{% endfor %}

	{{ govukAccordion({
		id: "accordion-key-dates",
		items: items
	}) }}
{% endblock %}
