{% extends "../layouts/applications.layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from '../components/inputs/date-input.component.njk' import dateInput %}

{% set serviceName = "Key dates" %}
{% set pageTitle = sectionName | keyDatesProperty + " dates" %}

{% block sectionMenu %}{% endblock %}

{% block beforeContent %}
	<aside>
		{{ govukBackLink({
			text: "Back",
			href: 'key-dates'|url({caseId: caseId})
		}) }}
	</aside>
{% endblock %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
	<h1 class="govuk-heading-l govuk-!-margin-bottom-4">
		<span class="govuk-caption-l">Manage key dates</span>
		{{ pageTitle }}
	</h1>

	<form method="post" action="" novalidate="novalidate" class="pins-applications-create govuk-grid-row govuk-!-margin-top-8">
		{% if sectionName == "preExamination" %}
			{% include "./includes/pre-examination/pre-examination-manage-dates.include.njk" %}
		{% else %}
			{% for key, values in sectionValues %}
				{% if key === 'submissionAtPublished' %}
					<div class="govuk-form-group govuk-grid-column-full">
						{{ govukInput({
						label: {
							text: key|keyDatesProperty,
							classes: 'font-weight--700'
						},
						hint: {
							text: (key+'_label')|keyDatesProperty
						},
						id: key,
						name: key,
						value: values,
						classes: "govuk-!-width-one-third"
					}) }}
					</div>
				{% else %}
					{{ dateInput({
						layout: {
						fieldName: key,
						label: key | keyDatesProperty,
						classes: 'govuk-grid-column-one-third',
							hint: {
								html: getDatesHint(key)
							}
						},
						errors: errors,
						values: sectionValues
					}) }}
				{% endif %}
			{% endfor %}
		{% endif %}

		{{ govukButton({ text: 'Save and return'}) }}
	</form>
{% endblock %}

{% macro getDatesHint(key) %}
	{% set datesHint = (key + '_label') | keyDatesProperty %}
	{% set datesAdvisory = (key + '_advisory') | keyDatesProperty | bold %}

	{{ (datesHint + ' ' + datesAdvisory) | trim | safe }}
{% endmacro %}