{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro createSummaryList(sectionData, sectionKey, sectionHeading, caseId, headingMap, isRelevantRepresentationsReOpened=false) %}
	{% set rows = [] %}

	{# Use headingMap if provided and has a value for sectionKey #}
	{% if headingMap and headingMap[sectionKey] is defined %}
		{% set displayHeading = headingMap[sectionKey] %}
	{% else %}
		{% set displayHeading = sectionHeading %}
	{% endif %}

	{% for field, value in sectionData %}
		{% if field === 'submissionAtPublished' %}
			{% set dateValue = value %}
		{% else %}
			{% set dateValue = value | datestamp({format: 'dd MMM yyyy'}) %}
		{% endif %}

		{% set rows = rows | concat([{
			key: { text: field | keyDatesProperty, classes: "pins-key-dates-summary-list__key" },
			value: { text: dateValue },
			classes: "pins-key-dates-summary-list__row"
		}]) %}
	{% endfor %}

	{% if (sectionKey === 'relevantRepresentationsReOpen') and (isRelevantRepresentationsReOpened) %}
		{% set rows = rows | concat([{
			key: { text: "The register to have your say form is now open. It will not be visible in the site menu. You can share the form in email and project updates by copying the link.", classes: "pins-key-dates-summary-list__key govuk-!-font-weight-regular" },
			value: { text: govukButton({ attributes: { id: "copy-form-link-button" }, classes: "govuk-button--secondary", text: "Copy form link" }) },
			classes: "pins-key-dates-summary-list__row"
		}]) %}
	{% endif %}

	{{ govukSummaryList({
		card: {
			title: { text: displayHeading | trim },
			actions: {
				items: [{
					href: 'key-dates' | url({caseId: caseId, step: sectionKey}),
					text: 'Manage dates',
					visuallyHiddenText: 'for ' ~ displayHeading | trim,
					attributes: {
						"data-cy": "manage-dates-" ~ (sectionKey | trim | kebabCase)
					}
				}]
			}
		},
		rows: rows
	}) }}
{% endmacro %}
