<h3 class="govuk-heading-m">Representation</h3>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Reference
    </dt>

    <dd class="govuk-summary-list__value">
      {{ representation.reference }}
    </dd>
  </div>

  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Date received
    </dt>
    <dd class="govuk-summary-list__value">
      {{ representation.originalRepresentation and representation.received | displayDate }}
    </dd>
  </div>

  <div class="govuk-summary-list__row" id="original-representation-section">
    <dt class="govuk-summary-list__key">
      Original representation
    </dt>
    <dd class="govuk-summary-list__value">
      {% if representationExcerpts.originalRepresentationExcerpt | length %}
        <p class="section-text govuk-body white-space--pre-line">
		  <span class="full-text">{{ representation.originalRepresentation }}</span>
		  <span class="text-excerpt">{{ representationExcerpts.originalRepresentationExcerpt }}...</span>
          <noscript>{{ representation.originalRepresentation }}</noscript>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-4">
          <a href="#" hidden class="section-text-toggle govuk-link govuk-link--no-visited-state">Show full representation</a>
        </p>
      {% else %}
        <p class="govuk-body white-space--pre-line">{{ representation.originalRepresentation }}</p>
      {% endif %}
    </dd>
  </div>

  {% if representation.editedRepresentation %}
  <div class="govuk-summary-list__row" id="edited-representation-section">
    <dt class="govuk-summary-list__key">
      Edited representation
    </dt>
    <dd class="govuk-summary-list__value">
      {% if representationExcerpts.editedRepresentationExcerpt | length %}
        <p class="section-text govuk-body white-space--pre-line">
          <span class="full-text">{{ representation.editedRepresentation }}</span>
          <span class="text-excerpt">{{ representationExcerpts.editedRepresentationExcerpt }}...</span>
          <noscript>{{ representation.editedRepresentation }}</noscript>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-4">
          <a href="#" hidden class="section-text-toggle govuk-link govuk-link--no-visited-state">Show full edited representation</a>
        </p>
      {% else %}
        <p class="govuk-body white-space--pre-line">{{ representation.editedRepresentation }}</p>
      {% endif %}
    </dd>
  </div>
  {% endif %}

  {% if representation.editNotes %}
  <div class="govuk-summary-list__row" id="edit-notes-section">
    <dt class="govuk-summary-list__key">
      Edit notes
    </dt>
    <dd class="govuk-summary-list__value">
      {% if representationExcerpts.editNotesExcerpt | length %}
        <p class="section-text govuk-body white-space--pre-line">
          <span class="full-text">{{ representation.editNotes }}</span>
          <span class="text-excerpt">{{ representationExcerpts.editNotesExcerpt }}...</span>
          <noscript>{{ representation.editNotes }}</noscript>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-4">
          <a href="#" hidden class="section-text-toggle govuk-link govuk-link--no-visited-state">Show full edit notes</a>
        </p>
      {% else %}
        <p class="govuk-body white-space--pre-line">{{ representation.editNotes }}</p>
      {% endif %}
    </dd>
  </div>
  {% endif %}

  {% if representation.redacted %}
    {% if representation.redactedBy %}
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Redacted by
        </dt>
        <dd class="govuk-summary-list__value">
          {{ representation.redactedBy }}
        </dd>
      </div>
    {% endif %}

    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions" id="redacted-representation-section">
      <dt class="govuk-summary-list__key">
        Redacted representation
      </dt>

      <dd class="govuk-summary-list__value">
        {% if representationExcerpts.redactedRepresentationExcerpt | length %}
          <p class="section-text govuk-body white-space--pre-line">
			<span class="full-text">{{ representation.redactedRepresentation }}</span>
			<span class="text-excerpt">{{ representationExcerpts.redactedRepresentationExcerpt }}...</span>
            <noscript>{{ representation.redactedRepresentation }}</noscript>
          </p>

          <p class="govuk-body govuk-!-margin-bottom-4">
            <a href="#" hidden class="section-text-toggle govuk-link govuk-link--no-visited-state">Show full redacted representation</a>
          </p>
        {% else %}
          <p class="govuk-body white-space--pre-line">{{ representation.redactedRepresentation }}</p>
        {% endif %}
      </dd>
    </div>

    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions" id="redacted-notes-section">
      <dt class="govuk-summary-list__key">
        Redacted Notes
      </dt>

      <dd class="govuk-summary-list__value">
        {% if representationExcerpts.redactedNotesExcerpt | length %}
          <p class="section-text govuk-body white-space--pre-line">
			<span class="full-text">{{ representation.redactedNotes }}</span>
			<span class="text-excerpt">{{ representationExcerpts.redactedNotesExcerpt }}...</span>
            <noscript>{{ representation.redactedNotes }}</noscript>
          </p>
          <p class="govuk-body govuk-!-margin-bottom-4">
            <a href="#" hidden class="section-text-toggle govuk-link govuk-link--no-visited-state">Show full redacted notes</a>
          </p>
        {% else %}
          <p class="govuk-body white-space--pre-line">{{ representation.redactedNotes }}</p>
        {% endif %}
      </dd>
    </div>
  {% endif %}

  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions" style="border:none;">
    <dd class="govuk-summary-list__actions" style="border:none;background:none;box-shadow:none;padding-top:0;margin-top:0;">
      <a class="govuk-button govuk-button--secondary" href="/applications/{{ caseId }}/representations/{{ representationId }}/edit-representation">
        Edit<span class="govuk-visually-hidden"> original representation</span>
      </a>
      <a class="govuk-button govuk-button--secondary govuk-!-margin-left-3" href="{{ 'redact-representation' | url({ caseId: caseId, representationId: representationId }) }}">
        Redact<span class="govuk-visually-hidden"> original representation</span>
      </a>
    </dd>
  </div>
</dl>

<script nonce="{{cspNonce}}">
  function ToggleText() {
	this.toggle = (sectionId, textToggleCopy) => {
      const section = document.querySelector(sectionId);
      const sectionText = section.querySelector('.section-text');
      const sectionTextToggle = section.querySelector('.section-text-toggle');
	  const text = sectionText.querySelector('.full-text').innerText;
	  const textExcerpt = sectionText.querySelector('.text-excerpt').innerText;

      let isOpen = false;

      const setSectionTextValues = (setSectionText, prependTextToggleCopy) => {
        sectionText.innerText = setSectionText
        sectionTextToggle.innerText = `${prependTextToggleCopy} full ${textToggleCopy}`
      }

      const toggleSectionText = (e) => {
        e.preventDefault()

        if (isOpen) setSectionTextValues(textExcerpt, 'Show');
        else setSectionTextValues(text, 'Hide');

        isOpen = !isOpen
      }

      setSectionTextValues(textExcerpt, 'Show')
      sectionTextToggle.removeAttribute('hidden');

      sectionTextToggle.addEventListener('click', toggleSectionText)
    }
  }

  {% if representationExcerpts.originalRepresentationExcerpt | length %}
    const toggleRepresentationText = new ToggleText();
    toggleRepresentationText.toggle(
      '#original-representation-section',
      'representation'
    );
  {% endif %}

  {% if representationExcerpts.editedRepresentationExcerpt | length %}
    const toggleEditedRepresentationText = new ToggleText();
    toggleEditedRepresentationText.toggle(
      '#edited-representation-section',
      'edited representation'
    );
  {% endif %}

  {% if representationExcerpts.editNotesExcerpt | length %}
    const toggleEditNotesText = new ToggleText();
    toggleEditNotesText.toggle(
      '#edit-notes-section',
      'edit notes'
    );
  {% endif %}

  {% if representationExcerpts.redactedRepresentationExcerpt | length %}
    const toggleRedactedRepresentationText = new ToggleText();
    toggleRedactedRepresentationText.toggle(
      '#redacted-representation-section',
      'redacted representation'
    );
  {% endif %}

  {% if representationExcerpts.redactedNotesExcerpt | length %}
    const toggleRedactedNotesText = new ToggleText();
    toggleRedactedNotesText.toggle(
      '#redacted-notes-section',
      'redacted notes'
    );
  {% endif %}
</script>
