{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../../components/representation-status-tag.njk" import representationStatusTag %}

{%
  set workflowRows = [
    {
      actions: {
        items: [
          {
            href: 'representation-details/change-redaction',
            text: "Change",
            visuallyHiddenText: "Change redacted"
          }
        ]
      },
      key: {
        text: "Redaction"
      },
      value: {
        text: representationWorkflowValues.redacted
      }
    },
    {
      actions: {
        items: [
          {
            href: 'representation-details/change-status',
            text: "Change",
            visuallyHiddenText: "Change status"
          }
        ]
      },
      key: {
        text: "Status"
      },
      value: {
        html: representationStatusTag(representation.status)
      }
    }
  ]
%}

{% if representationWorkflowValues.sectionsToDisplay.notes and representationWorkflowValues.notes %}
  {% set workflowRows = (workflowRows.push(
    {
      key: {
        text: "Notes"
      },
      value: {
        text: representationWorkflowValues.notes
      }
    }
  ), workflowRows) %}
{% endif %}

{% if representationWorkflowValues.sectionsToDisplay.referredTo and representationWorkflowValues.referredTo %}
  {% set workflowRows = (workflowRows.push(
    {
      key: {
        text: "Referred to"
      },
      value: {
        text: representationWorkflowValues.referredTo
      }
    }
  ), workflowRows) %}
{% endif %}

{% if representationWorkflowValues.sectionsToDisplay.invalidReason and representationWorkflowValues.invalidReason %}
  {% set workflowRows = (workflowRows.push(
    {
      key: {
        text: "Reason invalid"
      },
      value: {
        text: representationWorkflowValues.invalidReason
      }
    }
  ), workflowRows) %}
{% endif %}

<h3 class="govuk-heading-m">
  Workflow
</h3>

{{ govukSummaryList({
  rows: workflowRows
}) }}

<a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-9" href="representation-details/task-log">View task log</a>
