{%- from "govuk/components/pagination/macro.njk" import govukPagination -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}

{%- extends "app/layouts/app.layout.njk" -%}

{%- from "../components/appeals-table.njk" import appealsTable -%}

{%- set containerSize = 'xl' -%}
{%- set pageTitle = 'National List' -%}

{%- block pageContent -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h3 class="govuk-heading-m govuk-!-margin-bottom-3">Search cases</h3>
			<form action="" method="GET" novalidate>
				{{
					govukInput(searchObject)
				}}
				{{
					govukButton({
						text: "Search"
					})
				}}
			</form>
			<div class="govuk-section-break--visible govuk-!-margin-top-2 govuk-!-margin-bottom-6"></div>
		</div>
	</div>
	{% if searchTerm %}
		<div><a href="/appeals-service/appeals-list" class="govuk-caption-m govuk-!-margin-bottom-8">Clear search results</a></div>
	{% endif %}
	<h2 class="govuk-heading-m govuk-!-margin-bottom-3">{{ nationalListHeading }}</h2>
	{% if (searchTerm.length == 0 or (searchTerm.length > 0 and appeals.length > 0)) %}
		{{
			appealsTable({
				appeals: appeals
			})
		}}
		{% if pagination.items|length %}
			{{
				govukPagination(
					pagination
				)
			}}
		{% endif %}
	{% else %}
		<div class="govuk-caption-m govuk-!-margin-bottom-3">Your search query did not return any results.</div>
	{% endif %}
{%- endblock -%}
