.advanced-summary-list-row-key-width {
  width: 20%;
  vertical-align: top;
}

.advanced-summary-list-row-value-width {
  width: 45%;
  vertical-align: top;
}

.advanced-summary-list-row-actions-width {
  width: 35%;
  text-align: left;
  vertical-align: top;

  .govuk-label {
    text-align: left;
  }
}
