@import 'node_modules/govuk-frontend/govuk/all';
@import 'advanced-summary-list-row';
@import 'file-upload-multiple';

a {
  @extend .govuk-link;
}

.govuk-accordion__section-content .govuk-summary-list__row:last-child .govuk-summary-list__key, .govuk-accordion__section-content .govuk-summary-list__row:last-child .govuk-summary-list__value, .govuk-accordion__section-content .govuk-summary-list__row:last-child .govuk-summary-list__actions {
  border-bottom: 0;
}

h2.section-heading {
  border-top: 2px solid $govuk-brand-colour;
  padding-top: 15px;
}
