{% macro globalHeader(domainName) %}
	<header class="govuk-header" id="pins-applications-header" role="banner" data-module="govuk-header" data-env="{{ webEnvironment }}">
		<div class="govuk-width-container">
			<div class="header-container">
				<div class="header-container__logo">
					{% include "app/components/logo/pins-logo.njk" %}
				</div>
				<div class="header-container__text">
					{{ domainName }}
				</div>
				<div class="header-container__links">
					<a href="{{'dashboard'|url}}" class="govuk-link">Home</a>
					<a href="https://forms.office.com/e/HUP5kTvb8D" class="govuk-link">Give feedback</a>
					<a href="/auth/signout" class="govuk-link">Sign out</a>
				</div>
			</div>
		</div>
	</header>
{% endmacro %}