{% macro infoBox(message, classes) %}
{% set classList = ['pi-info-box govuk-body govuk-!-padding-9 govuk-!-font-weight-regular govuk-!-font-size-24', classes] %}

<div class="{{ classList | className }}">
	{{message}}
</div>
{% endmacro %}
