{%- extends "app/layouts/app-two-column.layout.njk" -%}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = (pageContent.title + ' - ' if pageContent.title else '') + "GOV.UK" -%}

{%- block pageHeading -%}
	{%- for component in pageContent.pageComponents -%}
		{%- if component.type === 'notification-banner' -%}
			{{ govukNotificationBanner(component.parameters) }}
		{%- endif -%}
	{%- endfor -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{%- if pageContent.preHeading -%}<span class="govuk-caption-l govuk-!-margin-bottom-3">{{ pageContent.preHeading }}</span>{%- endif -%}
			{%- if pageContent.heading -%}<h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{ pageContent.heading }}</h1>{%- endif -%}
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	{%- for componentGroup in pageContent.pageComponentGroups -%}
		{%- if componentGroup.wrapperHtml -%}{{ componentGroup.wrapperHtml.opening | safe }}{%- endif -%}
		{%- for component in componentGroup.pageComponents -%}
			{%- include "../components/page-component.njk" -%}
		{%- endfor -%}
		{%- if componentGroup.wrapperHtml -%}{{ componentGroup.wrapperHtml.closing | safe }}{%- endif -%}
	{%- endfor -%}
{%- endblock -%}
