{%- extends "app/layouts/app.layout.njk" -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = (pageContent.title + ' - ' if pageContent.title else '') + "GOV.UK" -%}
{%- set rows = [] -%}
{%- for log in pageContent.auditTrails -%}
	{%- set row = [
		{ html: [log.date, '<br><span>', log.time, '</span>'] | join },
		{ text: log.details | safe },
		{ text: log.user }
	] -%}
	{%- set rows = rows | concat([row]) -%}
{%- endfor -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-l govuk-!-margin-bottom-3">Appeal {{ pageContent.caseReference }}</span>
			<h1 class="govuk-heading-l govuk-!-margin-bottom-8">Case history</h1>
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
{{
		govukTable({
			head: [
				{ text: "Date and time", classes: "govuk-!-width-one-quarter" },
				{ text: "Details", classes: "govuk-!-width-two-quarters" },
				{ text: "User", classes: "govuk-!-width-one-quarter" }
			],
			rows: rows
		})
	}}
{%- endblock -%}
