{%- extends "app/layouts/app-two-column.layout.njk" -%}

{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/inset-text/macro.njk" import govukInsetText -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}

{%- set pageTitle = "Are you sure? - GOV.UK" -%}

{%- set backLinkUrl -%}
	/appeals-service/appeal-details/{{ appeal.id }}/assign-user/{{ 'inspector' if isInspector else 'case-officer' }}
{%- endset -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-l govuk-!-margin-bottom-1">Appeal {{ appeal.shortReference }}</span>
			<h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{ 'Remove' if isUnassign else 'Assign' }} {{ user.name }} {{ 'from' if isUnassign else 'to' }} this case?</h1>
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	<form name="confirmAssignOrUnassignUser" method="post" novalidate="novalidate">
		{{ govukRadios({
			name: "confirm",
			id: "confirm",
			items: [
				{
					value: "yes",
					text: "Yes"
				},
				{
					value: "no",
					text: "No"
				}
			]
			})
		}}
		{%- if existingUser and not isInspector -%}
			{{ govukInsetText({
				html: '<p>Only one case officer can be assigned. <strong>' + existingUser.email + '</strong> will be replaced as the case officer.</p>'
			}) }}
		{%- endif -%}
		{{ govukButton({
			text: "Continue"
		}) }}
	</form>
{%- endblock -%}
