{%- extends "app/layouts/app-two-column.layout.njk" -%}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = (pageContent.title if pageContent.title else 'Change') + ' - GOV.UK' -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{%- if pageContent.preHeading -%}<span class="govuk-caption-l govuk-!-margin-bottom-3">{{ pageContent.preHeading }}</span>{%- endif -%}
			{%- if pageContent.heading -%}<h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{ pageContent.heading }}</h1>{%- endif -%}
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	<form method="POST" novalidate="novalidate">
		{%- for component in pageContent.pageComponents -%}
			{%- include "../components/page-component.njk" -%}
		{%- endfor -%}
		{{ govukButton({
			text: pageContent.submitButtonText if pageContent.submitButtonText else "Continue",
			type: "submit"
		}) }}
	</form>
{%- endblock -%}
