{%- extends "app/layouts/app.layout.njk" -%}

{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "../components/add-another-reason.njk" import addAnotherReason -%}

{%- set pageTitle = "Why is the LPA questionnaire incomplete - GOV.UK" -%}

{%- set backLinkUrl -%}
	/appeals-service/appeal-details/{{ appeal.id }}/lpa-questionnaire/{{ lpaQuestionnaireId }}
{%- endset -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-l govuk-!-margin-bottom-3">Appeal {{ appeal.shortReference }}</span>
			<h1 class="govuk-heading-l govuk-!-margin-bottom-3">Why is the LPA questionnaire incomplete?</h1>
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	{%- for option in reasonOptions -%}
		{%- if option.addAnother -%}
			{%- set addAnotherReasonHtml = addAnotherReason({
				textItems: option.addAnother.textItems,
				inputName: 'incompleteReason-' + option.value,
				labelText: 'Which part is incorrect or incomplete?'
			}) -%}
			{%- set _ = option | addConditionalHtml(addAnotherReasonHtml) -%}
		{%- endif -%}
	{%- endfor -%}
	<form method="post" novalidate="novalidate">
		{{ govukCheckboxes({
			name: "incompleteReason",
			items: reasonOptions
		}) }}
		{{ govukButton({
			text: "Continue",
			type: "submit"
		}) }}
	</form>
{%- endblock -%}
