{%- extends "app/layouts/app.layout.njk" -%}

{%- from "govuk/components/button/macro.njk" import govukButton -%}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = (pageContent.title + ' - ' if pageContent.title else '') + "GOV.UK" -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{%- if pageContent.preHeading -%}<span class="govuk-caption-l govuk-!-margin-bottom-3">{{ pageContent.preHeading }}</span>{%- endif -%}
			{%- if pageContent.heading -%}<h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{ pageContent.heading }}</h1>{%- endif -%}
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	<form method="post" novalidate="novalidate">
		{%- for component in pageContent.pageComponents -%}
			{%- if component.type !== 'time-input' -%}
				{%- if component.wrapperHtml -%}{{ component.wrapperHtml.opening | safe }}{%- endif -%}
				{%- include "../components/page-component.njk" -%}
				{%- if component.wrapperHtml -%}{{ component.wrapperHtml.closing | safe }}{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
		<h2>Select a time</h2>
		<p class="govuk-hint">Time is optional for unaccompanied site visits</p>
		<p class="govuk-hint">Enter a time, for example 9:00 or 16:30</p>
		{%- for component in pageContent.pageComponents -%}
			{%- if component.type === 'time-input' -%}
				{%- if component.wrapperHtml -%}{{ component.wrapperHtml.opening | safe }}{%- endif -%}
				{%- include "../components/page-component.njk" -%}
				{%- if component.wrapperHtml -%}{{ component.wrapperHtml.closing | safe }}{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
		{{ govukButton({
			text: "Confirm",
			type: "submit",
			classes: "govuk-!-margin-top-3"
		}) }}
	</form>
{%- endblock -%}
