{%- extends "app/layouts/app.layout.njk" -%}

{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/inset-text/macro.njk" import govukInsetText -%}

{%- set pageTitle = (pageContent.title if pageContent.title else "Update due date") + " - GOV.UK" -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set backLinkUrl = pageContent.backLinkUrl -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl govuk-!-margin-bottom-1">{{ pageContent.preHeading }}</span>
			<h1 class="govuk-fieldset__legend--xl govuk-!-margin-top-0">{{ pageContent.heading }}</h1>
			{%- for component in pageContent.pageComponents -%}
				{%- if component.type === 'inset-text' -%}
					{{ govukInsetText(component.parameters) }}
				{%- endif -%}
			{%- endfor -%}
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	<form method="post" novalidate="novalidate">
		{{ govukDateInput({
			id: "due-date",
			namePrefix: "due-date",
			hint: {
				text: "For example, 27 3 2007"
			}
		}) }}
		{% if pageContent.skipButtonUrl %}
			<p class="govuk-body">If the existing due date still applies, please skip to the confirmation screen.</p>
		{% endif %}
		<div class="govuk-button-group">
			{{ govukButton({
				text: pageContent.submitButtonText,
				type: "submit"
			}) }}
			{% if pageContent.skipButtonUrl %}
				{{ govukButton({
					text: "Skip",
					href: pageContent.skipButtonUrl,
					classes: "govuk-button--secondary"
				}) }}
			{% endif %}
		</div>
	</form>
{%- endblock -%}
