{%- extends "app/layouts/app-two-column.layout.njk" -%}

{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}

{%- set pageTitle = (page.title if page.title else "Update due date") + " - GOV.UK" -%}

{%- set backLinkUrl -%}
	/appeals-service/appeal-details/{{ appeal.id }}
{%- endset -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-xl govuk-!-margin-bottom-1">Appeal {{ appeal.shortReference }}</span>
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	<form method="post" novalidate="novalidate">
		{{ govukDateInput({
			id: "due-date",
			namePrefix: "due-date",
			fieldset: {
				legend: {
					text: "Update appeal due date",
					isPageHeading: true,
					classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-9"
				}
			},
			hint: {
				text: "For example, 27 3 2007"
			}
		}) }}
		<p class="govuk-body">If the existing due date still applies, please skip to the confirmation screen.</p>
		<div class="govuk-button-group">
			{{ govukButton({
				text: "Save and continue",
				type: "submit"
			}) }}
			{{ govukButton({
				text: "Skip",
				href: skipButtonUrl,
				classes: "govuk-button--secondary"
			}) }}
		</div>
	</form>
{%- endblock -%}
