{% extends "app/layouts/app-two-column.layout.njk" %}

{% set pageTitle = 'Sorry, there is a problem with your login' %}

{% block pageContent %}
	<p class="govuk-body">Try again later.</p>
	<p class="govuk-body">
		<a href="https://has-appeal.herokuapp.com/help/contact" class="govuk-link">Contact the Planning Inspectorate Customer Support</a> if the problem persists.
	</p>
{% endblock %}
