{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% macro projectLocation(values, errors, isEdit) %}
	{{ govukTextarea({
		label: {
			text: "" if isEdit else "Project location" ,
			classes: 'font-weight--700'
		},
		id: "geographicalInformation.locationDescription",
		name: "geographicalInformation.locationDescription",
		classes: "govuk-!-width-three-quarters",
		value: values['geographicalInformation.locationDescription'],
		errorMessage: errors['geographicalInformation.locationDescription'] | errorMessage,
		hint: {
			classes: "govuk-!-width-three-quarters",
			text: "for example, approximately 8km off the coast of Kent, in areas surrounding Thanet Offshore Wind Farm"
		}
	}) }}
{% endmacro %}
