{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro title(values, errors) %}
	{{ govukInput({
		label: {
			text: "Name of the project",
			classes: 'font-weight--700'
		},
		id: "title",
		name: "title",
		classes: "govuk-!-width-one-third",
		value: values.title,
		errorMessage: errors.title | errorMessage,
		hint: {
			text: "for example, Bridge over a very long canyon"
		}
	}) }}
{% endmacro %}
