{%- extends "app/layouts/app.layout.njk" -%}
{%- from "govuk/components/panel/macro.njk" import govukPanel -%}

{%- set pageTitle = (pageContent.title + ' - ' if pageContent.title else '') + "GOV.UK" -%}

{%- block main -%}
	<main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>
		<div class="{{ containerClasses }}">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds govuk-!-padding-top-2">
					{%- for component in pageContent.pageComponents -%}
						{%- include "./components/page-component.njk" -%}
					{%- endfor -%}
				</div>
			</div>
		</div>
	</main>
{%- endblock -%}
