{% from "govuk/components/input/macro.njk" import govukInput %}
{% macro datePublished(values, errors) %}
    {{ govukInput({
		label: {
			text: "Anticipated submission date published (optional)",
			classes: 'font-weight--700'
		},
		id: "keyDates.preApplication.submissionAtPublished",
		name: "keyDates.preApplication.submissionAtPublished",
		value: values['keyDates.preApplication.submissionAtPublished'],
		errorMessage: errors['keyDates.preApplication.submissionAtPublished'],
		classes: "govuk-!-width-one-third",
		hint: {
			text: "Date the Planning Inspectorate expects the application to be submitted. For example, ‘between April and June 2024' or 'in September 2025’."
		}
	}) }}
{% endmacro %}
