{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro datePublished(values, errors) %}
	{{ govukInput({
		label: {
			text: "Anticipated submission date published (optional)",
			classes: 'font-weight--700'
		},
		id: "keyDates.submissionDatePublished",
		name: "keyDates.submissionDatePublished",
		value: values['keyDates.submissionDatePublished'],
		errorMessage: errors['keyDates.submissionDatePublished'],
		classes: "govuk-!-width-one-third",
		hint: {
			text: "for example, Q4 2023"
		}
	}) }}
{% endmacro %}
