{% from "govuk/components/input/macro.njk" import govukInput %}
{% macro datePublished(values, errors) %}
    {{ govukInput({
		label: {
			text: "Anticipated submission date published (optional)",
			classes: 'font-weight--700'
		},
		id: "keyDates.preApplication.submissionAtPublished",
		name: "keyDates.preApplication.submissionAtPublished",
		value: values['keyDates.preApplication.submissionAtPublished'],
		errorMessage: errors['keyDates.preApplication.submissionAtPublished'],
		classes: "govuk-!-width-one-third",
		hint: {
			text: "for example, Q4 2023"
		}
	}) }}
{% endmacro %}