{% from "govuk/components/input/macro.njk" import govukInput %}
{% macro dateInternal(values, errors) %}
    <div class="govuk-form-group {{ 'govuk-form-group--error' if (errors['keyDates.preApplication.submissionAtInternal'] !==
            undefined and errors['keyDates.preApplication.submissionAtInternal'] !== false) else '' }}">
        <label class="govuk-label font-weight--700" for="submissionAtInternal">
            Anticipated submission date internal (optional)
        </label>
        <div id="submissionAtInternal-hint" class="govuk-hint">
            for example, 27 03 2023
        </div>
        {% if (errors['keyDates.preApplication.submissionAtInternal'] !== undefined and errors['keyDates.preApplication.submissionAtInternal'] !== false) %}
            <p id="submissionAtInternal-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                {{ errors['keyDates.preApplication.submissionAtInternal'].msg }}
            </p>
        {% endif %}
        <div class="govuk-grid-column-one-third">
            <div class="govuk-grid-row pins-date-form-group">
                {{ govukInput({
				label: {
					text: "Day",
					classes: "govuk-hint"
				},
				id: "keyDates.preApplication.submissionAtInternal.day",
				name: "keyDates.preApplication.submissionAtInternal.day",
				value: values['keyDates.preApplication.submissionAtInternal'] | datestamp({format: 'dd'}) if values['keyDates.preApplication.submissionAtInternal'] else values['keyDates.preApplication.submissionAtInternal.day'],
				errorMessage: (errors['keyDates.preApplication.submissionAtInternal'] !== undefined and errors['keyDates.preApplication.submissionAtInternal'] !== false)
			}) }}
                {{ govukInput({
				label: {
					text: "Month",
					classes: "govuk-hint"
				},
				id: "keyDates.preApplication.submissionAtInternal.month",
				name: "keyDates.preApplication.submissionAtInternal.month",
				value: values['keyDates.preApplication.submissionAtInternal'] | datestamp({format: 'MM'}) if values['keyDates.preApplication.submissionAtInternal'] else values['keyDates.preApplication.submissionAtInternal.month'],
				errorMessage: (errors['keyDates.preApplication.submissionAtInternal'] !== undefined and errors['keyDates.preApplication.submissionAtInternal'] !== false)
			}) }}
                {{ govukInput({
				label: {
					text: "Year",
					classes: "govuk-hint"
				},
				id: "keyDates.preApplication.submissionAtInternal.year",
				name: "keyDates.preApplication.submissionAtInternal.year",
				value: values['keyDates.preApplication.submissionAtInternal'] | datestamp({format: 'yyyy'}) if values['keyDates.preApplication.submissionAtInternal'] else values['keyDates.preApplication.submissionAtInternal.year'],
				errorMessage: (errors['keyDates.preApplication.submissionAtInternal'] !== undefined and errors['keyDates.preApplication.submissionAtInternal'] !== false)
			}) }}
            </div>
        </div>
    </div>
{% endmacro %}