{% extends "./../layouts/applications.layout.njk" %}
{% from "./components/timetable-items.component.njk" import examinationTimetableItems%}

{% block pageContent %}
    <h1 class="govuk-heading-l">Publish examination timetable</h1>
    <p class="govuk-body">Check before publishing</p>
    {{ examinationTimetableItems(timetableItems) }}
    <form method="post" action="{{'timetable'|url({caseId: caseId, step: 'publish'})}}">
        <button class='govuk-button govuk-!-margin-top-5'>Publish exam timetable</button>
    </form>
{% endblock %}
