{% extends "./../layouts/applications.layout.njk" %}
{% from "./components/timetable-items-list.component.njk" import timetableItemsList%}

{% block beforeContent %}
	<div class="govuk-width-container">
		<a class="govuk-back-link" href="{{ backLink }}" >Back to examination timetable</a>
	</div>
{% endblock %}

{% block pageContent %}
    <h1 class="govuk-heading-l">Publish examination timetable</h1>
    <p class="govuk-body">Check before publishing</p>
    {{ timetableItemsList(timetableItems, caseId) }}
    <form method="post" action="{{'timetable'|url({caseId: caseId, step: 'publish'})}}">
        <button class='govuk-button govuk-!-margin-top-5'>Publish exam timetable</button>
    </form>
{% endblock %}
