{% extends "../layouts/applications.layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "./components/timetable-item-summary.component.njk" import timetableItemSummary %}

{% set serviceName = "Examination timetable" %}
{% set pageTitle = "Delete timetable item" %}

{% block pageTitle %}
	{{ serviceName }} - {{ pageTitle | default('GOV.UK') }}
{% endblock %}

{% block sectionMenu %}{% endblock %}

{% block beforeContent %}
<aside>
	{{ govukBackLink({
		text: "Back to examination table",
		href: 'timetable'|url({caseId: caseId})
	}) }}
</aside>
{% endblock %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}

	<div class='govuk-grid-row'>
		<div class='govuk-grid-column-full'>

			<h1 class="govuk-heading-l govuk-!-margin-bottom-5">
				{{pageTitle}}
			</h1>

			<form method="post" action="{{'timetable-item'|url({caseId: caseId, step: 'delete', timetableId: timetableItem.id}) }}">
				{% include 'app/includes/csrf.njk' %}

				{{timetableItemSummary(timetableItem)}}

				{{ govukButton({ text: 'Delete timetable item', classes: 'govuk-!-margin-top-6 govuk-button--warning'}) }}
			</form>
		</div>
	</div>

{% endblock %}
