{% extends "../layouts/applications.layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from '../../app/components/govuk-date-input-extended.njk' import govukDateInputExtended %}
{% from '../../app/components/govuk-time-input.njk' import govukTimeInput %}
{% set serviceName = "Examination timetable" %}
{% set pageTitle = "Create new item" %}
{% block pageTitle %}
    {{ serviceName }} – {{ pageTitle | default('GOV.UK') }}
{% endblock %}
{% block sectionMenu %}{% endblock %}
{% block beforeContent %}
    {{ govukBackLink({
		text: "Back",
		href: 'timetable'|url({caseId: caseId, step: 'new-item'})
	}) }}
{% endblock %}
{% block pageHeading %}{% endblock %}
{% block pageContent %}
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds'>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-grid-row">
                {{ pageTitle }}
            </h1>
            <p class='govuk-body govuk-!-margin-bottom-5 govuk-grid-row'>
                Add examination timetable details
            </p>
            <form method="post" action="" novalidate="novalidate" class="govuk-grid-row">
                {% include 'app/includes/csrf.njk' %}
                <div class='govuk-grid-row'>
                    <div class="govuk-form-group govuk-grid-column-one-half float--none">
                        <label class="govuk-label font-weight--700" for="item-type">
                            Timetable item type
                        </label>
                        <p class='govuk-body'>{{ selectedItemType }}</p>
                        <input class="govuk-input" value='{{ selectedItemType }}' id="item-type" name="item-type" type="hidden"></div>
                        {{ govukInput({
							id: 'itemName',
							type: 'text',
							formGroup: {
							classes: 'govuk-grid-column-one-half float--none'
							},
							name: "itemName",
							label: {
								text: 'Item name',
								classes: 'font-weight--700'
								},
							errorMessage: errors.itemName | errorMessage,
							value: values.itemsName
						}) }}
                        <div class="govuk-form-group">
                            <label class="govuk-label font-weight--700" for="item-type">
                                Date
                            </label>
                            {{ govukDateInputExtended({}) }}
                        </div>

                        {{ govukTimeInput({
							classes: 'govuk-grid-column-one-half float--none',
							label: 'Start time (optional)'
						}) }}

                        {{ govukTimeInput({
							classes: 'govuk-grid-column-one-half float--none',
							label: 'End time (optional)'
						}) }}
						
                        {{ govukTextarea({
  								name: "description",
  								id: "description",
								formGroup: {
								classes: 'govuk-grid-column-full'},
  							label: {
    text: "Timetable item description (optional)",
						classes: 'font-weight--700'


  }

}) }}
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
