{% extends "../layouts/applications.layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from '../components/inputs/date-input.component.njk' import dateInput %}
{% from '../components/inputs/time-input.component.njk' import timeInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set serviceName = "Examination timetable" %}
{% set pageTitle = 'Edit timetable item' if isEditing else 'Create new item' %}

{% block pageTitle %}
	{{ serviceName }} - {{ pageTitle | default('GOV.UK') }}
{% endblock %}

{% block sectionMenu %}{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back to examination table" if isEditing else "Back",
		href: 'timetable'|url({caseId: caseId, step: '' if isEditing else 'new-item'})
	}) }}
{% endblock %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
	<div class='govuk-grid-row'>
		<div class='govuk-grid-column-two-thirds'>

			<div>
				<h1 class="govuk-heading-l govuk-!-margin-bottom-5">
					{{ pageTitle }}
				</h1>
				{% if isUndefined(isEditing) %}
					<p class='govuk-body govuk-!-margin-bottom-5'>
						Add examination timetable details
					</p>
				{% endif %}
			</div>

			<form method="post" action="{{'timetable-item'|url({caseId: caseId, step: 'validate' }) }}" novalidate="novalidate" class="govuk-grid-row">
				{% include 'app/includes/csrf.njk' %}

				{# Item type (input hidden coming from previous step) #}
				<div class="govuk-form-group govuk-grid-column-full">
					<label class="govuk-label font-weight--700 govuk-!-margin-bottom-4" for="item-type">
                            Timetable item type
                        </label>
					<p class='govuk-body'>{{ selectedItemType.text }}</p>
					<input class="govuk-input" value='{{ selectedItemType.value }}' id="itemTypeName" name="itemTypeName" type="hidden" >
					<input class="govuk-input" value='{{ selectedItemType.templateType }}' id="templateType" name="templateType" type="hidden" >
					<input class="govuk-input" value='{{ selectedItemType.id }}' id="templateId" name="templateId" type="hidden" >
					<input class="govuk-input" value='{{ values.timetableId }}' id="timetableId" name="timetableId" type="hidden" >
				</div>


				{% if not isUndefined(templateFields.name) %}
					{{ govukInput({
							id: 'name',
							type: 'text',
							formGroup: {
							classes: 'govuk-grid-column-one-half'
							},
							name: "name",
							label: {
								text: 'Item name',
								classes: 'font-weight--700 govuk-!-margin-bottom-4'
								},
							errorMessage: errors.name | errorMessage,
							value: values.name
					}) }}
				{% endif %}

				{% if not isUndefined(templateFields.date) %}
					{{ dateInput({
						 	layout: {
								fieldName: 'date',
								label: 'Date',
								classes: 'govuk-grid-column-one-half',
								hint: 'For example, 01 02 2000'
							},
							errors: errors,
							values: values
					}) }}
				{% endif %}

				{% if not isUndefined(templateFields.startDate) %}
					{{ dateInput({
						 	layout: {
								fieldName: 'startDate',
								label: ['Start date', '' if templateFields.startDate else ' (optional)']|join,
								classes: 'govuk-grid-column-one-half',
								hint: 'For example, 01 02 2000'
							},
							errors: errors,
							values: values
					}) }}
				{% endif %}

				{% if not isUndefined(templateFields.startTime) %}
					{{ timeInput({
						layout: {
							fieldName: 'startTime',
							classes: 'govuk-grid-column-one-half',
							label: ['Start time', '' if templateFields.startTime else ' (optional)']|join,
							hint: 'For example, 13 : 00'
						},
						errors: errors,
						values: values
					})  }}
				{% endif %}

				{% if not isUndefined(templateFields.endDate) %}
					{{ dateInput({
						 	layout: {
								fieldName: 'endDate',
								label: 'End date',
								classes: 'govuk-grid-column-one-half',
								hint: 'For example, 01 02 2000'
							},
							errors: errors,
							values: values
					}) }}
				{% endif %}

				{% if not isUndefined(templateFields.endTime) %}
					{{ timeInput({
						layout: {
							fieldName: 'endTime',
							classes: 'govuk-grid-column-one-half',
							label: ['End time', '' if templateFields.endTime else ' (optional)']|join,
							hint: 'For example, 13 : 00'
						},
						errors: errors,
						values: values
					})  }}
				{% endif %}

				{% if selectedItemType.templateType === 'deadline' or selectedItemType.templateType === 'deadline-startdate-mandatory' %}
					{{ govukInsetText({
						text: "The portal for this deadline will open when the previous one closes or on your chosen start and end dates."
					}) }}
				{% endif %}

				{% if not isUndefined(templateFields.description) %}
					{{ govukTextarea({
  							name: "description",
  							id: "description",
							formGroup: {
								classes: 'govuk-grid-column-full govuk-!-margin-top-4'
							},
  							label: {
    							text: "Timetable item description (optional)",
								classes: 'font-weight--700 govuk-!-margin-bottom-4'
							  },
							errorMessage: errors.description | errorMessage,
							value: values.description
						}) }}
				{% endif %}

				<div class='govuk-grid-column-full'>
					{{ govukButton({ text: 'Continue', classes: 'govuk-!-margin-top-6'}) }}
				</div>

			</form>
		</div>
	</div>
{% endblock %}
