{% extends "../layouts/applications.layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set action = 'added' if action === 'created' else action %}
{% set pageTitle = ["Timetable item successfully ", action]|join  %}
{% set serviceName = case.title %}

{% block beforeContent %}{% endblock %}
{% block pageHeading %}{% endblock %}

{% block pageContent %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
			{{ govukPanel({
				titleText: pageTitle,
				html: [case.title, '<br> The case reference number <br> <strong>', case.reference, '</strong>']|join
			}) }}

			<a href="{{'timetable'|url({caseId: caseId})}}" class="govuk-link">
				Go back to examination timetable
			</a>
		</div>
	</div>
{% endblock %}
