{% extends "../layouts/applications.layout.njk" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set serviceName = "Examination timetable" %}
{% set pageTitle = "Create new item" %}

{% block pageTitle %}
    {{ serviceName }} – {{ pageTitle | default('GOV.UK') }}
{% endblock %}

{% block sectionMenu %}{% endblock %}

{% block beforeContent %}
<aside>
    {{ govukBackLink({
		text: "Back to examination timetable",
		href: 'case-view'|url({caseId: caseId, step: 'examination-timetable'})
	}) }}
</aside>
{% endblock %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        {{ pageTitle }}
    </h1>
    <p class='govuk-body govuk-!-margin-bottom-5'>
        Add examination timetable details
    </p>
    <form method="post" action="" novalidate="novalidate" class="pins-applications-create">
        {{ govukSelect({
			id: "timetable-type",
			name: "timetable-type",
			label: {
				text: "Timetable item type",
				classes: 'font-weight--700 govuk-!-margin-bottom-5'
			},
			items: timetableItems
		}) }}

        {{ govukButton({ text: 'Continue', classes: 'govuk-!-margin-top-6'}) }}
    </form>
{% endblock %}
