{% from "../../components/representation-summary-list.component.njk" import representationSummaryList %}

<h3 class="govuk-heading-m">Representation</h3>

{{
  representationSummaryList([
    {
      items: [
        {
          key: 'Date received',
          value: representation.originalRepresentation and representation.received | displayDate
        },
        {
          key: 'Original representation',
          value: representation.originalRepresentation
        }
      ],
      error: errors['originalRepresentation'],
      link: repModePageURLs.addRepresentation,
      linkText: "Change representation"
    }
  ])
}}