@import "../govuk-frontend/govuk/settings/_colours-applied";
@import "../govuk-frontend/govuk/settings/_spacing";
@import "../govuk-frontend/govuk/helpers/_spacing";

.pins-dashboard-box {
  padding: govuk-spacing(5) govuk-spacing(5) 1px;
  margin-bottom: govuk-spacing(7);
  box-shadow: 0 2px 0 govuk-colour('mid-grey'), inset 2px 0 0 govuk-colour('mid-grey'), inset -2px 0 0 govuk-colour('mid-grey'), inset 0 4px 0 govuk-colour('blue');

  &--title {
	margin-bottom: govuk-spacing(4);
  }

  &--form {
	position: relative;
  }

  &--btn {
	margin-top: govuk-spacing(6);
  }
}



.pins-dashboard-form {

  $pins-dashboard-form-button-width: 6rem;

  &--label {
	color: govuk-colour("dark-grey");
  }

  &--input {
	width: calc(100% - #{$pins-dashboard-form-button-width} - #{govuk-spacing(2)});
  }

  &--btn {
	position: absolute;
	right: 0;
	width: $pins-dashboard-form-button-width;
	bottom: 2px; /* Need this to offset the box-shadow. */
	margin: 0;
  }
}
