{% extends "_layouts/layout-base.njk" %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
	{% block pageContent %}{% endblock %}
	</div>
</div>
{% endblock %}
