{% extends "app/layouts/app.layout.njk" %}

{% set serviceName = 'Planning inspectorate' %}
{% set pageTitle = 'Back office services' %}

{% block main %}
  <div class="pins-masthead govuk-!-padding-top-9 govuk-!-padding-bottom-4">
    <div class="govuk-width-container {{ containerClasses }}">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
    </div>
  </div>
  <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main" {% if mainLang %} lang="{{ mainLang }}" {% endif %}>
    <div class="govuk-width-container {{ containerClasses }}">
      <div class="govuk-grid-row">
        {% if applicationGroupIds.length > 0 %}
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Applications</h2>
            <ul class="govuk-list">
              {% if applicationGroupIds | includes(referenceData.applications.caseTeamGroupId) %}
                <li>
                  <a href="/applications-service/case-team" class="govuk-link">Case team</a>
                </li>
              {% endif %}
              {% if applicationGroupIds | includes(referenceData.applications.caseAdminOfficerGroupId) %}
                <li>
                  <a href="/applications-service/case-admin-officer" class="govuk-link">Case admin officer</a>
                </li>
              {% endif %}
              {% if applicationGroupIds | includes(referenceData.applications.inspectorGroupId) %}
                <li>
                  <a href="/applications-service/inspector" class="govuk-link">Inspector</a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endif %}

        {% if appealGroupIds.length > 0 %}
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Appeals</h2>
            <ul class="govuk-list">
                <li>
                  <a href="/appeals-service/appeals-list" class="govuk-link">National List</a>
                </li>
              {# {% if appealGroupIds | includes(referenceData.appeals.caseOfficerGroupId) %}
                <li>
                  <a href="/appeals-service/case-officer" class="govuk-link">Case officer</a>
                </li>
              {% endif %}
              {% if appealGroupIds | includes(referenceData.appeals.inspectorGroupId) %}
                <li>
                  <a href="/appeals-service/inspector" class="govuk-link">Inspector</a>
                </li>
              {% endif %}
              {% if appealGroupIds | includes(referenceData.appeals.validationOfficerGroupId) %}
                <li>
                  <a href="/appeals-service/validation" class="govuk-link">Validation officer</a>
                </li>
              {% endif %} #}
            </ul>
          </div>
        {% endif %}

        {% if applicationGroupdIds.length === 0 and appealGroupIds.length === 0 %}
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">No groups found.</p>
          </div>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}
