{% extends "app/layouts/app.layout.njk" %}

{% set serviceName = 'Planning inspectorate' %}
{% set pageTitle = 'Back office services' %}

{% block main %}
	<div class="pins-masthead govuk-!-padding-top-9 govuk-!-padding-bottom-4">
		<div class="govuk-width-container {{ containerclasses }}">
			<h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
		</div>
	</div>
	<main class="govuk-main-wrapper {{ mainclasses }}" id="main-content" role="main" {% if mainlang %} lang="{{ mainlang }}" {% endif %}>
		<div class="govuk-width-container {{ containerclasses }}">
			<div class="govuk-grid-row">
        {% if applicationGroupIds.length > 0 %}
					<div class="govuk-grid-column-one-half">
						<h2 class="govuk-heading-m">Applications</h2>
						<ul class="govuk-list">
							<li>
								<a href="/applications-service" class="govuk-link">Applications service</a>
							</li>
						</ul>
					</div>
				{% else %}
					<div class="govuk-grid-column-two-thirds">
						<p class="govuk-body">No groups found.</p>
					</div>
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
