{% extends "app/layouts/app.layout.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% if errorSummary %}
				{{
					govukErrorSummary({
						titleText: "There is a problem",
						errorList: errorSummary
					})
				}}
			{% elseif errors %}
				{{
					govukErrorSummary({
						titleText: "There is a problem",
						errorList: errors | mapToErrorSummary
					})
				}}
			{% endif %}
			{% block pageHeading %}
				<h1 class="govuk-heading-xl">
					{% if pageCaption %}
						<span class="govuk-caption-xl">{{ pageCaption }}</span>
					{% endif %}{{ pageHeading or pageTitle }}
				</h1>{% endblock %}
			{% block pageContent %}{% endblock %}
		</div>
	</div>
{% endblock %}
