{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set containerClasses = 'pins-width-container' if containerSize === 'xl' else 'govuk-width-container' %}

{% block head %}
  <link rel="stylesheet" href="{{ pathToCss | stripQueryParamsDev }}"/>
  <script defer="defer" src="{{ pathToJs | stripQueryParamsDev }}"></script>
{% endblock %}

{% block pageTitle %}
  {{ pageTitle | default('GOV.UK') }} – {{ serviceName }}
{% endblock %}

{% block header %}
  {{
    govukHeader({
      homepageUrl: homepageUrl | default('https://www.gov.uk/'),
      serviceName: serviceName,
      serviceUrl: serviceUrl | default('/'),
      containerClasses: containerClasses,
      navigation: [{ href: "https://login.microsoftonline.com/common/oauth2/v2.0/logout", text: 'Sign out' }] if isAuthenticated else [],
      navigationClasses: 'pins-header__navigation--align-right'
    })
  }}
{% endblock %}

{% block beforeContent %}
  {% block backLink %}
    {% if backLinkUrl %}
      {{ govukBackLink({ href: backLinkUrl }) }}
    {% elseif backURL %}
      {{ govukBackLink({ href: backURL }) }}
    {% endif%}
  {% endblock %}
{% endblock %}

{% block content %}
	{% if errors %}
    <div class="govuk-grid-row">
		  <div class="govuk-grid-column-two-thirds">
				{{
					govukErrorSummary({
						titleText: "There is a problem",
						errorList: errors | mapToErrorSummary
					})
				}}
      </div>
    </div>
  {% endif %}
  {% block pageHeading %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      </div>
    </div>
  {% endblock %}
  {% block pageContent %}{% endblock %}
{% endblock %}
