{% extends "../applications-create-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block stepTitle %}
	Enter geographical information
{% endblock %}


{% block stepForm %}
	{{ govukTextarea({
		label: {
			text: "Case Location",
			classes: 'font-weight--700'
		},
		id: "geographicalInformation.locationDescription",
		name: "geographicalInformation.locationDescription",
		classes: "govuk-!-width-three-quarters",
		value: values['geographicalInformation.locationDescription'],
		errorMessage: errors['geographicalInformation.locationDescription'] | errorMessage,
		hint: {
			classes: "govuk-!-width-three-quarters",
			text: "for example “approximately 8km off the coast of Kent, in areas surrounding Thanet Offshore Wind Farm"
		}
	}) }}

	{{ govukInput({
		name: "geographicalInformation.gridReference.easting",
		id: "geographicalInformation.gridReference.easting",
		label: {
			text: "Grid reference Easting",
			classes: 'font-weight--700'
		},
		errorMessage: errors['geographicalInformation.gridReference.easting'] | errorMessage,
		classes: "govuk-!-width-one-third",
		value: values['geographicalInformation.gridReference.easting'],
		hint: {
			text: "for example, 345678"
		}
	}) }}

	{{ govukInput({
		name: "geographicalInformation.gridReference.northing",
		id: "geographicalInformation.gridReference.northing",
		label: {
			text: "Grid reference Northing",
			classes: 'font-weight--700'
		},
		errorMessage: errors['geographicalInformation.gridReference.northing'] | errorMessage,
		classes: "govuk-!-width-one-third",
		value: values['geographicalInformation.gridReference.northing'],
		hint: {
			text: "for example, 345678"
		}
	}) }}
{% endblock %}

{% set backLink = 'applications-create'|url({applicationId:applicationId, step: 'sub-sector'}) %}




