{% extends "../applications-create-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block stepTitle %}
	Enter name and description
{% endblock %}


{% block stepForm %}

	{{ govukInput({
		label: {
			text: "Name of the case",
			classes: 'font-weight--700'
		},
		id: "title",
		name: "title",
		classes: "govuk-!-width-one-third",
		value: values.title,
		errorMessage: errors.title | errorMessage,
		hint: {
			text: "for example, Bridge over a very long canyon"
		}
	}) }}

	{{ govukTextarea({
		name: "description",
		id: "description",
		label: {
			text: "Description of the case",
			classes: 'font-weight--700'
		},
		errorMessage: errors.description | errorMessage,
		classes: "govuk-!-width-three-quarters",
		value: values.description,
		hint: {
			text: "for example, An offshore wind generating station of capacity up to 285 MW"
		}
	}) }}
{% endblock %}

{% set backLink = 'dashboard'|url({domainType:domainType}) %}
