{% extends "../applications-create-layout.njk" %}

{% block stepTitle %}
	Choose map zoom level
{% endblock %}

{% block stepForm %}
	work in progress
{% endblock %}

{% set backLink = 'applications-create'|url({applicationId:applicationId, step: 'regions'}) %}
