{% macro s51Attachments(attachments) %}
  <h5 class="govuk-heading-m">Attachments</h5>
  {% if attachments.itemCount == 0 %}
    <p>There are no attachments on this item.</p>
  {% else %}
    <ul>
      {% for item in attachments.items %}
        <li>{{ item.title }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
