{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro s51DetailsTab(s51Advice, caseId, folderId) %}

	{% set properties = [
						{label: 'S51 title', value: s51Advice.title, link: 'title'},
						{label: 'Enquirer', value: enquirerString(s51Advice.firstName, s51Advice.lastName, s51Advice.enquirer), link: 'enquirer'},
						{label: 'Enquiry method', value: s51Advice.enquiryMethod|capitalize, link: 'method'},
						{label: 'Enquiry date', value: (s51Advice.enquiryDate|datestamp({format: 'dd MMM yyyy'})), link: 'enquiry-date'},
						{label: 'Enquiry details', value: s51Advice.enquiryDetails, link: 'enquiry-details'},
						{label: 'Advice given by (internal use only)', value: s51Advice.adviser, link: 'adviser'},
						{label: 'Date advice given', value: (s51Advice.adviceDate|datestamp({format: 'dd MMM yyyy'})), link: 'advice-date'},
						{label: 'Advice given', value: s51Advice.adviceDetails, link: 'advice-detail'},
						{label: 'Redaction', value: ('Redacted' if s51Advice.redactedStatus === 'redacted' else 'Unredacted') , link: 'redaction'},
						{label: 'Status', value: s51Advice.publishedStatus|statusName, link: 'status'}
	] %}

	{% set propertiesRow = [] %}

	{% for property in properties %}
		{% set rowActions = {} %}

		{% if property.link %}
			{% set s51EditLink = ('s51-edit'|url({caseId: caseId, folderId: folderId, adviceId: s51Advice.id, step: property.link})) %}

			{% set rowActions = {
				href: s51EditLink,
				text: "Change",
				visuallyHiddenText: property.label
			} %}
		{% endif %}

		{% set row = {
			key: {
				text: property.label
			},
			value: {
				text: property.value
			},
			actions: {
				items: [rowActions]
			}
		} %}

		{% set propertiesRow = propertiesRow.concat([row]) %}
	{% endfor %}

	<h4 class="govuk-heading-m govuk-!-margin-bottom-4">S51 advice properties</h4>
	{{ govukSummaryList({
        	rows: propertiesRow
        }) }}

{% endmacro %}

{% macro enquirerString(firstName, lastName, orgName) %}
  {{firstName}} {{lastName}}, {{orgName}}
{% endmacro %}
