{%- extends "app/layouts/app-two-column.layout.njk" -%}

{%- from "govuk/components/button/macro.njk" import govukButton -%}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = (pageContent.title + ' - ' if pageContent.title else '') + "GOV.UK" -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{%- if pageContent.preHeading -%}<span class="govuk-caption-l govuk-!-margin-bottom-3">{{ pageContent.preHeading }}</span>{%- endif -%}
			{%- if pageContent.heading -%}<h1 class="govuk-heading-l {{ "govuk-!-margin-bottom-3" if displayLateEntryContent else "govuk-!-margin-bottom-9" }}">{{ pageContent.heading }}</h1>{%- endif -%}
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	{%- if displayLateEntryContent -%}
		{%- include "../../app/includes/late-entry-information.njk" -%}
	{%- endif -%}
	<form method="post" novalidate="novalidate">
		{%- for componentGroup in pageContent.pageComponentGroups -%}
			{%- if componentGroup.wrapperHtml -%}{{ componentGroup.wrapperHtml.opening | safe }}{%- endif -%}
			{%- for component in componentGroup.pageComponents -%}
				{%- include "../components/page-component.njk" -%}
			{%- endfor -%}
			{%- if componentGroup.wrapperHtml -%}{{ componentGroup.wrapperHtml.closing | safe }}{%- endif -%}
		{%- endfor -%}
		{{ govukButton({
			text: submitButtonText if submitButtonText else "Confirm",
			type: "submit"
		}) }}
	</form>
{%- endblock -%}
