{% extends "app/layouts/app.layout.njk" %}

{% from 'app/components/file-uploader.component.njk' import fileUploader %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block pageTitle %}
	{{ pageTitle | default('GOV.UK') }} – {{ serviceName }}
{% endblock %}

{%- set pageHeading = 'Upload files' -%}

{%- set backLinkUrl -%}
	{{ backButtonUrl }}
{%- endset -%}

{% block pageContent %}
	{{ fileUploader({
		text: 'Save and continue',
		formId: 1,
		caseId: caseId,
		folderId: folderId,
		documentId: documentId,
		documentType: documentType,
		documentStage: documentStage,
		blobStorageHost: blobStorageHost,
		useBlobEmulator: useBlobEmulator,
		blobStorageContainer: blobStorageContainer,
		formTitle: serviceName,
		nextPageUrl: ['/appeals-service/appeal-details/', caseId] | join,
		allowedTypes: ['pdf','doc','docx','ppt','pptx','xls','xlsx','jpg','jpeg','mpeg','mp3','mp4','mov','png','tif','tiff' ],
		disclaimerText: "Saving files will default them to ‘Unredacted’ and ‘Not checked’",
		multiple: multiple
	}) }}

{% endblock %}
