{% extends "app/layouts/app.layout.njk" %}

{% from 'app/components/file-uploader.component.njk' import fileUploader %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block pageTitle %}
	{{ pageTitle | default('GOV.UK') }} – {{ serviceName }}
{% endblock %}

{%- block pageHeading -%}
	<span class="govuk-caption-xl">Appeal {{ appealShortReference }}</span>
	<h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
	{%- if pageHeadingText -%}
		{{pageHeadingText}}
	{%- else -%}
		Upload files
	{%- endif -%}
	</h1>
{%- endblock -%}

{%- set backLinkUrl -%}
	{{ backButtonUrl }}
{%- endset -%}

{% block pageContent %}
	{%- if displayLateEntryContent -%}
		{%- include "../../app/includes/late-entry-information.njk" -%}
	{%- endif -%}
	{{ fileUploader({
		text: 'Save and continue',
		formId: 1,
		caseId: appealId,
		folderId: folderId,
		documentId: documentId,
		documentType: documentType,
		documentStage: documentStage,
		blobStorageHost: blobStorageHost,
		useBlobEmulator: useBlobEmulator,
		blobStorageContainer: blobStorageContainer,
		nextPageUrl: nextPageUrl if nextPageUrl else (['/appeals-service/appeal-details/', caseId] | join),
		allowedTypes: allowedTypes if allowedTypes else (['pdf','doc','docx','ppt','pptx','xls','xlsx','jpg','jpeg','mpeg','mp3','mp4','mov','png','tif','tiff' ]),
		disclaimerText: "Saving files will default them to ‘Unredacted’ and ‘Not checked’",
		multiple: multiple,
		displayCorrectFolderConfirmationContent: displayCorrectFolderConfirmationContent
	}) }}
{% endblock %}
