{%- extends "app/layouts/app.layout.njk" -%}
{%- from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = (pageContent.title + ' - ' if pageContent.title else '') + "GOV.UK" -%}

{%- block pageHeading -%}
	{%- if pageContent.customErrorMessageComponents -%}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				{%- for component in pageContent.customErrorMessageComponents -%}
					{%- if component.type === 'error-summary' -%}
						{{ govukErrorSummary(component.parameters) }}
					{%- endif -%}
				{%- endfor -%}
			</div>
		</div>
	{%- endif -%}
	{%- if pageContent.notificationBannerComponents -%}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				{%- for component in pageContent.notificationBannerComponents -%}
					{%- if component.type === 'notification-banner' -%}
						{{ govukNotificationBanner(component.parameters) }}
					{%- endif -%}
				{%- endfor -%}
			</div>
		</div>
	{%- endif -%}
		<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{%- if pageContent.preHeading -%}<span class="govuk-caption-l govuk-!-margin-bottom-3">{{ pageContent.preHeading }}</span>{%- endif -%}
			{%- if pageContent.heading -%}<h1 class="govuk-heading-l govuk-!-margin-bottom-9">{{ pageContent.heading }}</h1>{%- endif -%}
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	{%- for componentGroup in pageContent.pageComponentGroups -%}
		{%- if componentGroup.wrapperHtml -%}{{ componentGroup.wrapperHtml.opening | safe }}{%- endif -%}
		{%- for component in componentGroup.pageComponents -%}
			{%- include "../components/page-component.njk" -%}
		{%- endfor -%}
		{%- if componentGroup.wrapperHtml -%}{{ componentGroup.wrapperHtml.closing | safe }}{%- endif -%}
	{%- endfor -%}
{%- endblock -%}
