{%- extends "app/layouts/app.layout.njk" -%}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = (pageContent.title + ' - ' if pageContent.title else '') + "GOV.UK" -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{%- if pageContent.preHeading -%}<span class="govuk-caption-l govuk-!-margin-bottom-3">{{ pageContent.preHeading }}</span>{%- endif -%}
			{%- if pageContent.heading -%}<h1 class="govuk-heading-l govuk-!-margin-bottom-9">{{ pageContent.heading }}</h1>{%- endif -%}
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	{%- for component in pageContent.pageComponents -%}
		{%- if component.wrapperHtml -%}{{ component.wrapperHtml.opening | safe }}{%- endif -%}
		{%- include "../components/page-component.njk" -%}
		{%- if component.wrapperHtml -%}{{ component.wrapperHtml.closing | safe }}{%- endif -%}
	{%- endfor -%}
{%- endblock -%}
