{% extends "./applications-create-layout.njk" %}

{% block stepTitle %}
	What is the case team email address?
{% endblock %}

{% block stepForm %}
	work in progress
{% endblock %}

{% set backLink = 'applications-create'|url({applicationId:applicationId, step: 'zoom-level'}) %}
