{% extends "./applications-create-layout.njk" %}

{% block stepTitle %}
	Name and description
{% endblock %}


{% block stepForm %}
	Work in progress
{% endblock %}

{% set backLink = 'dashboard'|url({domainType:domainType}) %}





