{% extends "./applications-create-layout.njk" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block stepTitle %}
	Choose one or multiple regions
{% endblock %}

{% block stepForm %}
	{{ govukCheckboxes({
		idPrefix: "selectedRegionsNames",
		name: "selectedRegionsNames[]",
		items: regions | selectItems({valueKey: 'name', labelKey: 'displayNameEn'})
	}) }}
{% endblock %}

{% set backLink = 'applications-create'|url({applicationId:applicationId, step: 'geographical-information'}) %}
