{% extends "./applications-create-layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block stepTitle %}
	Choose a sector
{% endblock %}

{% block stepForm %}
	{{ govukRadios({
		name: "selectedSectorName",
		id: "selectedSectorName",
		errorMessage: (errors !== undefined and errors !== false),
		items: sectors | selectItems({valueKey: 'name', labelKey: 'displayNameEn', selectedValue: selectedValue})
	}) }}
{% endblock %}

{% set backLink = 'applications-create'|url({applicationId:applicationId}) %}
