{% extends "./applications-create-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% block stepTitle %}
	What is the case team email address?
{% endblock %}

{% block stepForm %}
	{{ govukInput({
		id: "applicationTeamEmail",
		name: "applicationTeamEmail",
		classes: "govuk-!-width-one-third",
		value: applicationTeamEmail,
		errorMessage: errors.applicationTeamEmail | errorMessage,
		hint: {
			text: "for example, NIEnquiries@planninginspectorate.gsi.gov.uk"
		}
	}) }}
{% endblock %}

{% set backLink = 'applications-create'|url({applicationId:applicationId, step: 'zoom-level'}) %}
