{% extends "app/layouts/app.layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		classes: 'govuk-!-margin-top-3',
		items: [
			{ text: 'Applications', href: 'dashboard'|url({domainType:domainType}) },
			{ text: 'Case information', href: 'applications-create'|url({applicationId: applicationId})},
			{ text: 'Applicant Information', href: 'applications-create'|url({applicationId: applicationId, step: 'applicant-organisation-name'})},
			{ text: 'Key dates', href: 'applications-create'|url({applicationId: applicationId, step: 'key-dates'})},
			{ text: 'Check your answers'}
		]
	}) }}
{% endblock %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
	{% set baseUrl = '/applications-service/create-new-case/' + applicationId %}
	{% set rows = [] %}

	{% set row = [] %}
	{% set row = row | concat({ text: 'Case name', classes: 'font-weight--700 pins-table__cell--s' }) %}
	{% set row = row | concat({ text: values['case.title'], classes: 'pins-table__cell--s' }) %}
	{% set row = row | concat({ html: '<a id="name" class="govuk-link" href="' + baseUrl + '">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
	{% set rows = rows | concat([row]) %}

	{% set row = [] %}
	{% set row = row | concat({ text: 'Case description', classes: 'font-weight--700 pins-table__cell--s' }) %}
	{% set row = row | concat({ text: values['case.description'], classes: 'pins-table__cell--s' }) %}
	{% set row = row | concat({ html: '<a id="description" class="govuk-link" href="' + baseUrl + '">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
	{% set rows = rows | concat([row]) %}

	{% set row = [] %}
	{% set row = row | concat({ text: 'Sector', classes: 'font-weight--700 pins-table__cell--s' }) %}
	{% set row = row | concat({ text: values['case.sector'], classes: 'pins-table__cell--s' }) %}
	{% set row = row | concat({ html: '<a id="sector" class="govuk-link" href="' + baseUrl + '/sector">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
	{% set rows = rows | concat([row]) %}

	{% set row = [] %}
	{% set row = row | concat({ text: 'Subsector', classes: 'font-weight--700 pins-table__cell--s' }) %}
	{% set row = row | concat({ text: values['case.subSector'], classes: 'pins-table__cell--s' }) %}
	{% set row = row | concat({ html: '<a id="subSector" class="govuk-link" href="' + baseUrl + '/sub-sector">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
	{% set rows = rows | concat([row]) %}

	{% set row = [] %}
	{% set row = row | concat({ text: 'Case location', classes: 'font-weight--700 pins-table__cell--s' }) %}
	{% set row = row | concat({ text: values['case.location'], classes: 'pins-table__cell--s' }) %}
	{% set row = row | concat({ html: '<a id="projectLocation" class="govuk-link" href="' + baseUrl + '/geographical-information">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
	{% set rows = rows | concat([row]) %}

	{% set row = [] %}
	{% set row = row | concat({ text: 'Grid reference Easting', classes: 'font-weight--700 pins-table__cell--s' }) %}
	{% set row = row | concat({ text: values['case.easting'], classes: 'pins-table__cell--s' }) %}
	{% set row = row | concat({ html: '<a id="gridReferenceEasting" class="govuk-link" href="' + baseUrl + '/geographical-information">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
	{% set rows = rows | concat([row]) %}

	{% set row = [] %}
	{% set row = row | concat({ text: 'Grid reference Northing', classes: 'font-weight--700 pins-table__cell--s' }) %}
	{% set row = row | concat({ text: values['case.northing'], classes: 'pins-table__cell--s' }) %}
	{% set row = row | concat({ html: '<a id="gridReferenceNorthing" class="govuk-link" href="' + baseUrl + '/geographical-information">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
	{% set rows = rows | concat([row]) %}

	{% set row = [] %}
	{% set row = row | concat({ text: 'Region', classes: 'font-weight--700 pins-table__cell--s' }) %}
	{% set row = row | concat({ text: values['case.regions'], classes: 'pins-table__cell--s' }) %}
	{% set row = row | concat({ html: '<a id="regions" class="govuk-link" href="' + baseUrl + '/regions">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
	{% set rows = rows | concat([row]) %}

	{% set row = [] %}
	{% set row = row | concat({ text: 'Map zoom Level', classes: 'font-weight--700 pins-table__cell--s' }) %}
	{% set row = row | concat({ text: values['case.zoomLevel'], classes: 'pins-table__cell--s' }) %}
	{% set row = row | concat({ html: '<a class="govuk-link" href="' + baseUrl + '/zoom-level">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
	{% set rows = rows | concat([row]) %}

	{% set row = [] %}
	{% set row = row | concat({ text: 'Case email address', classes: 'font-weight--700 pins-table__cell--s'}) %}
	{% set row = row | concat({ text: values['case.teamEmail'], classes: 'pins-table__cell--s' }) %}
	{% set row = row | concat({ html: '<a class="govuk-link" href="' + baseUrl + '/team-email">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
	{% set rows = rows | concat([row]) %}

	<h2 class="govuk-heading-l">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				Check your answers before creating a new case
			</div>
		</div>
	</h2>
	<form method="post" action="">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				{{ govukTable({
					head: [
						{ text: "Case information", classes: 'govuk-table__caption--m pins-table__cell--l govuk-!-static-padding-bottom-6' },
						{ text: "" },
						{ text: "" }
					],
					rows: rows
				}) }}

				{% set rows = [] %}
				{% set row = [] %}
				{% set row = row | concat({ text: 'First name', classes: 'font-weight--700 pins-table__cell--s' }) %}
				{% set row = row | concat({ text: values['applicant.firstName'], classes: 'pins-table__cell--s' }) %}
				{% set row = row | concat({ html: '<a class="govuk-link" href="' + baseUrl + '/applicant-full-name">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
				{% set rows = rows | concat([row]) %}

				{% set row = [] %}
				{% set row = row | concat({ text: 'Middle name', classes: 'font-weight--700 pins-table__cell--s' }) %}
				{% set row = row | concat({ text: values['applicant.middleName'], classes: 'pins-table__cell--s' }) %}
				{% set row = row | concat({ html: '<a class="govuk-link" href="' + baseUrl + '/applicant-full-name">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
				{% set rows = rows | concat([row]) %}


				{% set row = [] %}
				{% set row = row | concat({ text: 'Last name', classes: 'font-weight--700 pins-table__cell--s' }) %}
				{% set row = row | concat({ text: values['applicant.lastName'], classes: 'pins-table__cell--s' }) %}
				{% set row = row | concat({ html: '<a class="govuk-link" href="' + baseUrl + '/applicant-full-name">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
				{% set rows = rows | concat([row]) %}


				{% set row = [] %}
				{% set row = row | concat({ text: 'Organisation name', classes: 'font-weight--700 pins-table__cell--s' }) %}
				{% set row = row | concat({ text: values['applicant.organisationName'], classes: 'pins-table__cell--s' }) %}
				{% set row = row | concat({ html: '<a class="govuk-link" href="' + baseUrl + '/applicant-organisation-name">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
				{% set rows = rows | concat([row]) %}

				{% set row = [] %}
				{% set row = row | concat({ text: 'Address', classes: 'font-weight--700 pins-table__cell--s' }) %}
				{% set row = row | concat({ text: values['applicant.address'], classes: 'pins-table__cell--s' }) %}
				{% set row = row | concat({ html: '<a class="govuk-link" href="' + baseUrl + '/applicant-address">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
				{% set rows = rows | concat([row]) %}

				{% set row = [] %}
				{% set row = row | concat({ text: 'Website', classes: 'font-weight--700 pins-table__cell--s' }) %}
				{% set row = row | concat({ text: values['applicant.website'], classes: 'pins-table__cell--s' }) %}
				{% set row = row | concat({ html: '<a class="govuk-link" href="' + baseUrl + '/applicant-website">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
				{% set rows = rows | concat([row]) %}

				{% set row = [] %}
				{% set row = row | concat({ text: 'Email address', classes: 'font-weight--700 pins-table__cell--s' }) %}
				{% set row = row | concat({ text: values['applicant.email'], classes: 'pins-table__cell--s' }) %}
				{% set row = row | concat({ html: '<a class="govuk-link" href="' + baseUrl + '/applicant-email">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
				{% set rows = rows | concat([row]) %}

				{% set row = [] %}
				{% set row = row | concat({ text: 'Telephone number', classes: 'font-weight--700 pins-table__cell--s' }) %}
				{% set row = row | concat({ text: values['applicant.phoneNumber'], classes: 'pins-table__cell--s' }) %}
				{% set row = row | concat({ html: '<a class="govuk-link" href="' + baseUrl + '/applicant-telephone-number">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
				{% set rows = rows | concat([row]) %}


				{{ govukTable({
					caption: params.caption,
					captionClasses: "govuk-table__caption--l",
					head: [
						{ text: "Applicant information", classes: 'govuk-table__caption--m pins-table__cell--l govuk-!-static-padding-bottom-6' },
						{ text: "" },
						{ text: "" }
					],
					rows: rows
				}) }}

				{% set rows = [] %}
				{% set row = [] %}
				{% set row = row | concat({ text: 'Anticipated submission date published', classes: 'font-weight--700 pins-table__cell--s' }) %}
				{% set row = row | concat({ text: values['keyDates.submissionDatePublished'], classes: 'pins-table__cell--s' }) %}
				{% set row = row | concat({ html: '<a class="govuk-link" href="' + baseUrl + '/key-dates">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
				{% set rows = rows | concat([row]) %}

				{% set row = [] %}
				{% set row = row | concat({ text: 'Anticipated submission date internal', classes: 'font-weight--700 pins-table__cell--s' }) %}
				{% set row = row | concat({ text: values['keyDates.submissionDateInternal'] |datestamp({format: 'dd/MM/yyyy'}), classes: 'pins-table__cell--s' }) %}
				{% set row = row | concat({ html: '<a class="govuk-link" href="' + baseUrl + '/key-dates">' + 'Change' + '</a>', classes: 'text-align--right pins-table__cell--s' }) %}
				{% set rows = rows | concat([row]) %}

				{{ govukTable({
					caption: params.caption,
					captionClasses: "govuk-table__caption--l",
					head: [
						{ text: "Key dates", classes: 'govuk-table__caption--m pins-table__cell--l govuk-!-static-padding-bottom-6' },
						{ text: "" },
						{ text: "" }
					],
					rows: rows
				}) }}
			</div>
		</div>
		<div class="govuk-grid-row">
			<div class="govuk-button-group pins-button-group govuk-grid-column-one-half">
				{% set backLink = 'applications-create'|url({applicationId:applicationId, step: 'key-dates'}) %}
				<a class="govuk-link" href="{{ backLink }}">Back</a>
				{{ govukButton({ text: 'I accept - Confirm creation of a new case' }) }}
			</div>
		</div>
	</form>
{% endblock %}



