{% extends "../layouts/applications.layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set serviceName = "Project team" %}
{% set pageTitle = ('Choose' if projectTeamMember.role == '' else 'Change') +" role" %}

{% block pageTitle %}
	{{ serviceName }} – {{ pageTitle | default('GOV.UK') }}
{% endblock %}

{% block beforeContent %}
	<aside>
		{{ govukBackLink({
			text: "Back to Project team",
			href: 'project-team'|url({caseId: caseId })
	}) }}
	</aside>
{% endblock %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
	<h1 class="govuk-heading-l govuk-!-margin-bottom-5">
		<span class="govuk-caption-l">
			{{projectTeamMember.givenName}}
			{{projectTeamMember.surname}}
		</span>

		{{ pageTitle }}
	</h1>

	<form method="post" action="" novalidate="novalidate" class="govuk-!-margin-top-6">

		{{ govukRadios({
				name: "role",
				items: allRoles | selectItems({valueKey: 'value', labelKey: 'text', selectedValue: projectTeamMember.role})

			}) }}

		{{ govukButton({ classes: 'govuk-!-margin-top-4', text: 'Save and return' }) }}
		{% if projectTeamMember.role == '' %}
			<button type="submit" formaction="?toSearchPage=1" class="govuk-button govuk-button--secondary govuk-!-margin-left-2 govuk-!-margin-top-4">
				Save and add another
			</button>
		{% endif %}
	</form>

{% endblock %}
