{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro gridReferences(values, errors) %}
	{{ govukInput({
		name: "geographicalInformation.gridReference.easting",
		id: "geographicalInformation.gridReference.easting",
		label: {
			text: "Grid reference Easting",
			classes: 'font-weight--700'
		},
		errorMessage: errors['geographicalInformation.gridReference.easting'] | errorMessage,
		classes: "govuk-!-width-one-third",
		value: values['geographicalInformation.gridReference.easting'],
		hint: {
			text: "for example, 345678"
		}
	}) }}

	{{ govukInput({
		name: "geographicalInformation.gridReference.northing",
		id: "geographicalInformation.gridReference.northing",
		label: {
			text: "Grid reference Northing",
			classes: 'font-weight--700'
		},
		errorMessage: errors['geographicalInformation.gridReference.northing'] | errorMessage,
		classes: "govuk-!-width-one-third",
		value: values['geographicalInformation.gridReference.northing'],
		hint: {
			text: "for example, 345678"
		}
	}) }}
{% endmacro %}

