{% extends "../../layouts/applications.layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./case/title.njk" import title %}
{% from "./case/description.njk" import description %}
{% from "./case/grid-references.njk" import gridReferences %}
{% from "./case/project-location.njk" import projectLocation %}
{% from "./case/sector.njk" import sector %}
{% from "./case/stage.njk" import stage %}
{% from "./case/sub-sector.njk" import subSector %}
{% from "./case/regions.njk" import regions %}
{% from "./case/zoom-level.njk" import zoomLevel %}
{% from "./case/team-email.njk" import teamEmail %}
{% from "./applicant/info-types.njk" import infoTypes %}
{% from "./applicant/organisation-name.njk" import organisationName %}
{% from "./applicant/full-name.njk" import fullName %}
{% from "./applicant/telephone-number.njk" import telephoneNumber %}
{% from "./applicant/website.njk" import website %}
{% from "./applicant/applicant-email.njk" import applicantEmail %}
{% from "./applicant/address.njk" import address %}
{% from "./applicant/address-view.njk" import addressView %}
{% from "./key-dates/date-published.njk" import datePublished %}
{% from "./key-dates/date-internal.njk" import dateInternal %}

{% block pageHeading %}{% endblock %}


{% block beforeContent %}
<aside>
	{% set breadcrumbBackLink = 'dashboard'|url({domainType: domainType}) if layout.backLink == 'dashboard' else 'case-create'|url({caseId:caseId, step: layout.backLink}) %}
	{% set computedBackLink = backPath if backPath else breadcrumbBackLink %}
	{{ govukBackLink({
		classes: 'govuk-!-margin-top-3',
		text: "Back",
		href: computedBackLink
	}) }}
</aside>
{% endblock %}


{% block pageContent %}
	<h1 class="govuk-heading-l">
		{{ layout.pageTitle }}
	</h1>

	<form method="post" action="" novalidate="novalidate" class="pins-applications-create">
		{% include 'app/includes/csrf.njk' %}

		{% block stepForm %}
			{% for componentName in layout.components %}
				{{ renderComponent(componentName, layout) }}
			{% endfor %}
		{% endblock %}

		<div class="govuk-grid-row">
			<div class="govuk-button-group pins-button-group govuk-grid-column-one-half">
				{% block stepButton %}
					{% if formStage == 'searchPostcode'%}
					{% else %}
						{% set stepButtonText = 'Save changes' if layout.isEdit else 'Save and continue' %}
						{{ govukButton({ text: stepButtonText }) }}
					{% endif %}
				{% endblock %}
			</div>
		</div>
	</form>
{% endblock %}

{% macro renderComponent(componentName, layout) %}
	{% if componentName == 'title' %}
		{{ title(values, errors) }}
		{% elif componentName == 'description' %}
		{{ description(values, errors) }}
		{% elif componentName == 'grid-references' %}
		{{ gridReferences(values, errors) }}
		{% elif componentName == 'project-location' %}
		{{ projectLocation(values, errors, layout.isEdit) }}
		{% elif componentName == 'sector' %}
		{{ sector(values, errors, sectors) }}
		{% elif componentName == 'sub-sector' %}
		{{ subSector(values, errors, subSectors) }}
		{% elif componentName == 'regions' %}
		{{ regions(allRegions, errors) }}
    {% elif componentName == 'stage' %}
    {{ stage(values, errors, stages) }}
		{% elif componentName == 'zoom-level' %}
		{{ zoomLevel(values, errors, zoomLevels) }}
		{% elif componentName == 'team-email' %}
		{{ teamEmail(values, errors) }}
		{% elif componentName == 'organisation-name' %}
		{{ organisationName(values, errors) }}
		{% elif componentName == 'info-types' %}
		{{ infoTypes(applicantInfoTypes) }}
		{% elif componentName == 'full-name' %}
		{{ fullName(values, errors) }}
		{% elif componentName == 'applicant-email' %}
		{{ applicantEmail(values, errors) }}
		{% elif componentName == 'telephone-number' %}
		{{ telephoneNumber(values, errors) }}
		{% elif componentName == 'website' %}
		{{ website(values, errors) }}
		{% elif componentName == 'address' %}
		{{ address(formStage, postcode, errors, addressList) }}
		{% elif componentName == 'address-view' %}
		{{ addressView(postcode, applicantAddress, caseId) }}
		{% elif componentName == 'date-internal' %}
		{{ dateInternal(values, errors) }}
		{% elif componentName == 'date-published' %}
		{{ datePublished(values, errors) }}
	{% endif %}
{% endmacro %}
