{% extends "../../layouts/applications.layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./case/title.njk" import title %}
{% from "./case/description.njk" import description %}
{% from "./case/grid-references.njk" import gridReferences %}
{% from "./case/project-location.njk" import projectLocation %}
{% from "./case/sector.njk" import sector %}
{% from "./case/stage.njk" import stage %}
{% from "./case/sub-sector.njk" import subSector %}
{% from "./case/regions.njk" import regions %}
{% from "./case/zoom-level.njk" import zoomLevel %}
{% from "./case/team-email.njk" import teamEmail %}
{% from "./case/material-change.njk" import materialChange %}
{% from "./applicant/info-types.njk" import infoTypes %}
{% from "./applicant/organisation-name.njk" import organisationName %}
{% from "./applicant/full-name.njk" import fullName %}
{% from "./applicant/telephone-number.njk" import telephoneNumber %}
{% from "./applicant/website.njk" import website %}
{% from "./applicant/applicant-email.njk" import applicantEmail %}
{% from "./applicant/address.njk" import address %}
{% from "./applicant/address-view.njk" import addressView %}
{% from "./key-dates/date-published.njk" import datePublished %}
{% from "./key-dates/date-internal.njk" import dateInternal %}

{% set pageTitle = 'Create new case' %}
{% set serviceName = layout.pageTitle %}

{# The component will render the page heading if there is only one component and it is specified below #}
{% set componentCount = 0 %}
{% set componentHasPageHeading = false %}
{% for componentName in layout.components %}
	{% set componentCount = componentCount + 1 %}
	{% if componentHasPageHeading %}
		{% set componentHasPageHeading = false %}
	{% elif componentCount == 1 %}
		{% if componentName == 'sector'
			or componentName == 'sub-sector'
			or componentName == 'stage'
			or componentName == 'zoom-level'
			or componentName == 'material-change' %}
			{% set componentHasPageHeading = true %}
		{% endif %}
	{% endif %}
{% endfor %}

{% block pageHeading %}{% endblock %}

{% block beforeContent %}
	<aside>
		{% set breadcrumbBackLink = 'dashboard'|url if layout.backLink == 'dashboard' else 'case-create'|url({caseId:caseId, step: layout.backLink}) %}
		{% set computedBackLink = backPath if backPath else
			breadcrumbBackLink %}
		{{ govukBackLink({
		classes: 'govuk-!-margin-top-3',
		text: "Back",
		href: 'case-create'|url({caseId:caseId, step:'check-your-answers'}) if layout.isEdit and isDraft else computedBackLink
	}) }}
	</aside>
{% endblock %}

{% block pageContent %}
	{% if componentHasPageHeading == false %}
		<h1 class="govuk-heading-l govuk-!-margin-bottom-3">
			{{ layout.pageTitle }}
		</h1>
	{%  endif %}

	<form method="post" action="" novalidate="novalidate" class="pins-applications-create">
		{% include 'app/includes/csrf.njk' %}

		{% block stepForm %}
			{% for componentName in layout.components %}
				{{ renderComponent(componentName, layout, componentHasPageHeading) }}
			{% endfor %}
		{% endblock %}

		<div class="govuk-grid-row">
			<div class="govuk-button-group govuk-grid-column-one-half">
				{% block stepButton %}
					{% if formStage == 'searchPostcode'%}
					{% else %}
						{% set stepButtonText = 'Save changes' if layout.isEdit else
							'Save and continue' %}
						{{ govukButton({ text: stepButtonText }) }}
					{% endif %}
				{% endblock %}
			</div>
		</div>
	</form>
{% endblock %}

{% macro renderComponent(componentName, layout, componentHasPageHeading) %}
	{% set fieldset = {
		legend: {
			html: layout.pageTitle,
			isPageHeading: true,
			classes: "govuk-fieldset__legend--l"
		}
	} if componentHasPageHeading %}
	{% if componentName == 'title' %}
		{{ title('title', values, errors) }}
	{% elif componentName == 'titleWelsh' %}
		{{ title('titleWelsh', values, errors) }}
	{% elif componentName == 'description' %}
		{{ description('description', values, errors) }}
	{% elif componentName == 'descriptionWelsh' %}
		{{ description('descriptionWelsh', values, errors) }}
	{% elif componentName == 'grid-references' %}
		{{ gridReferences(values, errors) }}
	{% elif componentName == 'project-location' %}
		{{ projectLocation(values, errors, layout.isEdit, false) }}
	{% elif componentName == 'project-location-welsh' %}
		{{ projectLocation(values, errors, layout.isEdit, true) }}
	{% elif componentName == 'sector' %}
		{{ sector(values, errors, sectors, fieldset) }}
	{% elif componentName == 'sub-sector' %}
		{{ subSector(values, errors, subSectors, fieldset) }}
	{% elif componentName == 'regions' %}
		{{ regions(allRegions, errors) }}
	{% elif componentName == 'stage' %}
		{{ stage(values, errors, stages, fieldset) }}
	{% elif componentName == 'zoom-level' %}
		{{ zoomLevel(values, errors, zoomLevels, fieldset) }}
	{% elif componentName == 'team-email' %}
		{{ teamEmail(values, errors) }}
	{% elif componentName == 'material-change' %}
		{{ materialChange(values, errors, selectedValue, fieldset) }}
	{% elif componentName == 'organisation-name' %}
		{{ organisationName(values, errors) }}
	{% elif componentName == 'info-types' %}
		{{ infoTypes(applicantInfoTypes) }}
	{% elif componentName == 'full-name' %}
		{{ fullName(values, errors) }}
	{% elif componentName == 'applicant-email' %}
		{{ applicantEmail(values, errors) }}
	{% elif componentName == 'telephone-number' %}
		{{ telephoneNumber(values, errors) }}
	{% elif componentName == 'website' %}
		{{ website(values, errors) }}
	{% elif componentName == 'address' %}
		{{ address(formStage, postcode, errors, addressList) }}
	{% elif componentName == 'address-view' %}
		{{ addressView(postcode, applicantAddress, caseId) }}
	{% elif componentName == 'date-internal' %}
		{{ dateInternal(values, errors) }}
	{% elif componentName == 'date-published' %}
		{{ datePublished(values, errors) }}
	{% endif %}
{% endmacro %}
