{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "./components/appeal-summary.component.njk" import appealSummary %}
{% from "app/components/document-list.component.njk" import documentList %}

{% set isAppealIncomplete = appeal.AppealStatus === 'incomplete' %}
{% set backLinkUrl = '/appeals-service/validation' %}

{% set pageTitle = 'Review appeal submission' %}
{% if canEditReviewOutcome %}
	{% set pageTitle = 'Change incomplete appeal outcome' %}
{% elseif isAppealIncomplete %}
	{% set pageTitle = 'Update incomplete appeal' %}
{% endif %}

{% block pageContent %}
	<h2 class="govuk-visually-hidden">
    Appeal details
  </h2>

	{{ appealSummary({ appeal: appeal }) }}

	<h2 class="govuk-heading-l govuk-!-margin-top-9">
		Planning application documents
	</h2>

	{{
		documentSummaryList([
		 { label: 'Planning application form', documentType: 'planning application form' },
		 { label: 'Decision letter', documentType: 'decision letter' }
		])
	}}

	<h2 class="govuk-heading-l govuk-!-margin-top-9">
		Appeal documents
	</h2>

	{{
		documentSummaryList([
		 { label: 'Appeal statement', documentType: 'appeal statement' },
		 { label: 'Supporting documents', documentType: 'supporting document' }
		])
	}}

	{% if not isAppealIncomplete %}

		{# New appeal #}

		<form method="post" novalidate>
			{% include 'app/includes/csrf.njk' %}
			{{ 
				govukRadios({
					idPrefix: "status",
					name: "status",
					errorMessage: errors.status | errorMessage,
					fieldset: {
						legend: {
							text: "Outcome of review",
							isPageHeading: false,
							classes: "govuk-fieldset__legend--l govuk-!-margin-top-6"
						}
					},
					items: [
						{ value: 'valid', text: "Valid", checked: reviewOutcomeStatus === 'valid' },
						{ value: 'invalid', text: "Invalid", checked: reviewOutcomeStatus === 'invalid' },
						{ divider: "or" },
						{ value: 'incomplete', text: "Something is missing or wrong", checked: reviewOutcomeStatus === 'incomplete' }
					]
				})
			}}
			{{ govukButton({ text: 'Continue' }) }}
		</form>

	{% else %}

		{# Incomplete appeal #}

		{% if canEditReviewOutcomeStatus %}
			<form method="post" novalidate>
				{% include 'app/includes/csrf.njk' %}
				{{ 
					govukRadios({
						idPrefix: "status",
						name: "status",
						errorMessage: errors.status | errorMessage,
						fieldset: {
							legend: {
								text: "Outcome of review",
								isPageHeading: false,
								classes: "govuk-fieldset__legend--l govuk-!-margin-top-6"
							}
						},
						items: [
							{ value: 'valid', text: "Valid", checked: reviewOutcomeStatus === 'valid' },
							{ value: 'invalid', text: "Invalid", checked: reviewOutcomeStatus === 'invalid' }
						]
					})
				}}
				<div class="govuk-button-group">
  				{{ govukButton({ text: "Continue" }) }}
					<a class="govuk-link" href="/appeals-service/validation/appeals/{{ appeal.AppealId }}">Cancel</a>
				</div>
			</form>
		{% else %}
			{{ govukButton({
				href: '/appeals-service/validation/appeals/' + appeal.AppealId + '?edit=true',
				text: 'Change outcome',
				classes: 'govuk-button--secondary'
			}) }}
		{% endif %}

	{% endif %}
{% endblock %}

{% macro documentSummaryList(rows) %}
	{% set summaryListRows = [] %}

	{% for row in rows %}
		{% set actionItems = [] %}
		{% set documents = appeal.Documents | filter({ Type: row.documentType }) %}

		{% if isAppealIncomplete %}
			{% set actionItems = [
				{
					text: 'Change',
					href: '/appeals-service/validation/appeals/' + appeal.AppealId + '/documents/' + (row.documentType | lower | kebabCase),
					visuallyHiddenText: row.label | lower
				}
			] %}
		{% endif %}
		{% set summaryListRow = {
				key: { text: row.label },
				value: {
					html: documentList(documents)
				},
				actions: { items: actionItems }
			} %}
		{% set summaryListRows = summaryListRows | concat(summaryListRow) %}
	{% endfor %}

	{{ govukSummaryList({ rows: summaryListRows }) }}
{% endmacro %}
