{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "app/components/document-list.component.njk" import documentList %}
{% from "app/components/file-uploader_legacy.njk" import fileUploader %}

{% set isUniqueDocument = documentType !== 'supporting document' %}
{% set documentLimit = 1 if isUniqueDocument else Infinity %}
{% set documentsForType = documents | filter({ Type: documentType }) %}

{% set pageTitle = 'Change ' + documentType | pluralize(documentLimit) %}
{% set backLinkUrl = '/appeals-service/validation/appeals/' + appealId %}

{% block pageHeading %}
	<h1 class="govuk-heading-l">{{ pageTitle }}</h1>
{% endblock %}

{% block pageContent %}
  {% if documentsForType.length > 0 %}
    {{
      govukSummaryList({
        rows: [
          {
            key: { text: 'Current file' | pluralize(documentLimit) },
            value: { html: documentList(documentsForType) }
          }
        ]
      })
    }}
  {% endif %}

  <form method="post" enctype="multipart/form-data" novalidate="novalidate">
    {% include 'app/includes/csrf.njk' %}

    {% if isUniqueDocument %}
      {{
        fileUploader({
          text: 'Save and continue',
          name: 'files',
          errorMessage: errors.files | errorMessage,
          hintText: 'The uploaded file will replace the existing ' + documentType + '.'
        })
      }}
    {% else %}
      {{
        fileUploader({
          text: 'Save and continue',
          name: 'files',
          errorMessage: errors.files | errorMessage,
          hintText: 'The uploaded files will be added to the list of current ' + documentType | pluralize(documentLimit) + '.',
          multiple: true
        })
      }}
    {% endif %}
    <div class="govuk-button-group">
      {{ govukButton({ text: "Save changes" }) }}
      <a class="govuk-link" href="/appeals-service/validation/appeals/{{ appealId }}">Cancel</a>
    </div>
  </form>

{% endblock %}
