{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set pageTitle = 'Change local planning department' %}
{% set backLinkUrl = '/appeals-service/validation/appeals/' + appealId %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
	<form method="post" novalidate="novalidate">
		{% include 'app/includes/csrf.njk' %}
		{{ 
			govukSelect({
				id: "LocalPlanningDepartment",
				name: "LocalPlanningDepartment",
				classes: 'accessible-autocomplete',
				label: { 
					text: pageTitle,
					classes: "govuk-label--l",
					isPageHeading: true
				},
				hint: {
					text: 'Start typing to select an option',
					classes: 'govuk-visually-hidden'
				},
				items: [{ text: 'Select a local planning department', value: '' }] | concat(
					source | selectItems({ selectedValue: localPlanningDepartment	})
				)
			})
		}}
		<div class="govuk-button-group">
				{{ govukButton({ text: "Save changes" }) }}
				<a class="govuk-link" href="/appeals-service/validation/appeals/{{ appealId }}">Cancel</a>
		</div>
	</form>
{% endblock %}