{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = 'Invalid appeal details' %}
{% set backLinkUrl = '/appeals-service/validation/appeals/' + appeal.AppealId + ('?edit=true' if appeal.AppealStatus === 'incomplete') %}
{% set reasons = reviewOutcome.reasons %}

{% block pageContent %}
	<p class="govuk-body">
		Appeal reference: {{ appeal.AppealReference }}
	</p>
	<form method="post" novalidate>
		{% include 'app/includes/csrf.njk' %}

		<input type="hidden" name="status" value="invalid" />
		{{
			govukCheckboxes({
				idPrefix: 'reasons',
				name: 'reasons[]',
				errorMessage: errors.reasons | errorMessage,
				fieldset: {
    			legend: {
      			text: "Reasons the appeal is invalid",
      			classes: "govuk-fieldset__legend--m"
					}
  			},
				items: [
					'outOfTime' | reasonCheckboxItem(reasons),
					'noRightOfAppeal' | reasonCheckboxItem(reasons),
					'notAppealable' | reasonCheckboxItem(reasons),
					'lPADeemedInvalid' | reasonCheckboxItem(reasons),
					{
						value: 'otherReasons',
						text: 'Other',
						checked: reasons | has('otherReasons'),
						conditional: {
							html: govukInput({
								type: 'text',
								id: 'otherReasons',
								name: 'otherReasons',
								label: { text: 'List reasons' },
								hint: { text: 'This will be sent to the appellant and LPA' },
								errorMessage: errors.otherReasons | errorMessage,
								spellcheck: true,
								value: reasons.otherReasons
							})
						}
					}
				]
			})
		}}
		<div class="govuk-button-group">
			{{ govukButton({ text: 'Continue' }) }}
			<a class="govuk-link" href="{{ backLinkUrl }}">Change outcome</a>
		</div>
	</form>
{% endblock %}
