{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = 'Validation review complete' %}

{% block pageHeading %}{% endblock %}
{% block pageContent %}
	{{ 
		govukPanel({
			titleText: 'Review complete',
			classes: 'govuk-!-margin-bottom-6',
			html: [
				reviewOutcome.status | validationLabel,
				'<strong>' + appeal.AppealReference + '</strong>'
			] | join('<br>')
		})
	}}

	{% if reviewOutcome.status === 'valid' %}
		<p class="govuk-body">
			The appeal has been started and the LPA questionnaire email has been sent.
		</p>
	{% elif reviewOutcome.status === 'invalid' %}
		<p class="govuk-body">
			The appeal has been turned away, and emails have been sent to the appellant and LPA.
		</p>
	{% endif %}

	<h2 class="govuk-heading-m">What next?</h2>
	<ul class="govuk-list">
		<li><a href="/appeals-service/validation" class="govuk-link">Return to task list</a></li>
	</ul>
{% endblock %}
