{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = 'Check and confirm' %}
{% set appealUrl = '/appeals-service/validation/appeals/' + appeal.AppealId + ('?edit=true' if appeal.AppealStatus === 'incomplete') %}
{% set backLinkUrl = '/appeals-service/validation/appeals/' + appeal.AppealId + '/review-outcome' %}

{% block pageContent %}
	<form method="post" novalidate>
		{% include 'app/includes/csrf.njk' %}
		{{ 
			govukSummaryList({
				rows: [
					{ key: { text: 'Outcome of review' }, value: { text: 'Invalid'  } },
					{ key: { text: 'Appellant name' }, value: { text: appeal.AppellantName } },
					{ key: { text: 'Appeal reference' }, value: { text: appeal.AppealReference } },
					{ key: { text: 'Appeal site' }, value: { html: appeal.AppealSite | collapse('<br>') } },
					{ key: { text: 'Reasons' }, value: { html: reasonsList(reviewOutcome.reasons) } }
				]
			})
		}}
		{{ 
			govukWarningText({
				iconFallbackText: 'Warning',
				text: 'Confirming this appeal as invalid turns away the appeal and emails the appellant and LPA.'
			})
		}}		
		<div class="govuk-button-group">
			{{ govukButton({ text: 'Confirm and turn away appeal' }) }}
			<a class="govuk-link" href="{{ appealUrl }}">Change outcome</a>
		</div>
	</form>
{% endblock %}

{% macro reasonsList(reasons) %}
	<ul class="govuk-list">
		{{ reasonListItem(reasons, 'outOfTime') }}
		{{ reasonListItem(reasons, 'noRightOfAppeal') }}
		{{ reasonListItem(reasons, 'notAppealable') }}
		{{ reasonListItem(reasons, 'lPADeemedInvalid') }}
		{% if reasons | has('otherReasons') %}
			<li>{{ 'otherReasons' | validationLabel }} - {{ reasons.otherReasons }}</li>
		{% endif %}
	</ul>
{% endmacro %}

{% macro reasonListItem(reasons, reasonKey) %}
	{% if reasons | has(reasonKey) %}
		<li>{{ reasonKey | validationLabel(true) }}</li>
	{% endif %}
{% endmacro %}
