{%- macro statusTag(status) -%}
	{%- set statusTagColor = '' -%}
	{%- set statusLabel = status -%}
    {# list of available color classes can be found at https://github.dev/alphagov/govuk-frontend/src/govuk/components/tag/_index.scss #}
	{%- switch (status | string | lower) -%}
		{%- case 'available_for_final_comments' -%}
			{%- set statusTagColor = 'purple' -%}
			{%- set statusLabel = 'awaiting' -%}
		{%- case 'available_for_statements' -%}
			{%- set statusTagColor = 'purple' -%}
			{%- set statusLabel = 'awaiting' -%}
		{%- case 'awaiting' -%}
			{%- set statusTagColor = 'blue' -%}
		{%- case 'overdue' -%}
			{%- set statusTagColor = 'red' -%}
		{%- case 'incomplete_lpa_questionnaire' -%}
			{%- set statusTagColor = 'yellow' -%}
			{%- set statusLabel = 'incomplete' -%}
		{%- case 'received' -%}
			{%- set statusTagColor = 'green' -%}
        {%- case 'new' -%}
			{%- set statusTagColor = 'green' -%}
        {%- case 'incomplete' -%}
			{%- set statusTagColor = 'yellow' -%}
	{%- endswitch -%}
	<strong class="govuk-tag govuk-tag--{{statusTagColor}}">{{ statusLabel }}</strong>
{%- endmacro -%}