{%- macro statusTag(status) -%}
	{%- set statusTagColor = 'grey' -%}
	{%- set statusLabel = status -%}
	{#
		list of available color classes can be found
		at https://design-system.service.gov.uk/components/tag/#additional-colours
		or https://github.dev/alphagov/govuk-frontend/src/govuk/components/tag/_index.scss
	#}
	{%- switch (status | string | lower) -%}
		{%- case 'ready_to_start' -%}
			{%- set statusTagColor = 'turquoise' -%}
		{%- case 'lpa_questionnaire_due' -%}
			{%- set statusTagColor = 'yellow' -%}
		{%- case 'statement_review' -%}
			{%- set statusTagColor = 'orange' -%}
		{%- case 'final_comment_review' -%}
			{%- set statusTagColor = 'purple' -%}
		{%- case 'arrange_site_visit' -%}
			{%- set statusTagColor = 'blue' -%}
		{%- case 'issue_determination' -%}
			{%- set statusTagColor = 'pink' -%}
		{%- case 'complete' -%}
			{%- set statusTagColor = 'green' -%}
	{%- endswitch -%}
	<strong class="govuk-tag govuk-tag--{{statusTagColor}} single-line">{{ statusLabel | replace("_", " ") }}</strong>
{%- endmacro -%}