{% extends "../../../layouts/s51-edit.layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formHeading %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
    Select the S51 advice status
  </h1>
{% endblock %}

{% block formContent %}
	{% set statusItems = [
		{
			value: 'not_checked',
			text: 'Not checked'
		}, {
			value: 'checked',
			text: 'Checked'
    }, {
      value: 'ready_to_publish',
      text: 'Ready to publish'
    }, {
      value: 'do_not_publish',
      text: 'Do not publish'
    }
  ]
  %}

  {{ govukRadios({
    name: 'publishedStatus',
    id: 'publishedStatus',
    items: statusItems,
    errorMessage: errors.publishedStatus,
    items: statusItems | selectItems({valueKey: 'value', labelKey: 'text', selectedValue: values.publishedStatus})

  }) }}
{% endblock %}
