{% extends "../../../layouts/s51-edit-property.layout.njk" %}
{% from "../../../components/textarea-form-component.njk" import textareaFormComponent %}

{% block formContent %}
	{{ textareaFormComponent({
		value: values.enquiryDetailsWelsh,
		name: 'enquiryDetailsWelsh',
		label: 'Enquiry details in Welsh',
		englishValue: values.enquiryDetails,
		englishLabel: 'Enquiry details in English',
		errorMessage: errors.enquiryDetailsWelsh
	}) }}
{% endblock %}

