{% extends "../../../layouts/s51-edit.layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formHeading %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
    Edit redacted status
  </h1>
{% endblock %}

{% block formContent %}
	{% set statusItems = [
		{
			value: 'unredacted',
			text: 'Unredacted'
		}, {
			value: 'redacted',
			text: 'Redacted'
    }
  ]
  %}

  {{ govukRadios({
    name: 'redactedStatus',
    id: 'redactedStatus',
    items: statusItems,
    errorMessage: errors.redactedStatus,
    items: statusItems | selectItems({valueKey: 'value', labelKey: 'text', selectedValue: values.redactedStatus})

  }) }}
{% endblock %}
