{% extends "../../../layouts/s51-edit.layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block formHeading %}
	<h1 class="govuk-heading-l govuk-!-margin-bottom-5">
    Edit advice details
	</h1>
{% endblock %}

{% block formContent %}
  {{ govukTextarea({
    name: "adviceDetails",
    id: "adviceDetails",
    formGroup: {
      classes: 'govuk-grid-column-two-thirds govuk-!-margin-top-4 govuk-!-margin-bottom-0'
    },
    hint: {
        text: "Add the details of the advice given. You will be able to add attachments later."
      },
    label: {
      text: "Advice details",
      classes: 'font-weight--700 govuk-!-margin-bottom-4'
    },
    errorMessage: errors.adviceDetails | errorMessage,
    value: values.adviceDetails
  }) }}
{% endblock %}
