{% extends "../../../layouts/applications.layout.njk" %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back to S51 advice",
    href: 's51-item' | url({ caseId: caseId, folderId: folderId, adviceId: adviceId, step: 'properties' })
	}) }}
{% endblock %}
{% block pageHeading %}{% endblock %}
{% block pageContent %}
  <div>
    Edit date
  </div>
{% endblock %}
