{% extends "../../../layouts/s51-edit.layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formHeading %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
    Edit enquiry method
  </h1>
{% endblock %}

{% block formContent %}
	{% set methodsItems = [
		{
			value: 'phone',
			text: 'Phone'
		}, {
			value: 'email',
			text: 'Email'
		}, {
			value: 'meeting',
			text: 'Meeting'
		}, {
			value: 'post',
			text: 'Post'
		}
	]
 	%}

  {{ govukRadios({
    name: 'enquiryMethod',
    id: 'enquiryMethod',

    items: methodsItems,
    errorMessage: errors.enquiryMethod,
    items: methodsItems | selectItems({valueKey: 'value', labelKey: 'text', selectedValue: values.enquiryMethod})

  }) }}
{% endblock %}
