{% extends "../../../layouts/s51-edit.layout.njk" %}
{% from '../../../components/inputs/date-input.component.njk' import dateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formHeading %}
	<h1 class="govuk-heading-l govuk-!-margin-bottom-5">
    Edit enquiry date
	</h1>
{% endblock %}

{% block formContent %}
  {{ dateInput({
    layout: {
      fieldName: 'enquiryDate',
      label: 'Enquiry date',
      classes: 'govuk-grid-column-one-third',
      hint: 'For example, 01 02 2000'
    },
    errors: errors,
    values: values
  }) }}
{% endblock %}
