{% extends "../../../layouts/s51-edit.layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formHeading %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
    Edit the S51 adviser
  </h1>
{% endblock %}

{% block formContent %}
  {{ govukInput({
    label: {
      text: "Enter who gave the advice",
      classes: 'font-weight--700'
    },
    id: 'adviser',
    name: 'adviser',
    classes: 'govuk-!-width-one-third',
    errorMessage: errors.adviser | errorMessage,
    value: values.adviser
  }) }}
{% endblock %}
