{% extends "../../../layouts/s51-edit.layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formHeading %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
    Edit the S51 advice title
  </h1>
{% endblock %}

{% block formContent %}
  {{ govukInput({
    label: {
      text: 'S51 title',
      classes: 'font-weight--700'
    },
    id: 'title',
    name: 'title',
    classes: 'govuk-!-width-one-third',
    errorMessage: errors.title | errorMessage,
    value: values.title,
    hint: {
      text: "For example,  'Advice following issue of decision to accept the application for examination'"
    }
  }) }}
{% endblock %}
