{% extends "../layouts/document-edit-property.layout.njk" %}
{% from "../components/textinput-form-component.njk" import textinputFormComponent %}

{% set pageTitle = layout.pageTitle if layout.pageTitle else layout.label %}

{% block formContent %}
	{{ textinputFormComponent({
		pageTitle: layout.pageTitle,
		value: errors[layout.metaDataName].value if errors[layout.metaDataName] else documentMetaData[layout.metaDataName],
		name: layout.metaDataName,
		label: layout.label,
		englishValue: documentMetaData[layout.metaDataEnglishName] if documentMetaData[layout.metaDataEnglishName] else null,
		englishLabel: layout.englishLabel,
		hint: layout.hint,
		maxLength: layout.maxLength,
		errorMessage: errors[layout.metaDataName]
	}) }}
{% endblock %}

