{% extends "../case/layouts/applications-case-layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block sectionMenu %}{% endblock %}

{% block beforeContent %}{% endblock %}

{% block sectionContent %}
	{{ govukBreadcrumbs({
			classes: 'govuk-!-margin-top-0',
			items: breadcrumbItems
		})
	}}

	<h2 class="govuk-heading-l">{{ currentFolder.displayNameEn }}</h2>

	<!-- loop to display sub-folders in this folder -->
	{% for subFolder in subFolders %}
		<div class="govuk-grid-row govuk-grid-column-full">
			<a class="govuk-link govuk-body-s govuk-!-font-weight-bold" href="{{ 'document-category'|url({caseId: caseId, documentationCategory: subFolder}) }}">
				{{ subFolder.displayNameEn }}
			</a>
		</div>
	{% endfor %}

	<div class="govuk-grid-row govuk-!-margin-top-0">
		<div class="govuk-button-group pins-button-group govuk-grid-column-one-half govuk-!-margin-top-0">
			<a class="govuk-button" href="{{ 'document-category'|url({caseId: caseId, documentationCategory: currentFolder, step: 'upload'}) }}">Upload files</a>
		</div>
	</div>

	<!-- TODO: loop to display files in this folder -->
	{% for documentationFile in documentationFiles %}
		<div class="govuk-grid-row govuk-grid-column-full">
			<a class="govuk-link govuk-body-s govuk-!-font-weight-bold" href={{ documentationFile.url }}>
				{{ documentationFile.fileName }}
			</a>
		</div>
	{% endfor %}

{% endblock %}
