{% extends "app/layouts/app.layout.njk" %}

{% from 'app/components/file-uploader.component.njk' import fileUploader %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set serviceName = ["Upload new version of ", documentationFile.fileName] | join %}
{% block pageTitle %}
	{{ pageTitle | default('GOV.UK') }} – {{ serviceName }}
{% endblock %}

{% block pageHeading %}{% endblock %}

{% block beforeContent %}
<aside>
	{{ govukBackLink({
		text: "Back",
		href: 'document'|url({caseId: caseId, folderId: folderId, documentGuid: documentationFile.documentGuid, step: 'properties'})
		})
	}}
</aside>
{% endblock %}

{% block pageContent %}
	{{ fileUploader({
        text: 'Upload',
		formId: 1,
		caseId: caseId,
        documentId: documentationFile.documentGuid,
		folderId: currentFolder.id,
		formTitle: serviceName,
		nextPageUrl: 'document'|url({caseId: caseId, folderId: folderId, documentGuid: documentationFile.documentGuid, step: 'properties'}),
		allowedTypes: ['pdf','doc','docx','ppt','pptx','xls','xlsx','jpg','jpeg','mpeg','mp3','mp4','mov','png','tif','tiff' ],
		disclaimerText: "Uploading a new version changes the document status to ‘Not checked’. If there’s a previous version in the publishing queue, it will be removed"
	}) }}

{% endblock %}
