{% extends "../layouts/applications.layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./edit/text-input.njk" import textInput %}
{% from "./edit/date-input.njk" import dateInput %}
{% from "./edit/checkboxes-input.njk" import checkboxesInput %}


{% block pageHeading %}{% endblock %}
{% block beforeContent %}
    {{ govukBackLink({
		classes: 'govuk-!-margin-top-3',
		text: "Back",
		href: layout.backLink
	}) }}
{% endblock %}
{% block pageContent %}
    <h1 class="govuk-heading-l">
        {{ layout.pageTitle }}
    </h1>
    <form method="post" action="" novalidate="novalidate" class="pins-applications-create">
        {% include 'app/includes/csrf.njk' %}
        {{ renderComponent(layout.metaDataName) }}
        <div class="govuk-grid-row">
            <div class="govuk-button-group pins-button-group govuk-grid-column-one-half">
                {{ govukButton({ text: 'Save and return' }) }}
            </div>
        </div>
    </form>
{% endblock %}
{% macro renderComponent(componentName) %}
    {% if(componentName === 'received-date' or componentName === 'published-date') %}
        {{ dateInput(layout, documentMetaData[layout.metaDataName], errors) }}
    {% elif(componentName === 'redaction' or componentName === 'type') %}
        {{ checkboxesInput(layout, documentMetaData[layout.metaDataName], errors) }}
    {% else %}
        {{ textInput(layout, documentMetaData[layout.metaDataName], errors) }}
    {% endif %}
{% endmacro %}
