{% extends "../case/layouts/applications-case-layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block sectionMenu %}{% endblock %}

{% block beforeContent %}{% endblock %}

{% block sectionContent %}
	{{ govukBreadcrumbs({
		classes: 'govuk-!-margin-top-0',
		items: breadcrumbItems
	}) }}

{# Display sub-folders in this folder #}
	<div class="pins-dashboard-list--hide-controls">
		<h2 class="govuk-heading-l">{{ currentFolder.displayNameEn }} folder</h2>

		{% set folderRows = [] %}
		{% for subFolder in subFolders %}
			{% set folderRows = folderRows | concat ([[
				{ html: '<a class="govuk-link govuk-body-m" href="' + 'document-category' |url({caseId: caseId, documentationCategory: subFolder}) +'">' + subFolder.displayNameEn + '</a>' }
			]])
			%}
		{% endfor %}

		{{ govukAccordion({
			items: [{
				content: {
					html: govukTable({
						rows: folderRows
					})
				}
			]}
		}) }}
	</div>

	{% set userIsInspector = domainType === 'inspector' %}

	{% if not userIsInspector %}
		<div class="govuk-grid-row govuk-!-margin-top-0">
			<div class="govuk-button-group pins-button-group govuk-grid-column-one-half govuk-!-margin-top-0">
				<a class="govuk-button"
				   href="{{ 'document-category'|url({caseId: caseId, documentationCategory: currentFolder, step: 'upload'}) }}">
					Upload files
				</a>
			</div>
		</div>
	{% endif %}

	<h2 class="govuk-heading-m">Documents</h2>
	<!-- TODO: loop to display files in this folder -->
	{% if documentationFiles |length %}
		{% for documentationFile in documentationFiles %}
			<div class="govuk-grid-row govuk-grid-column-full">
				<a class="govuk-link govuk-body-s govuk-!-font-weight-bold" href={{ documentationFile.url }}>
					{{ documentationFile.fileName }}
				</a>
			</div>
		{% endfor %}
	{% else %}
		This folder contains no documents
	{% endif %}

{% endblock %}
