{% extends "../layouts/document-edit-property.layout.njk" %}
{% from "../components/textarea-form-component.njk" import textareaFormComponent %}

{% block formContent %}
	{{ textareaFormComponent({
		value: documentMetaData[layout.metaDataName],
		name: layout.metaDataName,
		label: layout.label,
		englishValue: documentMetaData[layout.metaDataEnglishName] if documentMetaData[layout.metaDataEnglishName] else null,
		englishLabel: layout.englishLabel,
		errorMessage: errors[layout.metaDataName]
	}) }}
{% endblock %}

