{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro address(formStage, postcode, errors, addressList) %}
	<input type="hidden" name='currentFormStage' value="{{ formStage }}">
		{% if formStage == 'searchPostcode' %}
			<div class="govuk-form-group">
				<label class="govuk-label font-weight--700" for="postcode">
					Postcode
				</label>
				<input class="govuk-input govuk-!-width-one-third" id="postcode" name="postcode" type="text" value="{{ postcode }}">
			</div>
			{{ govukButton({ text: "Save and continue", value:"skip-address-search", name:'skipButton' }) }}
			{{ govukButton({ text: "Find address", classes: "govuk-button--secondary govuk-!-margin-left-2" }) }}
		{% else %}
			<input type="hidden" name="postcode" value="{{ postcode }}"/>
			<div class="govuk-form-group">
				<p class="govuk-label">
					Postcode
				</p>
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-third">
						<div class="govuk-grid-row govuk-button-group">
							<p class='govuk-body govuk-grid-column-one-half font-weight--700'>{{ postcode | upper }}</p>
							<div class="govuk-grid-column-one-half">
								<a class="govuk-link " href="?">Change</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		{% if formStage == 'selectAddress' %}
			<div class="govuk-form-group">
				<label class="govuk-label" for="apiReference">
					Address
				</label>
				<select class="govuk-select govuk-!-width-one-third" id="apiReference" name="apiReference">
					<option value="-1">{{ addressList.length }} addresses found</option>
					{% for item in addressList %}
						<option value="{{ item.apiReference }}">{{ item.displayAddress }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="govuk-button-group">
				<a class='govuk-link' href="?postcode={{ postcode }}">I can't find address on the list</a>
			</div>
		{% elseif formStage == 'manualAddress' %}
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-label">
						Building and street
					</legend>
					<div>
						<label class="govuk-visually-hidden" for="applicant.address.addressLine1">Address line 1</label>
						<input class="govuk-input govuk-!-width-one-half" id="applicant.address.addressLine1" name="applicant.address.addressLine1"
							type="text">
					</div>
					<br />
					<div>
						<label class="govuk-visually-hidden" for="applicant.address.addressLine2">Address line 1</label>
						<input class="govuk-input govuk-!-width-one-half" id="applicant.address.addressLine2" name="applicant.address.addressLine2"
							type="text">
					</div>
				</fieldset>
			</div>
			<div class="govuk-form-group">
				<label class="govuk-label" for="applicant.address.town">
					Town or city
				</label>
				<input class="govuk-input govuk-!-width-one-half" id="applicant.address.town" name="applicant.address.town"
					   type="text">
			</div>
		{% endif %}
{% endmacro %}

