{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro organisationName(values, errors) %}
	{{ govukInput({
		label: {
			text: "Enter the Applicant's organisation",
			classes: "govuk-visually-hidden"
		},
		id: "applicant.organisationName",
		name: "applicant.organisationName",
		classes: "govuk-!-width-one-third",
		value: values['applicant.organisationName'],
		errorMessage: errors['applicant.organisationName'] | errorMessage
	}) }}
{% endmacro %}
