{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro telephoneNumber(values, errors) %}
	{{ govukInput({
		label: {
			text: "Applicant telephone number",
    		classes: "govuk-visually-hidden"
		},
		id: "applicant.phoneNumber",
		name: "applicant.phoneNumber",
		classes: "govuk-!-width-one-third",
		value: values['applicant.phoneNumber'],
		errorMessage: errors['applicant.phoneNumber'] | errorMessage,
		hint: {
			text: "for example, 0300 123 3000"
		}
	}) }}
{% endmacro %}
