{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro website(values, errors) %}
	{{ govukInput({
		label: {
			text: "Applicant website",
    		classes: "govuk-visually-hidden"
		},
		id: "applicant.website",
		name: "applicant.website",
		classes: "govuk-!-width-one-third",
		value: values['applicant.website'],
		errorMessage: errors['applicant.website'] | errorMessage,
		hint: {
			text: "for example, https://www.heathrow.com"
		}
	}) }}
{% endmacro %}
