{% extends 'app/layouts/app-three-column.layout.njk' %}

{% from "inspector/components/appeal-evidence.component.njk" import appealEvidence %}
{% from "inspector/components/appeal-summary.component.njk" import appealSummary %}
{% from "inspector/components/site-visit.component.njk" import siteVisit %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = 'Appeal details' %}

{% block backLink %}
  {{ govukBackLink({ text: 'Back to my appeals', href: '/inspector' }) }}
{% endblock %}

{% block pageLeft %}
  {{
    appealSummary({
      appeal: appeal,
      dataTypes: { appellantName: false }
    })
  }}
{% endblock %}

{% block pageContent %}
  <h2 class="govuk-heading-l">Evidence</h2>
  {{ appealEvidence(appeal) }}
{% endblock %}

{% block pageRight %}
  {% if appeal.status === 'not yet booked' %}
    <div class="pins-related">
      <h3 class="govuk-heading-m">Site visit</h3>

      <dl class="govuk-body">
        <dt class="govuk-!-font-weight-bold">Recommended type</dt>
        <dd>{{ appeal.provisionalSiteVisitType | capitalize }}</dd>
      </dl>

      {% if appeal.availableForSiteVisitBooking %}
        {{
          govukButton({
            text: 'Book site visit',
            href: '/inspector/appeals/' + appeal.appealId + '/book-site-visit',
            classes: 'govuk-!-margin-bottom-0'
          })
        }}
      {% else %}
        <p class="govuk-body">Awaiting statement and final comments until {{ appeal.expectedSiteVisitBookingAvailableFrom }}.</p>
      {% endif %}
    </div>
  {% endif %}

  {% if appeal.status === 'decision due' %}
    <div class="pins-related">
      <h3 class="govuk-heading-m">Decision</h3>
      {{
        govukButton({
          text: 'Issue decision',
          href: '/inspector/appeals/' + appeal.appealId + '/issue-decision',
          classes: 'govuk-!-margin-bottom-0'
        })
      }}
    </div>
  {% endif %}

  {% if appeal.status !== 'not yet booked' %}
    {{ siteVisit(appeal) }}
  {% endif %}
{% endblock %}
