{% extends "app/layouts/app.layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "inspector/components/appeal-table.component.njk" import appealTable %}

{% set pageTitle = 'Appeal unavailable' %}
{% set backLinkUrl = '/inspector/available-appeals' %}

{% block backLink %}
   {{ govukBackLink({ href: backLinkUrl, text: 'Back to available appeals' }) }}
{% endblock %}

{% block pageContent %}
  <p class="govuk-body">An appeal you selected has been assigned to another inspector.</p>
  {{
    appealTable({
      appeals: appeals,
      columns: [
        { name: 'Appeal reference' },
        { name: 'Postcode' },
        { name: 'Appeal age' },
        { name: 'Appeal type' },
        { name: 'Specialism' },
        { name: 'Recommended site visit' },
        { name: 'Assigned to' }
      ]
    })
  }}
  <h2 class="govuk-heading-m">What next?</h2>
  <ul class="govuk-list">
    <li>
      <a href="{{ backLinkUrl }}" class="govuk-link">Return to available appeals</a>
    </li>
  </ul>
{% endblock %}
