{% extends "app/layouts/app.layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "inspector/components/appeal-table.component.njk" import appealTable %}

{% set pageTitle = 'Appeals assigned' %}

{% block pageHeading %}{% endblock %}
{% block pageContent %}
	{{ 
    govukPanel({
      titleText: pageTitle,
      classes: 'govuk-!-margin-bottom-7'
    })
  }}
  <p class="govuk-body">You need to add these appeals to your Outlook schedule.</p>
  {{
    appealTable({
      appeals: appeals,
      columns: [
        { name: 'Appeal reference' },
        { name: 'Postcode' },
        { name: 'Appeal age' },
        { name: 'Appeal type' },
        { name: 'Specialism' },
        { name: 'Recommended site visit' }
      ]
    })
  }}
  <h2 class="govuk-heading-m">What next?</h2>
  <ul class="govuk-list">
    <li>
      <a href="/inspector" class="govuk-link">Return to your appeals</a>
    </li>
  </ul>
{% endblock %}
