{% extends 'app/layouts/app.layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "inspector/components/appeal-table.component.njk" import appealTable %}

{% set pageTitle = 'Available appeals' %}

{% block backLink %}
  {{ govukBackLink({ text: 'Back to my appeals', href: '/inspector' }) }}
{% endblock %}

{% block pageContent %}
  <form method="post">
    {{
      appealTable({
        appeals: appeals,
        columns: [
          { name: 'Select' },
          { name: 'Appeal reference' },
          { name: 'Postcode' },
          { name: 'Appeal age' },
          { name: 'Appeal type' },
          { name: 'Specialism' },
          { name: 'Recommended site visit' }
        ],
        selected: selectedAppealIds
      })
    }}
    {{ govukButton({ text: 'Assign selected appeals to me' }) }}
  </form>
{% endblock %}
