{% extends 'app/layouts/app-three-column.layout.njk' %}

{% from "inspector/components/appeal-summary.component.njk" import appealSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = 'Check and confirm' %}
{% set backLinkUrl = '/inspector/appeals/' + appeal.appealId + '/book-site-visit' %}

{% block pageLeft %}
  {{ appealSummary({ appeal: appeal }) }}
{% endblock %}

{% block pageContent %}
  <h2 class="govuk-heading-l">Site visit details</h2>
  <form method="post" novalidate>
    {{
      govukSummaryList({
        rows: [
          {
            key: { text: 'Type of site visit' },
            value: { text: siteVisitType | capitalize }
          },
          {
            key: { text: 'Date of site visit' },
            value: { text: siteVisitDate | displayDate }
          },
          {
            key: { text: 'Time slot' },
            value: { text: siteVisitTimeSlot }
          }
        ]
      })
    }}
    <div class="govuk-button-group">
      {{ govukButton({ text: "Confirm site visit" }) }}
      <a class="govuk-link" href={{backLinkUrl}}>Change site visit details</a>
    </div>
  </form>
{% endblock %}
