{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = (appeal.bookedSiteVisit.visitType | capitalize) + ' site visit booked' %}

{% block pageHeading %}{% endblock %}
{% block pageContent %}
	{{
		govukPanel({
			titleText: pageTitle,
			html: [
				appeal.address | collapse(', '), 
				'',
				appeal.bookedSiteVisit.visitDate,
				appeal.bookedSiteVisit.visitSlot
			] | join('<br>')
		})
	}}

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <h2 class="govuk-heading-m">What next?</h2>

  <ul class="govuk-list">
    <li>
      <a href="/inspector" class="govuk-link">Return to your appeals</a>
    </li>
  </ul>
{% endblock %}