{% extends 'app/layouts/app.layout.njk' %}

{% from "app/components/info-box.njk" import infoBox %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "inspector/components/appeal-table.component.njk" import appealTable %}

{% set pageTitle = 'My appeals' %}
{% set decisionsDue = appeals | filter({ status: 'decision due' }) %}
{% set siteVisitsBooked = appeals | filter({ status: 'booked' }) %}
{% set siteVisitsNotBooked = appeals | filter({ status: 'not yet booked' }) %}

{% block pageContent %}
  {% if decisionsDue.length > 0 %}
    {{
      appealTable({
        caption: 'Decisions due',
        appeals: decisionsDue,
        columns: [
          { name: 'Appeal reference', href: true },
          { name: 'Appeal site' },
          { name: 'Appeal age' },
          { name: 'Appeal type' },
          { name: 'Site visit type' },
          { name: 'Site visit date' }
        ]
      })
    }}
  {% else %}
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Decisions due</h2>
    {{ infoBox({ text: 'No decisions due' }) }}
  {% endif %}

  {% if siteVisitsBooked.length > 0 %}
    {{
      appealTable({
        caption: 'Site visits booked',
        appeals: siteVisitsBooked,
        columns: [
          { name: 'Appeal reference', href: true },
          { name: 'Appeal site' },
          { name: 'Appeal age' },
          { name: 'Appeal type' },
          { name: 'Site visit type' },
          { name: 'Site visit date' },
          { name: 'Site visit time' }
        ]
      })
    }}
  {% else %}
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Site visits booked</h2>
    {{ infoBox({ text: 'No site visits booked' }) }}
  {% endif %}

  {% if siteVisitsNotBooked.length > 0 %}
    {# Construct the statuses for the 'Site visits not yet booked' table #}
    {% set statuses = [] %}
    {% for appealId in assignedAppealIds %}
      {% set statuses = statuses | concat({ appealId: appealId, text: 'New' }) %}
    {% endfor %}
    {{
      appealTable({
        caption: 'Site visits not yet booked',
        appeals: siteVisitsNotBooked,
        columns: [
          { name: 'Appeal reference', href: true },
          { name: 'Status' },
          { name: 'Appeal site' },
          { name: 'Appeal age' },
          { name: 'Appeal type' },
          { name: 'Provisional site visit type' }
        ],
        statuses: statuses
      })
    }}
  {% else %}
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Site visits not yet booked</h2>
    {{ infoBox({ text: 'No site visits to book' }) }}
  {% endif %}

  <div style="margin-top: -20px">
    {{
      govukButton({
        text: 'Get more appeals',
        href: '/inspector/available-appeals'
      })
    }}
  </div>
{% endblock %}
