{% extends "app/layouts/app-two-column.layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = 'Decision issued' %}

{% block pageHeading %}{% endblock %}
{% block pageContent %}
	{{
    govukPanel({
		  titleText: pageTitle,
		  html: [
        '',
        appeal.decision,
        appeal.reference
      ] | join('<br>')
    })
  }}
  <p class="govuk-body">The decision has been issued to the appellant and local planning department.</p>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <h2 class="govuk-heading-m">What next?</h2>

  <ul class="govuk-list">
    <li>
      <a href="/inspector" class="govuk-link">Return to your appeals</a>
    </li>
  </ul>
{% endblock %}
