{% extends "app/layouts/app.layout.njk" %}
{% from 'app/components/global-header.njk' import globalHeader %}

{% block header %}
	{% set domainName = 'C-BOS Training Environment' if webEnvConfig.isTest else 'NSIP Applications' %}
	{{ globalHeader(domainName) }}
{% endblock %}