{% extends "./applications.layout.njk" %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back to S51 advice",
    href: 's51-item' | url({ caseId: caseId, folderId: folderId, adviceId: adviceId, step: 'properties' })
	}) }}
{% endblock %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
  {% block formHeading %}{% endblock %}
  <form method="post" action="" novalidate="novalidate" class="govuk-grid-row govuk-!-margin-top-2">
    {% block formContent %}{% endblock %}
    {{ govukButton({ text: 'Save and return' }) }}
  </form>
{% endblock %}
