{% extends "./applications.layout.njk" %}

{% set serviceName = case.title if case.title else "S51 advice" %}

{% block beforeContent %}
<aside>
	{{ govukBackLink({
		text: "Back to S51 advice",
    href: 's51-item' | url({ caseId: caseId, folderId: folderId, adviceId: adviceId, step: 'properties' })
	}) }}
</aside>
{% endblock %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
  {% block formHeading %}{% endblock %}
  <form method="post" action="" novalidate="novalidate" class="pins-s51-edit-form govuk-!-margin-top-2">
    {% block formContent %}{% endblock %}
    {{ govukButton({ text: 'Save and return' }) }}
  </form>
{% endblock %}
