{% extends "applications/layouts/applications.layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "applications/components/status-tag.component.njk" import statusTag %}

{% set backUrl = "/applications-service/case/" + caseId + "/relevant-representations" %}

{% block pageHeading %}
{% endblock %}
{% block pageTitle %}
	Representation details
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
	<a class="govuk-back-link" href="{{backUrl}}" >Back</a>
</div>
{% endblock %}

{% block pageContent %}
	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ representationDetails.personData.orgOrName }}</h1>
			<strong class="govuk-heading-s govuk-!-margin-bottom-6">{{ statusTag(caseReference.status.text ) }}</strong>
			<p class="govuk-!-margin-bottom-6"><strong>Project name:</strong> {{ caseReference.title }}</p>
			{% include "./partials/person-contact.njk" %}
		</div>
	</div>

{% if representationDetails.agentData|length  %}
	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{% include "./partials/agent-contact.njk" %}
		</div>
	</div>
{% endif %}

	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{% include "./partials/representation.njk" %}
		</div>
	</div>

	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{% include "./partials/workflow.njk" %}
		</div>
	</div>

	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{% include "./partials/attachments.njk" %}
		</div>
	</div>
{% endblock %}