{% extends "applications/layouts/applications.layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "applications/components/status-tag.component.njk" import statusTag %}
{% from "./components/person-contact.njk" import personContact as personContactSection %}
{% from "./components/family-contact.njk" import familyContact as familyContactSection %}
{% from "./components/organisation-contact.njk" import organisationContact as organisationContactSection %}
{% from "./components/agent-contact.njk" import agentContact as agentContactSection %}
{% from "./components/representation.njk" import representation as representationSection %}
{% from "./components/attachments.njk" import attachments as attachmentsSection %}
{% from "./components/workflow.njk" import workflow as workflowSection%}

{% set backUrl = "/applications-service/case/" + caseId + "/relevant-representations" %}

{% block pageHeading %}
{% endblock %}
{% block pageTitle %}
	Representation details
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
	<a class="govuk-back-link" href="{{backUrl}}" >Back</a>
</div>
{% endblock %}

{% block pageContent %}
	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l govuk-!-margin-bottom-2">
				{% if  representationDetails.personData.orgOrName %}
					{{ representationDetails.personData.orgOrName }}
				{% elif representationDetails.familyData.orgOrName %}
					{{ representationDetails.familyData.orgOrName }}
				{% elif representationDetails.organisationData.orgOrName %}
					{{ representationDetails.organisationData.orgOrName }}
				{% else %}
					{{ representationDetails.agentData.orgOrName }}
				{% endif %}
			</h1>
			<strong class="govuk-heading-s govuk-!-margin-bottom-6">{{ statusTag(caseReference.status.text ) }}</strong>
			<p class="govuk-!-margin-bottom-6"><strong>Project name:</strong> {{ caseReference.title }}</p>
		</div>
	</div>


{% if representationDetails.personData | length  %}
	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{{ personContactSection(representationDetails.personData) }}
		</div>
	</div>
{% endif %}

{% if representationDetails.familyData | length  %}
	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{{ familyContactSection(representationDetails.familyData) }}
		</div>
	</div>
{% endif %}

{% if representationDetails.organisationData | length  %}
	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{{ organisationContactSection(representationDetails.organisationData) }}
		</div>
	</div>
{% endif %}

{% if representationDetails.agentData | length  %}
	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{{ agentContactSection(representationDetails.agentData) }}
		</div>
	</div>
{% endif %}

	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{{ representationSection(representationDetails.representationData, cspNonce )}}
		</div>
	</div>

	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{{ workflowSection(caseReference.status.text) }}
		</div>
	</div>

	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{{ attachmentsSection() }}
		</div>
	</div>
{% endblock %}