{% extends "applications/layouts/applications.layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "./components/representation-status-tag.njk" import representationStatusTag %}
{% from "./components/represented-section.njk" import representedSection %}
{% from "./components/agent-contact.njk" import agentContact as agentContactSection %}
{% from "./components/representation.njk" import representation as representationSection %}
{% from "./components/attachments.njk" import attachments as attachmentsSection %}
{% from "./components/workflow.njk" import workflow as workflowSection%}

{% set backUrl = "/applications-service/case/" + caseId + "/relevant-representations" %}

{% block pageHeading %}
{% endblock %}
{% block pageTitle %}
	Representation details
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
	<a class="govuk-back-link" href="{{backUrl}}" >Back</a>
</div>
{% endblock %}

{% block pageContent %}
	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l govuk-!-margin-bottom-2">
				{% if  representationDetails.represented.orgOrName %}
					{{ representationDetails.represented.orgOrName }}
				{% else %}
					{{ representationDetails.agentData.orgOrName }}
				{% endif %}
			</h1>
			<strong class="govuk-heading-s govuk-!-margin-bottom-6">{{ representationStatusTag(representationDetails.representationData.status) }}</strong>
			<p class="govuk-!-margin-bottom-6"><strong>Project name:</strong> {{ caseReference.title }}</p>
		</div>
	</div>

{% if representationDetails.represented | length  %}
	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{{ representedSection(representationDetails.represented) }}
		</div>
	</div>
{% endif %}

{% if representationDetails.agentData | length  %}
	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{{ agentContactSection(representationDetails.agentData) }}
		</div>
	</div>
{% endif %}

	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{{ representationSection(representationDetails.representationData, cspNonce, caseId, representationId)}}
		</div>
	</div>

	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{{ workflowSection(representationDetails.representationData.status) }}
		</div>
	</div>

	<div class="govuk-grid-row govuk-!-margin-bottom-6">
		<div class="govuk-grid-column-full">
			{{ attachmentsSection() }}
		</div>
	</div>
{% endblock %}
