{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro teamEmail(values, errors) %}
	{{ govukInput({
		label: {
			text: "Team mail address",
    		classes: "govuk-visually-hidden"
		},
		id: "caseEmail",
		name: "caseEmail",
		classes: "govuk-!-width-one-third",
		value: values.caseEmail,
		errorMessage: errors.caseEmail | errorMessage,
		hint: {
			text: "for example, NIEnquiries@planninginspectorate.gsi.gov.uk"
		}
	}) }}
{% endmacro %}
