{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro title(name, values, errors) %}
	{{ govukInput({
		label: {
			text: "Name of the project",
			classes: 'font-weight--700'
		},
		id: name,
		name: name,
		classes: "govuk-!-width-one-third",
		value: values[name],
		errorMessage: errors[name] | errorMessage,
		hint: {
			text: "for example, Bridge over a very long canyon"
		}
	}) }}
{% endmacro %}
