{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% macro title(name, values, errors) %}

	{% set labelText = 'Name of the project' %}
	{% if name == 'titleWelsh'%}
		{% set labelText = 'Name of the project in Welsh' %}
	{% endif %}


	{% if name == 'titleWelsh' and values['title'] != null%}

		<p class='govuk-body govuk-!-margin-bottom-0'>Name of the project in English:</p>

		{{ govukInsetText({
  			text: values['title'],
			classes: 'govuk-!-margin-top-4'
		}) }}
	{% endif %}

	{{ govukInput({
		label: {
			text: labelText,
			classes: 'font-weight--700'
		},
		id: name,
		name: name,
		classes: "govuk-!-width-one-third",
		value: values[name],
		errorMessage: errors[name] | errorMessage,
		hint: {
			text: "for example, Bridge over a very long canyon"
		}
	}) }}
{% endmacro %}
