{% extends "app/layouts/app.layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
  {{
		govukBreadcrumbs({
			classes: 'govuk-!-margin-top-3',
			items: [
				{ href: '/appeals-service/case-officer', text: 'Questionnaires for review' },
				{ text: appeal.AppealReference }
			]
		})	
	}}
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ 
        govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: { text: "Appeal reference" },
              value: { text: appeal.AppealReference }
            }, {
              key: { text: "Appeal site" },
              value: { html: appeal.AppealSite | collapse('<br>') }
            }, {
              key: { text: "Local planning department" },
              value: { text: appeal.LocalPlanningDepartment }
            }
          ]
        })
      }}
    </div>
  </div>

  {% block appealContent %}{% endblock %}
{% endblock %}
