{% from "../../components/published-tag.component.njk" import publishedTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro caseInfoTable(case) %}

	{% set publishedTagHtml %}
		{{ publishedTag(case.publishedDate) }}
		{% if case.publishedDate %}
			<span class="govuk-body-s govuk-!-margin-left-4">
				Last updated: {{ case.publishedDate|datestamp({format: 'h:mma dd/MM/yyyy'})|lower }}
			</span>
		{% endif %}
	{% endset %}

	{{ govukSummaryList({
		classes: 'govuk-summary-list--no-border',
		rows: [
			{
				key: { text: "Project page status" },
				value: { html: publishedTagHtml }
			},
			{
				key: { text: "Case reference number" },
				value: { text: case.reference }
			},
			{
				key: { text: "Sector" },
				value: { text: case.sector.displayNameEn }
			},
			{
				key: { text: "Subsector" },
				value: { text: case.subSector.displayNameEn }
			}
		]
	}) }}
{% endmacro %}
