{% macro caseEditLink(params) %}
	{% set userIsInspector = params.domainType === 'inspector' %}

	{% if not userIsInspector %}
		<a class="govuk-link"
		   href="{{ 'case-edit'|url({caseId: params.caseId, step: params.editStepUrl }) }}">
			Change
		</a>
	{% endif %}
{% endmacro %}
