{% extends "../layouts/applications.layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set serviceName = ["S51 advice item successfully unpublished ", action] | join %}

{% block pageTitle %}
	{{ serviceName }} – {{ pageTitle | default('GOV.UK') }}
{% endblock %}

{% block beforeContent %}{% endblock %}
{% block pageHeading %}{% endblock %}

{% block pageContent %}

	{% set bannerDetails%}
	<p class='govuk-!-font-size-19'>
		Case: {{case.title}}
		<br/>
		Reference: {{case.reference}}
	</p>
	{% endset %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
			{{ govukPanel({
				titleText: serviceName,
				html: bannerDetails
			}) }}

            <div class='govuk-!-font-size-19'>
                <p class='govuk-!-margin-top-0 govuk-!-margin-right-2'>The S51 advice will be removed from the NI website within the hour.</p>
            </div>
			<div class='govuk-!-font-size-19 display--flex'>
				<p class='govuk-!-margin-top-0 govuk-!-margin-right-2'>Return to folder: </p>
				<a href='{{'s51-list'|url({caseId: caseId, folderId: folderId })}}'' class="govuk-link">
					Project documentation > <strong>S51 Advice</strong>
				</a>
			</div>
		</div>
	</div>
{% endblock %}