{% extends "../layouts/applications.layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set serviceName = "S51 advice" %}
{% set pageTitle = "Select the method of enquiry" %}

{% block pageTitle %}
	{{ serviceName }} – {{ pageTitle | default('GOV.UK') }}
{% endblock %}

{% block sectionMenu %}{% endblock %}

{% block beforeContent %}
<aside>
	{{ govukBackLink({
		text: "Back",
		href: 's51-create'|url({caseId: caseId, documentationCategory: currentFolder, step: 'enquirer' })
	}) }}
</aside>
{% endblock %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}

	{% set methodsItems = [
		{
			value: 'phone',
			text: 'Phone'
		}, {
			value: 'email',
			text: 'Email'
		}, {
			value: 'meeting',
			text: 'Meeting'
		}, {
			value: 'post',
			text: 'Post'
		}
	]
 	%}

	<h1 class="govuk-heading-l govuk-!-margin-bottom-4">
		{{ pageTitle }}
	</h1>

	<p class='govuk-body colour--secondary'>
        How was the enquiry made?
    </p>

	<form method="post" action="" novalidate="novalidate" class="pins-applications-create govuk-!-margin-top-6">

		{{ govukRadios({
			name: 'enquiryMethod',
			id: 'enquiryMethod',

			items: methodsItems,
			errorMessage: errors.enquiryMethod,
			items: methodsItems | selectItems({valueKey: 'value', labelKey: 'text', selectedValue: values.enquiryMethod})

		}) }}

		{{ govukButton({ text: 'Continue'}) }}
	</form>
{% endblock %}
