{% extends "../layouts/applications.layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% from '../components/inputs/date-input.component.njk' import dateInput %}

{% set serviceName = "S51 advice" %}
{% set pageTitle = "Enquiry details" %}

{% block pageTitle %}
	{{ serviceName }} – {{ pageTitle | default('GOV.UK') }}
{% endblock %}

{% block sectionMenu %}{% endblock %}

{% block beforeContent %}
	{{ govukBackLink({
		text: "Back",
		href: 's51-create'|url({caseId: caseId, documentationCategory: currentFolder, step: 'method' })
	}) }}
{% endblock %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
	<h1 class="govuk-heading-l govuk-!-margin-bottom-5">
		{{ pageTitle }}
	</h1>

	<form method="post" action="" novalidate="novalidate" class="govuk-grid-row govuk-!-margin-top-2 pins-applications-create">
		{{ dateInput({
			layout: {
				fieldName: 'enquiryDate',
				label: 'Enquiry date',
				classes: 'govuk-grid-column-one-third',
				hint: 'For example, 01 02 2000'
			},
			errors: errors,
			values: values
		}) }}

		{{ govukTextarea({
			name: "enquiryDetails",
			id: "enquiryDetails",
			formGroup: {
				classes: 'govuk-grid-column-two-thirds govuk-!-margin-top-4 govuk-!-margin-bottom-0'
			},
			hint: {
    			text: "Add the details of the enquiry. You will be able to add attachments later."
  			},
			label: {
				text: "Enquiry details",
				classes: 'font-weight--700 govuk-!-margin-bottom-4'
			},
			errorMessage: errors.enquiryDetails | errorMessage,
			value: values.enquiryDetails
		}) }}

		<div class='govuk-grid-column-full'>
		{{ govukButton({ text: 'Continue' }) }}
		</div>
	</form>
{% endblock %}
