{% extends "../layouts/applications.layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set serviceName = ["S51 advice item successfully deleted ", action] | join %}

{% block beforeContent %}{% endblock %}
{% block pageHeading %}{% endblock %}

{% block pageContent %}
	{% set bannerDetails%}
    <p class='govuk-!-font-size-19'>
      Case: {{case.title}}
      <br/>
      Reference: {{case.reference}}
    </p>
	{% endset %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">
			{{ govukPanel({
				titleText: serviceName,
				html: bannerDetails
			}) }}

			<div class='govuk-!-font-size-19 display--flex'>
				<p class='govuk-!-margin-top-0 govuk-!-margin-right-2'>Return to folder: </p>
				<a href="{{ breadcrumbItems[breadcrumbItems.length - 1].href }}" class="govuk-link">
					Project documentation > <strong>S51 Advice</strong>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
