{% extends "../../layouts/folder-edit-property.layout.njk" %}
{% from "../textinput-form-component.njk" import textinputFormComponent %}

{% set pageTitle = "Folder name" %}

{% block formContent %}
	{{ textinputFormComponent({
    pageTitle: pageTitle,
    name: "folderName",
    contextLabel: "Create folder"
	}) }}
{% endblock %}

{% block formSubmitButton %}
	{{ govukButton({ text: 'Save and return' }) }}
{% endblock %}
