{% extends "../../case/layouts/applications-case-layout.njk" %}

{% from "./folder-header.component.njk" import folderHeader %}
{% from "./folder-status.component.njk" import folderStatus %}
{% from "./folder-actions.component.njk" import folderActions with context %}
{% from "../../case-documentation/documentation-table.njk" import folderDocumentsTable %}
{% from "../../case-s51/s51-table.njk" import folderS51Table %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set isS51folder = currentFolder.displayNameEn === 'S51 advice' %}
{% set isGeneralS51folder = case.reference === gs51CaseReference %}

{% set pageTitle = currentFolder.displayNameEn + ' folder' %}

{% block errorSummary %}
	{% if errors %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				{{
					govukErrorSummary({
						titleText: "There is a problem",
						errorList: errors | mapToErrorSummary
					})
				}}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block beforeContent %}
	{% if not isGeneralS51folder %}
		{{ govukBreadcrumbs({
			classes: 'govuk-!-margin-top-0',
			items: breadcrumbItems
		}) }}
	{% endif %}
	{% if sessionBannerText %}
		{% set sessionBannerHtml %}
			<p class="govuk-notification-banner__heading">{{ sessionBannerText }}</p>
		{% endset %}
		{{ govukNotificationBanner({
			type: 'success',
			html: sessionBannerHtml,
			classes: 'pins-folder-success-banner'
		}) }}
	{% endif %}
{% endblock %}

{% block pageContent %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{% block sectionContent %}
				{{ folderHeader(currentFolder, subFolders, caseId, isS51folder, cspNonce, isGeneralS51folder, isCustomFolder) }}

				{{ folderStatus(currentFolder, items, caseId, isS51folder, isGeneralS51folder) }}
					{% if items.itemCount %}
						<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
						{% if isS51folder %}
							<form class="pins-files-list" method="post" action="{{'s51-status'|url({caseId: caseId, folderId: folderId}) }}">
						{% else %}
							<form class="pins-files-list" method="post">
						{% endif %}
							<caption>
								<span class="display--sr-only">Manage Documents in this location</span>
							</caption>

							{{ folderActions(isS51folder) }}

							{% if isS51folder %}
								{{ folderS51Table(items, pagination, caseId, folderId, isGeneralS51folder, errors) }}
							{% else %}
								{{ folderDocumentsTable(items, pagination, caseId, folderId, table) }}
							{% endif %}

							{% if items.itemCount > items.pageDefaultSize %}
								{{ govukPagination(pagination.buttons) }}
							{% endif %}
						</form>
				{% endif %}
			{% endblock %}
		</div>
	</div>
{% endblock %}
