{% extends "../../layouts/folder-edit-property.layout.njk" %}
{% from "../textinput-form-component.njk" import textinputFormComponent %}

{% block formContent %}
	{{ textinputFormComponent({
    pageTitle: "Folder name",
    name: "folderName",
    contextLabel: "Rename folder"
	}) }}
{% endblock %}
