{%- extends "app/layouts/app-two-column.layout.njk" -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}

{%- set pageTitle = (pageContent.title + ' - ' if pageContent.title else '') + "GOV.UK" -%}
{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}

{%- set gridColumnClasses = gridColumnClasses if gridColumnClasses else 'govuk-grid-column-full' -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{%- if pageContent.preHeading -%}<span class="govuk-caption-l govuk-!-margin-bottom-3">{{ pageContent.preHeading }}</span>{%- endif -%}
			{%- if pageContent.heading -%}<h1 class="{{ pageContent.headingClasses if pageContent.headingClasses else "govuk-heading-xl govuk-!-margin-bottom-3" }}">{{ pageContent.heading }}</h1>{%- endif -%}
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	{%- for component in pageContent.pageComponents -%}
		{%- if component.type !== 'notification-banner' and component.type !== 'error-summary' and component.type !== 'checkboxes' and component.type !== 'radios' -%}
			{%- include "../appeals/components/page-component.njk" -%}
		{%- endif -%}
	{%- endfor -%}
	<form method="post" novalidate="novalidate">
		{%- for component in pageContent.pageComponents -%}
			{%- if component.type === 'checkboxes' or component.type === 'radios' -%}
				{%- include "../appeals/components/page-component.njk" -%}
			{%- endif -%}
		{%- endfor -%}
		{%- set defaultButtonProperties = {
			text:"Confirm",
			type: "submit"
		} -%}
		{{ govukButton(pageContent.submitButtonProperties if pageContent.submitButtonProperties else defaultButtonProperties) }}
	</form>
{%- endblock -%}
