{%- extends "app/layouts/app.layout.njk" -%}
{%- from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/pagination/macro.njk" import govukPagination -%}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = (pageContent.title + ' - ' if pageContent.title else '') + "GOV.UK" -%}

{%- block pageHeading -%}
	{%- set errorSummaries = [] -%}
	{%- set notificationBanners = [] -%}
	{%- for component in pageContent.pageComponents -%}
		{%- if component.type === 'error-summary' -%}
			{%- set _ = errorSummaries.push(component) -%}
		{%- endif -%}
		{%- if component.type === 'notification-banner' -%}
			{%- set _ = notificationBanners.push(component) -%}
		{%- endif -%}
	{%- endfor -%}
	{%- if errorSummaries | length -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{%- for component in errorSummaries -%}
				{{ govukErrorSummary(component.parameters) }}
			{%- endfor -%}
		</div>
	</div>
	{%- endif -%}
	{%- if notificationBanners | length -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{%- for component in notificationBanners -%}
				{{ govukNotificationBanner(component.parameters) }}
			{%- endfor -%}
		</div>
	</div>
	{%- endif -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{%- if pageContent.preHeading -%}<span class="govuk-caption-l govuk-!-margin-bottom-3">{{ pageContent.preHeading }}</span>{%- endif -%}
			{%- if pageContent.heading -%}<h1 class="{{ pageContent.headingClasses if pageContent.headingClasses else "govuk-heading-xl govuk-!-margin-bottom-3" }}">{{ pageContent.heading }}</h1>{%- endif -%}
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	{%- for component in pageContent.pageComponents -%}
		{%- if component.type !== 'error-summary' and component.type !== 'notification-banner' -%}
			{%- if component.type === 'radios' or component.type === 'checkboxes' -%}
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-full">
						<form action="" method="POST" novalidate>
							{%- include "../appeals/components/page-component.njk" -%}
							{{ govukButton({text: "Continue"}) }}
						</form>
					</div>
				</div>
			{%- else -%}
				{%- include "../appeals/components/page-component.njk" -%}
			{%- endif -%}
		{%- endif -%}
	{%- endfor -%}
	{% if pagination.items|length %}
		{{
			govukPagination(
				pagination
			)
		}}
	{% endif %}
{%- endblock -%}
