{%- extends "app/layouts/app.layout.njk" -%}
{%- from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from 'govuk/components/accordion/macro.njk' import govukAccordion -%}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "govuk/components/inset-text/macro.njk" import govukInsetText -%}
{%- from "../appeals/components/status-tag.njk" import statusTag -%}

{%- set backLinkUrl = pageContent.backLinkUrl -%}
{%- set backLinkText = pageContent.backLinkText -%}
{%- set pageTitle = (pageContent.title + ' - ' if pageContent.title else '') + "GOV.UK" -%}

{%- block pageHeading -%}

	{%- for component in pageContent.customErrorMessageComponents -%}
		{%- if component.type === 'error-summary' -%}
			{{ govukErrorSummary(component.parameters) }}
		{%- endif -%}
	{%- endfor -%}
	{%- for component in pageContent.pageComponents -%}
		{%- if component.type === 'notification-banner' -%}
			{{ govukNotificationBanner(component.parameters) }}
		{%- endif -%}
	{%- endfor -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{%- if pageContent.preHeading -%}<span class="govuk-caption-l govuk-!-margin-bottom-3">{{ pageContent.preHeading }}</span>{%- endif -%}
			{%- if pageContent.heading -%}<h1 class="{{ pageContent.headingClasses if pageContent.headingClasses else "govuk-heading-xl govuk-!-margin-bottom-3" }}">{{ pageContent.heading }}</h1>{%- endif -%}
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	{%- for component in pageContent.pageComponents -%}
		{%- if component.type !== 'notification-banner' -%}
			{%- if component.type === 'radios' or component.type === 'checkboxes' -%}
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-full">
						<form action="" method="POST" novalidate>
							{%- include "../appeals/components/page-component.njk" -%}
							{{ govukButton({text: "Continue"}) }}
						</form>
					</div>
				</div>
			{%- else -%}
				{%- include "../appeals/components/page-component.njk" -%}
			{%- endif -%}
		{%- endif -%}
	{%- endfor -%}
{%- endblock -%}
