{%- extends "app/layouts/app-two-column.layout.njk" -%}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}

{%- set backLinkUrl = backLinkUrl.link -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-l govuk-!-margin-bottom-3">Appeal {{ appealReference }}</span>
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	{%- for component in pageContents -%}
		{%- if component.type === "radio" -%}
			{{ govukRadios(component) }}
		{%- elif component.type === "checkbox" -%}
			{{ govukCheckboxes(component) }}
		{%- elif component.type === "text-input" -%}
			{{ govukInput(component) }}
		{%- elif component.type === "text-area" -%}
			{{ govukInput(component) }}
		{%- elif component.type === "date-input" -%}
			{{ govukInput(component) }}
		{%- elif component.type === "field-set" -%}
			{{ govukFieldset(component) }}
		{%- elif component.type === "file-upload" -%}
			{{ govukInput(component) }}
		{%- elif component.type === "select" -%}
			{{ govukInput(component) }}
		{%- endif -%}
	{%- endfor -%}
	<form method="POST" novalidate="novalidate">
		{{ govukButton({
			text: "Continue",
			type: "submit"
		}) }}
	</form>
{%- endblock -%}
