{%- extends "app/layouts/app-two-column.layout.njk" -%}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}

{%- set pageTitle = (pageTitle if pageTitle else "Change") + " - GOV.UK" -%}
{%- set backLinkUrl = backLinkUrl.link -%}

{%- block pageHeading -%}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-l govuk-!-margin-bottom-3">Appeal {{ appealReference }}</span>
		</div>
	</div>
{%- endblock -%}

{%- block pageContent -%}
	{%- for component in pageComponents -%}
		{%- if component.wrapperHtml -%}{{ component.wrapperHtml.opening | safe }}{%- endif -%}
		{%- include "../appeals/components/page-component.njk" -%}
		{%- if component.wrapperHtml -%}{{ component.wrapperHtml.closing | safe }}{%- endif -%}
	{%- endfor -%}
	<form method="POST" novalidate="novalidate">
		{{ govukButton({
			text: "Continue",
			type: "submit"
		}) }}
	</form>
{%- endblock -%}
