{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% call govukFieldset({
  classes: "govuk-!-width-two-thirds",
  legend: {
    text: "What is your address?",
    classes: "govuk-visually-hidden"
  }
}) %}

  {{ govukInput({
    autocomplete: "address-line1",
    errorMessage: errors["addressLine1"] and {
      text: errors["addressLine1"].msg
    },
    id: "addressLine1",
    label: {
      classes: "govuk-!-font-weight-bold",
      text: 'Address line 1'
    },
    name: "addressLine1",
    value: representationType.address.addressLine1
  }) }}

  {{ govukInput({
    autocomplete: "address-line2",
    errorMessage: errors["addressLine2"] and {
      text: errors["addressLine2"].msg
    },
    id: "addressLine2",
    label: {
      classes: "govuk-!-font-weight-bold",
      text: 'Address line 2 (optional)'
    },
    name: "addressLine2",
    value: representationType.address.addressLine2
  }) }}

  {{ govukInput({
    autocomplete: "address-level2",
    classes: "govuk-!-width-two-thirds",
    errorMessage: errors["town"] and {
      text: errors["town"].msg
    },
    id: "town",
    label: {
      classes: "govuk-!-font-weight-bold",
      text: "Town or city (optional)"
    },
    name: "town",
    value: representationType.address.town
  }) }}

  {{ govukInput({
    autocomplete: "postal-code",
    classes: "govuk-input--width-10",
    errorMessage: errors["postcode"] and {
      text: errors["postcode"].msg
    },
    id: "postcode",
    label: {
      classes: "govuk-!-font-weight-bold",
      text: "Postcode"
    },
    name: "postcode",
    value: representationType.address.postcode
  }) }}

  {{ govukInput({
    classes: "govuk-!-width-two-thirds",
    errorMessage: errors["country"] and {
      text: errors["country"].msg
    },
    id: "country",
    label: {
      classes: "govuk-!-font-weight-bold",
      text: "Country"
    },
    name: "country",
    value: representationType.address.country
  }) }}

{% endcall %}
