{% extends "app/layouts/app.layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro missingOrIncorrectDocumentsList() %}
	<ul class="govuk-list">
		{%- for key, data in missingOrIncorrectDocuments -%}
			<li>
				{%- if data.value -%}
					{{ missingOrIncorrectDocumentsLabelsMap[key] }}:<br>
					{%- if key === 'applicationNotification' or key === 'appealNotification' -%}
						<ul class="govuk-list--bullet govuk-!-margin-top-0">
							{%- for valueKey, valueData in data.value -%}
								<li class="govuk-!-margin-bottom-0">{{ missingOrIncorrectDocumentsLabelsMap[valueKey] }}</li>
							{%- endfor -%}
						</ul>
					{%- else -%}
						{{ data.value }}
					{%- endif -%}
				{%- elif data === true -%}
					{{ missingOrIncorrectDocumentsLabelsMap[key] }}
				{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
{% endmacro %}

{% block header %}
	{{ govukHeader({
		homepageUrl: "https://www.gov.uk/",
		serviceName: "Appeal a planning decision",
		serviceUrl: "/lpa",
		containerClasses: "govuk-width-container"
	}) }}
{% endblock %}

{% set pageTitle = 'Review questionnaire' %}

{% block content %}
	{{ super() }}

	<h2 class="govuk-heading-l">
		Check and confirm
	</h2>

	<form action="" method="post" novalidate>
		{%- if reviewOutcome === 'incomplete' -%}
			{{ govukSummaryList({
				rows: [
					{ key: { text: "Review outcome" }, value: { text: reviewOutcomeText } },
					{ key: { text: "Missing or incorrect documents" }, value: { html: missingOrIncorrectDocumentsList() } },
					{ key: { text: "Appeal reference" }, value: { text: questionnaireData.AppealReference } },
					{ key: { text: "Appeal site" }, value: { html: questionnaireData.AppealSite | address(', ') } },
					{ key: { text: "Local planning department" }, value: { text: questionnaireData.LocalPlanningDepartment } }
				]
			}) }}
			{{ govukCheckboxes({
				idPrefix: 'check-and-confirm-completed',
				name: 'check-and-confirm-completed',
				errorMessage: errors and {
					text: errors['check-and-confirm-completed'].msg
				},
				items: [
					{
						value: 'true',
						text: 'I have completed all follow-up tasks and emails',
						checked: false
					}
				]
			}) }}
		{%- elif reviewOutcome === 'complete' -%}
			{{ govukSummaryList({
				rows: [
					{ key: { text: "Review outcome" }, value: { text: reviewOutcomeText } },
					{ key: { text: "Appeal reference" }, value: { text: questionnaireData.AppealReference } },
					{ key: { text: "Appeal site" }, value: { html: questionnaireData.AppealSite | address(', ') } },
					{ key: { text: "Local planning department" }, value: { text: questionnaireData.LocalPlanningDepartment } }
				]
			}) }}
			{{ govukWarningText({
				iconFallbackText: "Warning",
				text: "Confirming this questionnaire as complete makes the appeal visible to inspectors."
			}) }}
		{%- endif -%}

		<div class="govuk-button-group">
			{{ govukButton({ text: 'Confirm outcome' }) }}
			<a class="govuk-link" href="{{ backURL }}">Go back to review questionnaire</a>
		</div>
	</form>

{% endblock %}
