{% extends "app/layouts/app.layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "app/components/infoBox.njk" import infoBox %}

{% block content %}
	{%- set tableHeadItems = [
		{ text: "Appeal reference" },
		{ text: "Date due" },
		{ text: "Appeal site" },
		{ text: "Status" }
	] -%}

	<h1 class="govuk-heading-xl">
		Questionnaires for review
	</h1>

	<h2 class="govuk-heading-l govuk-!-margin-bottom-1">
		Incoming questionnaires
	</h2>

	{%- if questionnairesList.incomingQuestionnaires.length > 0 -%}
		{{ govukTable({
			head: tableHeadItems,
			rows: questionnairesList.incomingQuestionnaires })
		}}
	{%- else -%}
		{{ infoBox("No incoming questionnaires", classes="govuk-!-margin-bottom-8") }}
	{%- endif -%}

	<h2 class="govuk-heading-l govuk-!-margin-bottom-1">
		Incomplete questionnaires
	</h2>

	{%- if questionnairesList.incompleteQuestionnaires.length > 0 -%}
		{{ govukTable({
			head: tableHeadItems,
			rows: questionnairesList.incompleteQuestionnaires })
		}}
	{%- else -%}
		{{ infoBox("No incomplete questionnaires") }}
	{%- endif -%}
{% endblock %}
