{% extends "app/layouts/app.layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "app/components/info-box.njk" import infoBox %}

{% set pageTitle = 'Questionnaires for review' %}

{% block content %}
	{%- set tableHeadItems = [
		{ text: "Appeal reference" },
		{ text: "Date due" },
		{ text: "Appeal site" },
		{ text: "Status" }
	] -%}

	{{ super() }}

	<h2 class="govuk-heading-l govuk-!-margin-bottom-1">
		Incoming questionnaires
	</h2>

	{%- if questionnairesList.incomingQuestionnaires.length > 0 -%}
		{{ govukTable({
			head: tableHeadItems,
			rows: questionnairesList.incomingQuestionnaires | makeQuestionnaireTableRows(reviewQuestionnairePath) })
		}}
	{%- else -%}
		{{ infoBox({ text: "No incoming questionnaires", classes: "govuk-!-margin-bottom-8" }) }}
	{%- endif -%}

	<h2 class="govuk-heading-l govuk-!-margin-bottom-1">
		Incomplete questionnaires
	</h2>

	{%- if questionnairesList.incompleteQuestionnaires.length > 0 -%}
		{{ govukTable({
			head: tableHeadItems,
			rows: questionnairesList.incompleteQuestionnaires | makeQuestionnaireTableRows(reviewQuestionnairePath) })
		}}
	{%- else -%}
		{{ infoBox({ text: "No incomplete questionnaires" }) }}
	{%- endif -%}
{% endblock %}
