{% extends "_layouts/layout-base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: "Appeal a planning decision",
    serviceUrl: "/lpa",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{%- macro detailsInput(type, idPrefix, labelText, details, checkboxItems) -%}
	{%- if type === 'textarea' -%}
		{{govukTextarea({
			id: idPrefix + '-missing-or-incorrect-reason',
			name: idPrefix + '-missing-or-incorrect-reason',
			label: { text: labelText },
			errorMessage: details.error and { text: details.error.msg },
			spellcheck: true,
			value: details.value,
			rows: '3'
		})}}
	{%- elif type === 'checkboxes' -%}
		{{govukCheckboxes({
			idPrefix: idPrefix + '-missing-or-incorrect-reason',
			name: idPrefix + '-missing-or-incorrect-reason',
			errorMessage: details.error and { text: details.error.msg },
			items: checkboxItems
		})}}
	{%- endif -%}
{%- endmacro -%}

{%- macro missingOrIncorrectCheckbox(id, completed, completedError, conditionalHtml) -%}
	{{ govukCheckboxes({
		idPrefix: id + "-missing-or-incorrect",
		name: id + "-missing-or-incorrect",
		classes: "govuk-checkboxes--small",
		formGroup: {
			classes: 'govuk-!-margin-bottom-0'
		},
		errorMessage: completedError and {
			text: completedError
		},
		items: [
			{
				value: "true",
				text: "Missing or incorrect",
				checked: completed === 'true',
				conditional: conditionalHtml
			}
		]
	}) }}
{%- endmacro -%}

{% block content %}
	{{ super() }}

	{% if errorSummary %}
		{{ govukErrorSummary({
			titleText: "There is a problem",
			errorList: errorSummary
		}) }}
	{% endif %}

	{{ govukBreadcrumbs({
		classes: 'govuk-!-margin-top-0 govuk-!-margin-bottom-8',
		items: [
			{ href: backURL, text: 'Questionnaires for review' },
			{ text: questionnaireData.AppealReference }
		]
	}) }}

	<h1 class="govuk-heading-xl">
		Review questionnaire
	</h1>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{{ govukTable({
				rows: [
					[
						{ html: '<strong>Appeal reference</strong>' },
						{ text: questionnaireData.AppealReference }
					],
					[
						{ html: '<strong>Appeal site</strong>' },
						{ html: questionnaireData.AppealSiteHtml }
					],
					[
						{ html: '<strong>Local planning department</strong>' },
						{ text: questionnaireData.LocalPlanningDepartment }
					]
				]
			}) }}
		</div>
	</div>

	<form action="" method="post" novalidate>
		<h2 class="govuk-heading-l govuk-!-margin-top-6">The planning application</h2>

		{{ govukTable({
			rows: [
				[
					{ html: '<strong>Planning application reference</strong>' },
					{ text: questionnaireData.PlanningApplicationreference },
					{ text: '' }
				],
				[
					{ html: '<strong>Decision notice</strong>' },
					{ html: '<a class="govuk-link" target="_blank" href="#">' + 'decision-notice.pdf' + '</a>' },
					{ text: '' }
				],
				[
					{ html: '<strong>Planning Officer\'s report</strong>' },
					{ html: '<a class="govuk-link" target="_blank" href="#">' + 'planning-officers-report.pdf' + '</a>' },
					{ html: missingOrIncorrectCheckbox(
						'planning-officers-report',
						reviewOutcome.planningOfficersReport.completed,
						reviewOutcome.planningOfficersReport.error
					)}
				],
				[
					{ html: '<strong>Plans used to reach decision</strong>' },
					{ html: '<a class="govuk-link" target="_blank" href="#">' + 'plans-used-to-reach-decision.pdf' + '</a>' },
					{ html: missingOrIncorrectCheckbox(
						'plans-used-to-reach-decision',
						reviewOutcome.plansUsedToReachDecision.completed,
						reviewOutcome.plansUsedToReachDecision.error,
						{ html: detailsInput('textarea', 'plans-used-to-reach-decision', 'Which plans are missing?', reviewOutcome.plansUsedToReachDecision.details)}
					)}
				]
			]
		}) }}

		<h2 class="govuk-heading-l govuk-!-margin-top-9">Local plans and policies</h2>

		{{ govukTable({
			rows: [
				[
					{ html: '<strong>Statutory development plan policies</strong>' },
					{
						html: '
							<a class="govuk-link" target="_blank" href="#">' + 'policy-and-supporting-text-1.pdf' + '</a><br />
							<a class="govuk-link" target="_blank" href="#">' + 'policy-and-supporting-text-2.pdf' + '</a><br />
							<a class="govuk-link" target="_blank" href="#">' + 'policy-and-supporting-text-3.pdf' + '</a>
						'
					},
					{ html: missingOrIncorrectCheckbox(
						'statutory-development-plan-policies',
						reviewOutcome.statutoryDevelopmentPlanPolicies.completed,
						reviewOutcome.statutoryDevelopmentPlanPolicies.error,
						{ html: detailsInput('textarea', 'statutory-development-plan-policies', 'Which policies are missing?', reviewOutcome.statutoryDevelopmentPlanPolicies.details)}
					)}
				],
				[
					{ html: '<strong>Other relevant policies</strong>' },
					{
						html: '
							<a class="govuk-link" target="_blank" href="#">' + 'policy-and-supporting-text-1.pdf' + '</a><br />
							<a class="govuk-link" target="_blank" href="#">' + 'policy-and-supporting-text-2.pdf' + '</a><br />
							<a class="govuk-link" target="_blank" href="#">' + 'policy-and-supporting-text-3.pdf' + '</a>
						'
					},
					{ html: missingOrIncorrectCheckbox(
						'other-relevant-policies',
						reviewOutcome.otherRelevantPolicies.completed,
						reviewOutcome.otherRelevantPolicies.error,
						{ html: detailsInput('textarea', 'other-relevant-policies', 'Which policies are missing?', reviewOutcome.otherRelevantPolicies.details)}
					)}
				],
				[
					{ html: '<strong>Supplementary planning documents</strong>' },
					{ text: 'No files uploaded' },
					{ html: missingOrIncorrectCheckbox(
						'supplementary-planning-documents',
						reviewOutcome.supplementaryPlanningDocuments.completed,
						reviewOutcome.supplementaryPlanningDocuments.error,
						{ html: detailsInput('textarea', 'supplementary-planning-documents', 'Which documents are missing?', reviewOutcome.supplementaryPlanningDocuments.details)}
					)}
				]
			]
		}) }}

		<h2 class="govuk-heading-l govuk-!-margin-top-9">About the appeal site</h2>

		{{ govukTable({
			rows: [
				[
					{ html: '<strong>Is the appeal site in or near a conservation area?</strong>' },
					{ text: 'Yes' },
					{ text: '' }
				],
				[
					{ html: '<strong>Conservation area map and guidance</strong>' },
					{ html: '<a class="govuk-link" target="_blank" href="#">' + 'conservation-area-plan.pdf' + '</a>' },
					{ html: missingOrIncorrectCheckbox(
						'conservation-area-guidance',
						reviewOutcome.conservationAreaGuidance.completed,
						reviewOutcome.conservationAreaGuidance.error,
						{ html: detailsInput('textarea', 'conservation-area-guidance', 'What is missing or incorrect?', reviewOutcome.conservationAreaGuidance.details)}
					)}
				],
				[
					{ html: '<strong>Would the development affect the setting of a listed building?</strong>' },
					{ text: 'Yes' },
					{ text: '' }
				],
				[
					{ html: '<strong>Listed building description</strong>' },
					{ text: 'There is a grade 2 listed building next door.' },
					{ html: missingOrIncorrectCheckbox(
						'listed-building-description',
						reviewOutcome.listedBuildingDescription.completed,
						reviewOutcome.listedBuildingDescription.error,
						{ html: detailsInput('textarea', 'listed-building-description', 'What is missing or incorrect?', reviewOutcome.listedBuildingDescription.details)}
					)}
				]
			]
		}) }}

		<h2 class="govuk-heading-l govuk-!-margin-top-9">Interested parties</h2>

		{{ govukTable({
			rows: [
				[
					{ html: '<strong>Application notification</strong>' },
					{ text: 'No files uploaded' },
					{ html: missingOrIncorrectCheckbox(
						'application-notification',
						reviewOutcome.applicationNotification.completed,
						reviewOutcome.applicationNotification.error,
						{ html: detailsInput('checkboxes', 'application-notification', 'What is missing or incorrect?', reviewOutcome.applicationNotification.details, [
							{ value: 'listOfAddresses', text: "List of addresses", checked: reviewOutcome.applicationNotification.details.checkValues['listOfAddresses'] },
							{ value: 'copyOfLetterOrSiteNotice', text: "Copy of letter or site notice", checked: reviewOutcome.applicationNotification.details.checkValues['copyOfLetterOrSiteNotice'] }
						])}
					)}
				],
				[
					{ html: '<strong>Application publicity</strong>' },
					{ text: 'No files uploaded' },
					{ html: missingOrIncorrectCheckbox(
						'application-publicity',
						reviewOutcome.applicationPublicity.completed,
						reviewOutcome.applicationPublicity.error
					)}
				],
				[
					{ html: '<strong>Representations</strong>' },
					{ text: 'No files uploaded' },
					{ html: missingOrIncorrectCheckbox(
						'representations',
						reviewOutcome.representations.completed,
						reviewOutcome.representations.error,
						{ html: detailsInput('textarea', 'representations', 'Which representations are missing or incorrect?', reviewOutcome.representations.details)}
					)}
				],
				[
					{ html: '<strong>Appeal notification</strong>' },
					{ text: 'No files uploaded' },
					{ html: missingOrIncorrectCheckbox(
						'appeal-notification',
						reviewOutcome.appealNotification.completed,
						reviewOutcome.appealNotification.error,
						{ html: detailsInput('checkboxes', 'appeal-notification', 'What is missing or incorrect?', reviewOutcome.appealNotification.details, [
							{ value: 'listOfAddresses', text: "List of addresses", checked: reviewOutcome.appealNotification.details.checkValues['listOfAddresses'] },
							{ value: 'copyOfLetterOrSiteNotice', text: "Copy of letter or site notice", checked: reviewOutcome.appealNotification.details.checkValues['copyOfLetterOrSiteNotice'] }
						])}
					)}
				]
			]
		}) }}

		<h2 class="govuk-heading-l govuk-!-margin-top-9">Finished your review?</h2>

		<div class="govuk-button-group">
			{{ govukButton({ text: 'Continue' | default('Continue') }) }}
		</div>
	</form>

{% endblock %}
