{% extends "../layouts/applications.layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
	<aside>
		{{ govukBackLink({
			text: "Back",
			href: backLink
		}) }}
	</aside>
{% endblock %}

{% block pageHeading %}
	<h1 class="govuk-heading-l">{{ pageHeading }}</h1>
{% endblock %}

{% block pageContent %}
	<form method="post" novalidate="novalidate" class="pins-applications-create govuk-grid-row">
		{{ govukTable(tableData) }}

		{{ govukWarningText({
			text: warningText,
			iconFallbackText: "Warning"
		}) }}

		{{ govukButton({
			text: "Delete",
			classes: "govuk-button--warning"
		}) }}
	</form>
{% endblock %}
