{% macro representationsTableComponent(representations, caseId) %}
	<table class="govuk-table">
		<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header">Reference</th>
			<th scope="col" class="govuk-table__header">From</th>
			<th scope="col" class="govuk-table__header">Date received</th>
			<th scope="col" class="govuk-table__header">Redacted</th>
			<th scope="col" class="govuk-table__header">Status</th>
			<th scope="col" class="govuk-table__header">Actions</th>
		</tr>
		</thead>
		<tbody class="govuk-table__body">
		{% for reps in representations %}
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">{{ reps.reference }}</td>
				<td class="govuk-table__cell">{{ reps.title }}</td>
				<td class="govuk-table__cell">{{ reps.received}}</td>
				<td class="govuk-table__cell">{{ reps.redacted}}</td>
				{{ statusTag(reps.status, loop.index) }}
				<td class="govuk-table__cell">
					<a href="/applications-service/case/{{caseId}}/relevant-representations/{{reps.id}}/representation-details"> Review </a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endmacro %}

{% macro statusTag(status, index) %}
	<td class="govuk-table__cell">

		<span class="govuk-tag {{ status.class }}" id="list-convictions-status-{{ index }}">{{ status.text}}</span>
		</td>
{% endmacro %}
