{% extends "../case/layouts/applications-case-layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "applications/representations/components/table/representations-table.component.njk" import representationsTableComponent %}
{% from "applications/components/status-tag.component.njk" import statusTag %}
{% from "applications/components/pagination/results-per-page.component.njk" import uiPageSizeInformation, uiPaginationLinks %}
{% from "applications/representations/components/pre-search.component.njk" import preSearch %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% set pageTitle = "Relevant representations - " + case.title + " - NSIP applications" %}
{% block title %}{{ pageTitle }}{% endblock %}
{% block beforeContent %}
    <aside>
	    {{ govukBreadcrumbs({
		    classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-2",
		    items: [
			    {
				    text: "Project documentation",
				    href: "/applications-service/case/" + caseId + "/project-documentation"
			    },
			    {
				    text: "Relevant representations",
				    href: "#"
			    }
		    ]
	    }) }}
    </aside>
{% endblock %}

{% block pageContent %}

	{% if unpublishedRepsCount > 0 %}
		{% set successBannerHtml %}
			<p class="govuk-notification-banner__heading">
				{{ unpublishedRepsCount }} Representations have been unpublished.
			</p>

			<a href="{{ resetSuccessBannerURL }}" id="clear-success-notification-link" class="govuk-link">Clear notification</a>
		{% endset %}
		{{
			govukNotificationBanner({
				attributes: { id: "unpublish-success-banner" },
				type: 'success',
				html: successBannerHtml
			})
		}}
	{% endif %}

	{% if publishedRepsCount > 0 %}
		{% set successBannerHtml %}
			<p class="govuk-notification-banner__heading">
				{{ publishedRepsCount }} representation{{ 's' if publishedRepsCount > 1 }} published.
			</p>

			<a href="{{ resetSuccessBannerURL }}" id="clear-success-notification-link" class="govuk-link">Clear notification</a>
		{% endset %}

		{{ govukNotificationBanner({
			attributes: { id: "success-banner" },
			html: successBannerHtml,
			type: 'success'
		}) }}
	{% endif %}

	{% if showUnpublishedRepUpdatesBanner %}
		{% set infoBannerHtml %}
			<p class="govuk-notification-banner__heading">
				Changes have been made. These changes have not been published.
			</p>

			<p class="govuk-body">
				<a class="govuk-notification-banner__link" href="{{ publishQueueURL }}">
					Preview and publish the changes
				</a>
			</p>

			<a href="#" id="clear-update-notification-link" class="govuk-link">Clear notification</a>
		{% endset %}

		{{ govukNotificationBanner({
			attributes: { id: "unpublished-changes-banner" },
			html: infoBannerHtml
		}) }}

		<script nonce="{{ cspNonce }}">
			document.getElementById('clear-update-notification-link').addEventListener('click', (e) => {
				e.preventDefault()
				document.getElementById('unpublished-changes-banner').style.display = 'none'
			});
		</script>
	{% endif %}

	<h2 class="govuk-heading-l">Relevant representations</h2>

	<form method="GET">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-half">
				{{ preSearch(filters) }}
			</div>

			<div class="govuk-grid-column-one-half">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-6">
					Key dates
				</h3>

				<p class="govuk-body govuk-!-margin-bottom-1">
					<strong>{{ keyDates.closingDate }}</strong>
				</p>

				<p class="govuk-body govuk-!-margin-bottom-6">
					{% if keyDates.state == 'open' %}
						Closing date
					{% else %}
						Closed date
					{% endif %}
				</p>

				<p class="govuk-body govuk-!-margin-bottom-1">
					<strong>
					{% if keyDates.state == 'published' %}
						{{ keyDates.publishedDate }}
					{% else %}
						{{ keyDates.reviewDate }}
					{% endif %}
					</strong>
				</p>

				<p class="govuk-body govuk-!-margin-bottom-6">
					{% if keyDates.state == 'published' %}
						Published date
					{% else %}
						Target date for review and completion
					{% endif %}
				</p>

				{{ govukButton({
					text: "Add a representation",
					href: "/applications-service/case/" + caseId + "/relevant-representations/contact-details?repType=represented",
					classes: "govuk-button--secondary"
				}) }}

				{% if totalPublishedReps is defined and totalPublishedReps > 1 %}
					<p class="govuk-body">
						<a class="govuk-link" href="/applications-service/case/{{ caseId }}/unpublish-representations">
							Unpublish all published representations
						</a>
					</p>
				{% endif %}

				<p class="govuk-body">
					<a class="govuk-link"
					   href="/applications-service/case/{{ caseId }}/relevant-representations/api/download" download>
						Download valid and published representations (CSV)</a>
				</p>
			</div>
		</div>

		{% if isRelevantRepsPeriodClosed %}
			<p class="govuk-body">
				<a class="govuk-link" href="{{ publishQueueURL }}">View publishing queue</a>
			</p>
		{% endif %}

		<h3 class="govuk-heading-m">Search representations</h3>

			<input type="hidden" name="page" value="{{ queryData.page }}">
			<input type="hidden" name="pageSize" value="{{ queryData.pageSize }}">
			<input type="hidden" name="sortBy" value="{{ queryData.sortBy }}">

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-one-half">
					{{ govukInput({
						id: "searchTerm",
						name: "searchTerm",
						value: queryData.searchTerm
					}) }}
				</div>

				<div class="govuk-grid-column-one-half">
					{{ govukButton({
						classes: "govuk-button--secondary",
						text: "Search",
						name: "searchUpdated",
						value: "updated"
					}) }}
				</div>
			</div>

			{% if representations.length > 0 %}
				{{ uiPageSizeInformation(pagination) }}
				{{ representationsTableComponent(representations, table, caseId) }}
				{{ uiPaginationLinks(pagination) }}
			{% else %}
				<p>No matching representations to show.</p>
			{% endif %}

	</form>
{% endblock %}
