{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "app/components/document-list.component.njk" import documentList %}
{% from "appeals/inspector/components/site-visit-details.component.njk" import siteVisitDetails %}

{% macro appealEvidence(appeal) %}
  {{ 
    govukAccordion({
      id: "appeal-details",
      headingLevel: 3,
      items: [
        {
          expanded: true,
          heading: { text: "Case details" },
          content: {
            html: govukSummaryList({
              rows: [
                { 
                  key: { text: 'Appellant name' },
                  value: { text: appeal.appellantName } 
                },
                { 
                  key: { text: 'Agent name' },
                  value: { text: appeal.agentName or '-' } 
                },
                { 
                  key: { text: 'Contact email address' },
                  value: { html: '<a class="govuk-link" href="mailto:' + appeal.email + '">' + appeal.email  + '</a>' } 
                },
                {
                  key: { text: 'Date appeal received' },
                  value: { text: appeal.appealReceivedDate }
                },
                {
                  key: { text: 'Description of development' },
                  value: { text: appeal.descriptionOfDevelopment }
                }
              ]
            })
          }
        },
        {
          heading: { text: 'Appellant case' },
          content: {
            html: govukSummaryList({
              rows: [
                { 
					        key: { text: 'Appeal statement' }, 
					        value: {
                    html: documents(appeal.Documents | filter({ Type: 'appeal statement' }))
                  }
				        },
				        { 
                  key: { text: 'Supporting documents' },
                  value: {
                    html: documents(appeal.Documents | filter({ Type: '?' }))
                  }
                }
              ]
            })
          }
        },
        {
          heading: { text: 'Local planning department documents' },
          content: {
            html: govukSummaryList({
             rows: [
                { 
                  key: { text: 'Plans used to reach decision' }, 
                  value: {
                    html: documents(appeal.Documents | filter({ Type: 'plans used to reach decision' }))
                  }
                },
                { 
                  key: { text: 'Planning application form' },
                  value: {
                    html: documents(appeal.Documents | filter({ Type: 'planning application form' }))
                  }
                },
                {
                  key: { text: 'Planning Officer\'s report' },
                  value: {
                    html: documents(appeal.Documents | filter({ Type: 'planning officer report' }))
                  }
                },
                {
                  key: { text: 'Decision notice' },
                  value: {
                    html: documents(appeal.Documents | filter({ Type: 'decision notice' }))
                  }
                },
                {
                  key: { text: 'Extra conditions' },
                  value: { text: appeal.extraConditions | booleanAnswer }
                },
                {
                  key: { text: 'Details of planning history' },
                  value: {
                    html: documents(appeal.Documents | filter({ Type: 'details of planning history' }))
                  }
                },
                {
                  key: { text: 'Supporting documents' },
                  value: {
                    html: documents(appeal.Documents | filter({ Type: 'supporting document' }))
                  }
                }
              ]
            })
          }
        },
        {
          heading: { text: 'Constraints' },
          content: {
            html: govukSummaryList({
              rows: [
                {
                  key: { text: 'Affects listed building' },
                  value: { text: appeal.affectsListedBuilding | booleanAnswer }
                },
                {
                  key: { text: 'In green belt' },
                  value: { text: appeal.inGreenBelt | booleanAnswer }
                },
                {
                  key: { text: 'In or near a conservation area' },
                  value: { text: appeal.inOrNearConservationArea | booleanAnswer }
                }
              ]
            })
          }
        },
        {
          heading: { text: 'Policies' },
          content: {
            html: govukSummaryList({
              rows: [
                {
                  key: { text: 'Statutory development plan policy' },
                  value: {
                    html: documents(appeal.Documents | filter({ Type: 'statutory development plan policy' }))
                  }
                },
                {
                  key: { text: 'Other relevant policies' },
                  value: {
                    html: documents(appeal.Documents | filter({ Type: 'other relevant policy' }))
                  }
                },
                {
                  key: { text: 'Supplementary planning documents' },
                  value: {
                    html: documents(appeal.Documents | filter({ Type: 'supplementary planning document' }))
                  }
                },
                {
                  key: { text: 'Emerging development plan or neighbourhood plan' },
                  value: {
                    html: [
                      appeal.emergingDevelopmentPlanOrNeighbourhoodPlan | booleanAnswer
                    ] | concat(
                      [appeal.emergingDevelopmentPlanOrNeighbourhoodPlan] if appeal.emergingDevelopmentPlanOrNeighbourhoodPlan else []
                    ) | join('<br>')
                  }
                }
              ]
            })
          }
        },
        {
          heading: { text: 'Representations' },
          content: {
            html: govukSummaryList({
              rows: [
                {
                  key: { text: 'Representations' },
                  value: {
                    html: documents(appeal.Documents | filter({ Type: 'representation' }))
                  }
                }
              ]
            })
          }
        },
        {
          heading: { text: 'Correspondence' },
          content: {
            html: govukSummaryList({
              rows: [
                {
                  key: { text: 'Application notification' },
                  value: {
                    html: documents(appeal.Documents | filter({ Type: 'application notification' }))
                  }
                },
                {
                  key: { text: 'Application publicity' },
                  value: {
                    html: documents(appeal.Documents | filter({ Type: 'application publicity' }))
                  }
                },
                {
                  key: { text: 'Appeal notification' },
                  value: {
                    html: documents(appeal.Documents | filter({ Type: 'appeal notification' }))
                  }
                }
              ]
            })
          }
        },
        {
          heading: { text: 'Site access' },
          content: {
            html: siteVisitDetails(appeal)
          }
        }
      ]
    })
  }}
{% endmacro %}

{% macro documents(files) %}
  {% if files.length > 0 %}
    {{ documentList(files) }}
  {% else %}
    -
  {% endif %}
{% endmacro%}