{% set dataTypeDefaults = {
  appellantName: true,
  appealReference: true,
  appealAge: true,
  appealSite: true,
  localPlanningDepartment: true
} %}

{% macro appealSummary(params) %}
  {% set dataTypes = dataTypeDefaults | assign(params.dataTypes or {}) %}

  <aside class="govuk-!-margin-bottom-8">
    <h3 class="govuk-heading-m">Summary</h3>
    <dl class="govuk-body-s">
      {% if dataTypes.appellantName %}
        <div class="govuk-!-margin-bottom-3">
          <dt class="govuk-!-font-weight-bold">Appellant name</dt>
          <dd>{{ params.appeal.appellantName }}</dd>
        </div>
      {% endif %}
      {% if dataTypes.appealReference %}
        <div class="govuk-!-margin-bottom-3">
          <dt class="govuk-!-font-weight-bold">Appeal reference</dt>
          <dd>{{ params.appeal.reference }}</dd>
        </div>
      {% endif %}
      {% if dataTypes.appealAge %}
        <div class="govuk-!-margin-bottom-3">
          <dt class="govuk-!-font-weight-bold">Appeal age</dt>
          <dd>{{ params.appeal.appealAge }} day{{ 's' if params.appeal.appealAge !== 1 }}</dd>
        </div>
      {% endif %}
      {% if dataTypes.appealSite %}
        <div class="govuk-!-margin-bottom-3">
          <dt class="govuk-!-font-weight-bold">Site address</dt>
          <dd>{{ params.appeal.address | collapse(', ') }}</dd>
        </div>
      {% endif %}
      {% if dataTypes.localPlanningDepartment %}
        <div class="govuk-!-margin-bottom-3">
          <dt class="govuk-!-font-weight-bold">Local planning department</dt>
          <dd>{{ params.appeal.localPlanningDepartment }}</dd>
        </div>
      {% endif %}
    </dl>
  </aside>
{% endmacro %}